flows/Account_Dealer_Enabled_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dealer_Enabled_Job_Status_email</name>
        <label>Dealer Enabled Job Status email</label>
        <locationX>595</locationX>
        <locationY>721</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue> cps@cummins.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>vamsi.jandhyala@cummins.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Enable Dealer Guidanz Evolution Job - Summary Report</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>QueueObjectsAssignment</name>
        <label>Queue Objects Assignment</label>
        <locationX>924</locationX>
        <locationY>860</locationY>
        <actionName>EVL_QueueObjectAssignemnt</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Dealer_Enabled_Job_Status_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>varUserLocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>User_Locations1</name>
        <label>User Locations</label>
        <locationX>1088</locationX>
        <locationY>859</locationY>
        <actionName>EVL_UpdateUserLocations</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>QueueObjectsAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Locations</name>
            <value>
                <elementReference>varUserLocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignCount_0</name>
        <label>AssignCount</label>
        <locationX>1082</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>EligiblePartnerAccountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DeleaerEnabledRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Locations1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecordCollectionToUpdate</name>
        <label>RecordCollectionToUpdate</label>
        <locationX>1534</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>DeleaerEnabledRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_on_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TotalRecords</name>
        <label>TotalRecords</label>
        <locationX>829</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>RecordsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Dealer_Enabled_Account_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dealer_Records_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Partner_check</name>
        <label>update Partner check</label>
        <locationX>1234</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Iterate_on_Records.IsPartner</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_on_Records.Is_Partner_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_on_Records.FSL_LastRun_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_Locations</name>
        <label>User Locations</label>
        <locationX>1360</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>varUserLocations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_on_Records.Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordCollectionToUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dealer_Records_Found</name>
        <label>Dealer Records Found</label>
        <locationX>823</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Dealer_Enabled_Job_Status_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dealer_Records_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Dealer_Enabled_Account_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_on_Records</targetReference>
            </connector>
            <label>Dealer Records available</label>
        </rules>
    </decisions>
    <description>EST Timezone, Wed - 10:00 PM</description>
    <formulas>
        <name>LastMonth</name>
        <dataType>Date</dataType>
        <expression>TODAY()-15</expression>
    </formulas>
    <interviewLabel>Account  Dealer Enabled Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account  Dealer Enabled Records</label>
    <loops>
        <name>Iterate_on_Records</name>
        <label>Iterate on Records</label>
        <locationX>1204</locationX>
        <locationY>256</locationY>
        <collectionReference>Get_Dealer_Enabled_Account_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_Partner_check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Dealer_Enabled_Account_Records</name>
        <label>Get Dealer Enabled Account Records</label>
        <locationX>617</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TotalRecords</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 ) AND 4 AND 5</filterLogic>
        <filters>
            <field>FSL_DLR_Onboarding__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPartner</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Partner_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_Info.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>LastMonth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Partner_Account__c</queriedFields>
        <queriedFields>FSL_DLR_Onboarding__c</queriedFields>
        <queriedFields>IsPartner</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Info</name>
        <label>Get RecordType Info</label>
        <locationX>440</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealer_Enabled_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WWSPS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Records</name>
        <label>Update Account Records</label>
        <locationX>1083</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>AssignCount_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Dealer_Enabled_Job_Status_email</targetReference>
        </faultConnector>
        <inputReference>DeleaerEnabledRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_RecordType_Info</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-07-13</startDate>
            <startTime>22:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Number of Dealer locations selected for onboarding this week: {!RecordsCount}
 Number of records updated for processing this week :   {!EligiblePartnerAccountCount}
 Number of records not processed this week : {!EligiblePartnerAccountCount}-{!RecordsCount}</text>
    </textTemplates>
    <variables>
        <name>DeleaerEnabledRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EligiblePartnerAccountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecordsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varLastMonth</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserLocations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
