flows/Add_Minutes_to_Scheduled_End_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ServiceTerritory</name>
        <label>ServiceTerritory</label>
        <locationX>367</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>TerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Timesheet_end_date_is_Null</name>
        <label>Timesheet end date is Null</label>
        <locationX>906</locationX>
        <locationY>300</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Timesheet_End</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FSL_Timesheet__r.EndTime__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timesheet__r.EndTime__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_scheduled_End_Time</targetReference>
            </connector>
            <label>Check Timesheet End</label>
        </rules>
    </decisions>
    <formulas>
        <name>Add5mins</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.SchedEndTime}+(5/(24*60))</expression>
    </formulas>
    <formulas>
        <name>Add5minToDuration</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Duration}+(5/60)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Minutes to Scheduled End Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Add Minutes to Scheduled End Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_scheduled_End_Time</name>
        <label>Update scheduled End Time</label>
        <locationX>537</locationX>
        <locationY>525</locationY>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Add5minToDuration</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ServiceTerritory</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Add_5_mins_to_Scheduled_End</name>
            <connector>
                <targetReference>Timesheet_end_date_is_Null</targetReference>
            </connector>
            <label>Add 5 mins to Scheduled End</label>
            <maxBatchSize>100</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SchedEndTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
