flows/CG_Update_ODMStatus_On_Retrigger_Of_PartsOptions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>updatePartsODMStatus</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>updatePartsODMStatusforClaims</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>CG_CL_UpdatePartsOptionsODMStatus</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>idList</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>idList</name>
            <value>
                <elementReference>myVariable_current.CSS_Claims__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Claim Parts?</label>
        </rules>
    </decisions>
    <description>Updates ODMStatus on change of any of the mentioned fields in parts Options</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[CSS_Parts_Options__c].Css_Claims__c &lt;&gt; null &amp;&amp; 
(PRIORVALUE([CSS_Parts_Options__c].Account_Code__c) &lt;&gt; [CSS_Parts_Options__c].Account_Code__c) &amp;&amp;
 (([CSS_Parts_Options__c].RecordType.Name = &quot;Parts&quot; 
 &amp;&amp;  (PRIORVALUE([CSS_Parts_Options__c].Warranty_Allocation__c) &lt;&gt; [CSS_Parts_Options__c].Warranty_Allocation__c || 
PRIORVALUE([CSS_Parts_Options__c].Service_partnumber__c) &lt;&gt; [CSS_Parts_Options__c].Service_partnumber__c
|| PRIORVALUE([CSS_Parts_Options__c].Quantity_Used__c) &lt;&gt; [CSS_Parts_Options__c].Quantity_Used__c
 || ISCHANGED([CSS_Parts_Options__c].selected_part__c)  
 || PRIORVALUE([CSS_Parts_Options__c].Fail_Code__c) &lt;&gt; [CSS_Parts_Options__c].Fail_Code__c )) ||
 
 ([CSS_Parts_Options__c].RecordType.Name = &quot;OtherClaimables&quot; &amp;&amp; 
 (PRIORVALUE([CSS_Parts_Options__c].Amount__c) &lt;&gt; [CSS_Parts_Options__c].Amount__c || 
PRIORVALUE([CSS_Parts_Options__c].Part_Description__c) &lt;&gt; [CSS_Parts_Options__c].Part_Description__c
|| TEXT(PRIORVALUE([CSS_Parts_Options__c].Item__c)) &lt;&gt; TEXT([CSS_Parts_Options__c].Item__c)
 || ISCHANGED([CSS_Parts_Options__c].selected_part__c) 
 || PRIORVALUE([CSS_Parts_Options__c].Fail_Code__c) &lt;&gt; [CSS_Parts_Options__c].Fail_Code__c )) ||
 
 
 ([CSS_Parts_Options__c].RecordType.Name = &quot;TTML&quot; &amp;&amp; 
 
 ((ISPICKVAL([CSS_Parts_Options__c].Type__c, &quot;Meals&quot;) = true || 
 ISPICKVAL([CSS_Parts_Options__c].Type__c, &quot;Towing&quot;) = true) &amp;&amp; 
 ( PRIORVALUE([CSS_Parts_Options__c].HoursTravelled__c) &lt;&gt; [CSS_Parts_Options__c].HoursTravelled__c  || 
   PRIORVALUE([CSS_Parts_Options__c].ExpenseTotal__c) &lt;&gt; [CSS_Parts_Options__c].ExpenseTotal__c || 
   PRIORVALUE([CSS_Parts_Options__c].Fail_Code__c) &lt;&gt; [CSS_Parts_Options__c].Fail_Code__c ||
 ISCHANGED([CSS_Parts_Options__c].selected_part__c)))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.CSS_Claims__c} &lt;&gt; null &amp;&amp; 
(PRIORVALUE({!myVariable_current.Account_Code__c}) &lt;&gt; {!myVariable_current.Account_Code__c}) &amp;&amp;
 (({!myVariable_current.RecordType.Name} = &quot;Parts&quot; 
 &amp;&amp;  (PRIORVALUE({!myVariable_current.Warranty_Allocation__c}) &lt;&gt; {!myVariable_current.Warranty_Allocation__c} || 
PRIORVALUE({!myVariable_current.Service_partnumber__c}) &lt;&gt; {!myVariable_current.Service_partnumber__c}
|| PRIORVALUE({!myVariable_current.Quantity_Used__c}) &lt;&gt; {!myVariable_current.Quantity_Used__c}
 || ISCHANGED({!myVariable_current.Selected_Part__c})  
 || PRIORVALUE({!myVariable_current.Fail_Code__c}) &lt;&gt; {!myVariable_current.Fail_Code__c} )) ||
 
 ({!myVariable_current.RecordType.Name} = &quot;OtherClaimables&quot; &amp;&amp; 
 (PRIORVALUE({!myVariable_current.Amount__c}) &lt;&gt; {!myVariable_current.Amount__c} || 
PRIORVALUE({!myVariable_current.Part_Description__c}) &lt;&gt; {!myVariable_current.Part_Description__c}
|| TEXT(PRIORVALUE({!myVariable_current.Item__c})) &lt;&gt; TEXT({!myVariable_current.Item__c})
 || ISCHANGED({!myVariable_current.Selected_Part__c}) 
 || PRIORVALUE({!myVariable_current.Fail_Code__c}) &lt;&gt; {!myVariable_current.Fail_Code__c} )) ||
 
 
 ({!myVariable_current.RecordType.Name} = &quot;TTML&quot; &amp;&amp; 
 
 ((ISPICKVAL({!myVariable_current.Type__c}, &quot;Meals&quot;) = true || 
 ISPICKVAL({!myVariable_current.Type__c}, &quot;Towing&quot;) = true) &amp;&amp; 
 ( PRIORVALUE({!myVariable_current.HoursTravelled__c}) &lt;&gt; {!myVariable_current.HoursTravelled__c}  || 
   PRIORVALUE({!myVariable_current.ExpenseTotal__c}) &lt;&gt; {!myVariable_current.ExpenseTotal__c} || 
   PRIORVALUE({!myVariable_current.Fail_Code__c}) &lt;&gt; {!myVariable_current.Fail_Code__c} ||
 ISCHANGED({!myVariable_current.Selected_Part__c})))))</expression>
    </formulas>
    <interviewLabel>CG_Update_ODMStatus_On_Retrigger_Of_PartsOptions-7_InterviewLabel</interviewLabel>
    <label>CG_Update_ODMStatus_On_Retrigger_Of_PartsOptions</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>CSS_Parts_Options__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CSS_Parts_Options__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CSS_Parts_Options__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
