flows/CG_Update_ODMStatus_On_Retrigger_Of_SRT.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>updateSRTODMStatus</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>UpdateSRTODMStatusOnRetrigger</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>CG_CL_UpdateSRTODMStatus</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>idList</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>idList</name>
            <value>
                <elementReference>myVariable_current.Job_Order__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>updateSRTODMStatus</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>UpdateSRTODMStatusOnRetriggerClaims</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>CG_CL_UpdateSRTODMStatus</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>idList</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>idList</name>
            <value>
                <elementReference>myVariable_current.CSS_Claims__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Check Retrigger Fields for SRT-ServiceJob</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Check Retrigger Fields for SRT-Claims</label>
        </rules>
    </decisions>
    <description>Update ODM Status of all SRTs on change of SRT Code, Select</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>( PRIORVALUE([CSS_SRT__c].SRT_ID__c) &lt;&gt; [CSS_SRT__c].SRT_ID__c || PRIORVALUE([CSS_SRT__c].FailCode__c) &lt;&gt; [CSS_SRT__c].FailCode__c
|| PRIORVALUE([CSS_SRT__c].Account_Code__c) &lt;&gt; [CSS_SRT__c].Account_Code__c ||

ISCHANGED([CSS_SRT__c].isPerformed__c ) || 

ISCHANGED([CSS_SRT__c].SRT_AccessiblityCheck__c ) ) &amp;&amp;  

[CSS_SRT__c].Job_Order__c  &lt;&gt; null</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>( PRIORVALUE({!myVariable_current.SRT_ID__c}) &lt;&gt; {!myVariable_current.SRT_ID__c} || PRIORVALUE({!myVariable_current.FailCode__c}) &lt;&gt; {!myVariable_current.FailCode__c}
|| PRIORVALUE({!myVariable_current.Account_Code__c}) &lt;&gt; {!myVariable_current.Account_Code__c} ||

ISCHANGED({!myVariable_current.isPerformed__c} ) || 

ISCHANGED({!myVariable_current.SRT_AccessiblityCheck__c} ) ) &amp;&amp;  

{!myVariable_current.Job_Order__c}  &lt;&gt; null</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>( PRIORVALUE([CSS_SRT__c].SRT_ID__c) &lt;&gt; [CSS_SRT__c].SRT_ID__c || PRIORVALUE([CSS_SRT__c].FailCode__c) &lt;&gt; [CSS_SRT__c].FailCode__c
|| PRIORVALUE([CSS_SRT__c].Account_Code__c) &lt;&gt; [CSS_SRT__c].Account_Code__c ||

ISCHANGED([CSS_SRT__c].isPerformed__c ) || 

ISCHANGED([CSS_SRT__c].SRT_AccessiblityCheck__c ) ) &amp;&amp;  

[CSS_SRT__c].CSS_Claims__c &lt;&gt; null</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>( PRIORVALUE({!myVariable_current.SRT_ID__c}) &lt;&gt; {!myVariable_current.SRT_ID__c} || PRIORVALUE({!myVariable_current.FailCode__c}) &lt;&gt; {!myVariable_current.FailCode__c}
|| PRIORVALUE({!myVariable_current.Account_Code__c}) &lt;&gt; {!myVariable_current.Account_Code__c} ||

ISCHANGED({!myVariable_current.isPerformed__c} ) || 

ISCHANGED({!myVariable_current.SRT_AccessiblityCheck__c} ) ) &amp;&amp;  

{!myVariable_current.CSS_Claims__c} &lt;&gt; null</expression>
    </formulas>
    <interviewLabel>CG_Update_ODMStatus_On_Retrigger_Of_SRT-13_InterviewLabel</interviewLabel>
    <label>CG_Update_ODMStatus_On_Retrigger_Of_SRT</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>CSS_SRT__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CSS_SRT__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CSS_SRT__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
