flows/Create_Skill_Requirements_from_Asset_SMN.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_has_Prior_Skills</name>
        <label>Check has Prior Skills</label>
        <locationX>217</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>Get_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Prior Skills</defaultConnectorLabel>
        <rules>
            <name>Has_Prior_Skills</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorReqSkills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Prior_Skills</targetReference>
            </connector>
            <label>Has Prior Skills</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_has_Skills</name>
        <label>Check has Skills</label>
        <locationX>758</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SkillsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCollect_Skills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_thru_SMN_Skills</targetReference>
            </connector>
            <label>SkillsFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Skill_exists</name>
        <label>Check if Skill exists</label>
        <locationX>1055</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>Iterate_thru_SMN_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SkillFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLocSkillIdToUse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Skill_Requirement</targetReference>
            </connector>
            <label>SkillFound</label>
        </rules>
    </decisions>
    <interviewLabel>Create Skill Requirements from Asset SMN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Skill Requirements from Asset SMN</label>
    <loops>
        <name>Iterate_thru_SMN_Skills</name>
        <label>Iterate thru SMN Skills</label>
        <locationX>1014</locationX>
        <locationY>57</locationY>
        <assignNextValueToReference>varSingle_Skill</assignNextValueToReference>
        <collectionReference>varCollect_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Skill</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Skill_Requirement</name>
        <label>Create Skill Requirement</label>
        <locationX>846</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Iterate_thru_SMN_Skills</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>varExternal_WOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkillId</field>
            <value>
                <elementReference>varLocSkillIdToUse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>SMN Skills</stringValue>
            </value>
        </inputAssignments>
        <object>SkillRequirement</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Prior_Skills</name>
        <label>Delete Prior Skills</label>
        <locationX>546</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Get_Skills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varExternal_WOID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMN Skills</stringValue>
            </value>
        </filters>
        <object>SkillRequirement</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Prior_Required_Skills</name>
        <label>Get Prior Required Skills</label>
        <locationX>58</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_has_Prior_Skills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varExternal_WOID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMN Skills</stringValue>
            </value>
        </filters>
        <object>SkillRequirement</object>
        <outputReference>varPriorReqSkills</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Skill</name>
        <label>Get Skill</label>
        <locationX>1129</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Skill_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varSingle_Skill.Description</elementReference>
            </value>
        </filters>
        <object>Skill</object>
        <outputAssignments>
            <assignToReference>varLocSkillIdToUse</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Skills</name>
        <label>Get Skills</label>
        <locationX>546</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_has_Skills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varExternal_ServiceModel</elementReference>
            </value>
        </filters>
        <object>Skill</object>
        <outputReference>varCollect_Skills</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <startElementReference>Get_Prior_Required_Skills</startElementReference>
    <status>Active</status>
    <variables>
        <description>To collect he skills based on SMN</description>
        <name>varCollect_Skills</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <name>varExternal_ServiceModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExternal_WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLocSkillIdToUse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorReqSkills</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <description>To store skill each time</description>
        <name>varSingle_Skill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
</Flow>
