flows/Create_Tech_and_Bay_SAs_from_Work_Order_and_Appointment_Dependency.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Creates Bay SA &amp; Tech SA from Work order and the FSL appointment dependency between the two items created.</description>
    <formulas>
        <name>loc_DurationInHrs</name>
        <dataType>Number</dataType>
        <expression>{!loc_WODurationInMinutes} / 60</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Tech and Bay SAs from Work Order and Appointment Dependency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tech and Bay SAs from Work Order and Appointment Dependency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates Bay SA</description>
        <name>Create_Bay_SA</name>
        <label>Create Bay SA</label>
        <locationX>580</locationX>
        <locationY>247</locationY>
        <assignRecordIdToReference>loc_ServiceAppointment2_Id</assignRecordIdToReference>
        <connector>
            <targetReference>CreateAppointmentDependency</targetReference>
        </connector>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>loc_DurationInHrs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_a_Bay_Area_Appointment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordCreates>
        <description>Create the first Service Appointment - tech SA</description>
        <name>Create_Tech_SA</name>
        <label>Create Tech SA</label>
        <locationX>580</locationX>
        <locationY>434</locationY>
        <assignRecordIdToReference>loc_ServiceAppointment1_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Bay_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>loc_DurationInHrs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <stringValue>Hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_a_Tech_Appointment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordCreates>
        <description>Links the Tech SA and Bay SA by creating a FSL Time Dependency entry.</description>
        <name>CreateAppointmentDependency</name>
        <label>Create Appointment Dependency</label>
        <locationX>815</locationX>
        <locationY>247</locationY>
        <assignRecordIdToReference>loc_AppointmentDependencyId</assignRecordIdToReference>
        <inputAssignments>
            <field>FSL__Dependency__c</field>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Root_Service_Appointment__c</field>
            <value>
                <elementReference>loc_ServiceAppointment1_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Same_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_1__c</field>
            <value>
                <elementReference>loc_ServiceAppointment1_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_2__c</field>
            <value>
                <elementReference>loc_ServiceAppointment2_Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSL__Time_Dependency__c</object>
    </recordCreates>
    <recordLookups>
        <description>Gets current Work Order Id</description>
        <name>GetWorkOrder</name>
        <label>GetWorkOrder</label>
        <locationX>159</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Tech_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>loc_WODurationInMinutes</assignToReference>
            <field>DurationInMinutes</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loc_AppointmentDependencyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loc_DurationType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the first service appointment&apos;s id</description>
        <name>loc_ServiceAppointment1_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loc_ServiceAppointment2_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loc_WODurationInMinutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Variable for holding The Id of the Work Order where the Custom Button that launches this is.</description>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
