flows/CSM_Service_Request_Create_Update_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_MoreInfo</name>
        <label>Email-MoreInfo</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>Case.CCM_More_Info_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Additional_Comment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_MoreInfo_CSCA</name>
        <label>Email-MoreInfo-CSCA</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <actionName>Case.CSCA_More_Info_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Additional_Comments_CSCA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_MoreInfo_CSDlr</name>
        <label>Email-MoreInfo-CSDlr</label>
        <locationX>1634</locationX>
        <locationY>528</locationY>
        <actionName>Case.CS_Dlr_More_Info_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Additional_Comments_CSDlr</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_MoreInfo_CSEMail</name>
        <label>Email-MoreInfo-CSEMail</label>
        <locationX>2690</locationX>
        <locationY>528</locationY>
        <actionName>Case.CSEMail_More_Info_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Additional_Comments_CSEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_MoreInfo_CSNorth</name>
        <label>Email-MoreInfo-CSNorth</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <actionName>Case.CSNorth_More_Info_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Additional_Comments_CSNorth</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_MoreInfo_CSSouth</name>
        <label>Email-MoreInfo-CSSouth</label>
        <locationX>1370</locationX>
        <locationY>528</locationY>
        <actionName>Case.CSSouth_More_Info_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Additional_Comments_CSSouth</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_MoreInfo_CSWest</name>
        <label>Email-MoreInfo-CSWest</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <actionName>Case.CSWest_More_Info_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Additional_Comments_CSWest</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_MoreInfo_MP</name>
        <label>Email-MoreInfo_MP</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <actionName>Case.MP_More_Info_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Additional_Comment_MP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_MoreInfo_QuickServe</name>
        <label>Email-MoreInfo-QuickServe</label>
        <locationX>2426</locationX>
        <locationY>528</locationY>
        <actionName>Case.QuickServe_More_Info_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Additional_Comments_QSOL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_MoreInfo_Subscription</name>
        <label>Email-MoreInfo-Subscription</label>
        <locationX>1898</locationX>
        <locationY>528</locationY>
        <actionName>Case.Subscriptions_More_Info_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Additional_Comments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_MoreInfo_Telematics</name>
        <label>Email-MoreInfo-Telematics</label>
        <locationX>2162</locationX>
        <locationY>528</locationY>
        <actionName>Case.Telematics_More_Info_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Additional_Comments_Telematics</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Adding_Child_to_list</name>
        <label>Adding Child to list</label>
        <locationX>3394</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>UpdateCaseRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_child_case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_child_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGNING_STATUS</name>
        <label>ASSIGNING STATUS</label>
        <locationX>3394</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>Iterating_child_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterating_child_case.Case_Closing_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case_Closing_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Child_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Conditions</name>
        <label>Conditions</label>
        <locationX>2536</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_Info_Needed_from_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_More_Info_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Origin</targetReference>
            </connector>
            <label>More Info Needed from Customer?</label>
        </rules>
        <rules>
            <name>Is_Parent_Case_being_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_child_Records</targetReference>
            </connector>
            <label>Is Parent Case being Closed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origin</name>
        <label>Origin</label>
        <locationX>1502</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_More_Info_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_MoreInfo</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>MP_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MP Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_More_Info_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_MoreInfo_MP</targetReference>
            </connector>
            <label>MP Email</label>
        </rules>
        <rules>
            <name>CSCA_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCA Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_More_Info_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_MoreInfo_CSCA</targetReference>
            </connector>
            <label>CSCA Email</label>
        </rules>
        <rules>
            <name>CS_West</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSWest Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_More_Info_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_MoreInfo_CSWest</targetReference>
            </connector>
            <label>CS West</label>
        </rules>
        <rules>
            <name>CS_North</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSNorth Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_More_Info_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_MoreInfo_CSNorth</targetReference>
            </connector>
            <label>CS North</label>
        </rules>
        <rules>
            <name>CS_South</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSSouth Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_More_Info_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_MoreInfo_CSSouth</targetReference>
            </connector>
            <label>CS South</label>
        </rules>
        <rules>
            <name>CS_Dlr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS Dlr Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_More_Info_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_MoreInfo_CSDlr</targetReference>
            </connector>
            <label>CS Dlr</label>
        </rules>
        <rules>
            <name>Subscription_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscriptions Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_More_Info_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_MoreInfo_Subscription</targetReference>
            </connector>
            <label>Subscription Email</label>
        </rules>
        <rules>
            <name>Telematics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telematics</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_More_Info_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_MoreInfo_Telematics</targetReference>
            </connector>
            <label>Telematics</label>
        </rules>
        <rules>
            <name>QSOL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuickServe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_More_Info_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_MoreInfo_QuickServe</targetReference>
            </connector>
            <label>QSOL</label>
        </rules>
        <rules>
            <name>CS_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSEmail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_More_Info_Email_to_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_MoreInfo_CSEMail</targetReference>
            </connector>
            <label>CS Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origin_Check_For_30_Days</name>
        <label>Origin Check For 30 Days</label>
        <locationX>3966</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X30_Days_Closure_Logic</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MP Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telematics</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuickServe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closure_30_days</targetReference>
            </connector>
            <label>30 Days Closure Logic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origin_Check_For_5_Days_0</name>
        <label>Origin Check For 5 Days</label>
        <locationX>4494</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X5Days_Case_Closure_Logic</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7) AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCA Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSWest Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSNorth Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSEmail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS Dlr Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscriptions Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSSouth Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closure_5_Days</targetReference>
            </connector>
            <label>5Days Case Closure Logic</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CSM Service Request Create Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSM Service Request Create Update Flow</label>
    <loops>
        <name>Iterating_child_case</name>
        <label>Iterating child case</label>
        <locationX>3306</locationX>
        <locationY>528</locationY>
        <collectionReference>Get_child_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASSIGNING_STATUS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_childs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_child_Records</name>
        <label>Get child Records</label>
        <locationX>3306</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_child_case</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Duplicate - Merged</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - No Response</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Case_Closure_30_days</name>
        <label>Case Closure 30 days</label>
        <locationX>3834</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Case_Closing_Comments__c</field>
            <value>
                <stringValue>Case is Auto-Closed by system as there is no response back from customer within 30 days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <stringValue>Case is Auto-Closed by system as there is no response back from customer within 30 days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - No Response</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Case_Closure_5_Days</name>
        <label>Case Closure 5 Days</label>
        <locationX>4362</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Case_Closing_Comments__c</field>
            <value>
                <stringValue>Case is Auto-Closed by system as there is no response back from customer within 5 days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <stringValue>Case is Auto-Closed by system as there is no response back from customer within 5 days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - No Response</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Additional_Comment</name>
        <label>Update Additional Comment</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Additional_Comment_MP</name>
        <label>Update Additional Comment MP</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Additional_Comments</name>
        <label>Update Additional Comments</label>
        <locationX>1898</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Additional_Comments_CSCA</name>
        <label>Update Additional Comments CSCA</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Additional_Comments_CSDlr</name>
        <label>Update Additional Comments CSDlr</label>
        <locationX>1634</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Additional_Comments_CSEmail</name>
        <label>Update Additional Comments CSEmail</label>
        <locationX>2690</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Additional_Comments_CSNorth</name>
        <label>Update Additional Comments CSNorth</label>
        <locationX>1106</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Additional_Comments_CSSouth</name>
        <label>Update Additional Comments CSSouth</label>
        <locationX>1370</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Additional_Comments_CSWest</name>
        <label>Update Additional Comments CSWest</label>
        <locationX>842</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Additional_Comments_QSOL</name>
        <label>Update Additional Comments QSOL</label>
        <locationX>2426</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Additional_Comments_Telematics</name>
        <label>Update Additional Comments Telematics</label>
        <locationX>2162</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Additional_Comments__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_childs</name>
        <label>Update childs</label>
        <locationX>3306</locationX>
        <locationY>984</locationY>
        <inputReference>UpdateCaseRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>3389</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Conditions</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting on Info</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X30Days_Email_MoreInfo_AutoClose</name>
            <connector>
                <targetReference>Origin_Check_For_30_Days</targetReference>
            </connector>
            <label>30Days-Email-MoreInfo-AutoClose</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X5Days_Email_MoreInfo_AutoClose</name>
            <connector>
                <targetReference>Origin_Check_For_5_Days_0</targetReference>
            </connector>
            <label>5Days-Email-MoreInfo-AutoClose</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdateCaseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
