flows/CSM_Case_auto_response_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CSM_Customer_Support_Management_Case_Creation_Auto_Response_0</name>
        <label>Case.CSM_Customer_Support_Management_Case_Creation_Auto_Response</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.CSM_Customer_Support_Management_Case_Creation_Auto_Response</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>IsChildTicket</name>
        <label>IsChildTicket?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChildTicket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Ticket__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSM_Customer_Support_Management_Case_Creation_Auto_Response_0</targetReference>
            </connector>
            <label>ChildTicket</label>
        </rules>
    </decisions>
    <description>Migrated from the: CSM Case auto response Email workflow rule
Workflow rule description: &quot;</description>
    <environments>Default</environments>
    <label>CSM Case auto response Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsChildTicket</targetReference>
        </connector>
        <filterFormula>AND(ISPICKVAL({!$Record.Status}, &apos;Submitted&apos;), {!$Record.RecordType.DeveloperName}  = &apos;CCM&apos;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
</Flow>
