flows/CSM_Case_Closure_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>CS Dlr- Case Closure</description>
        <name>CS_Dlr_Case_Closure</name>
        <label>CS Dlr- Case Closure</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Case.CS_Dlr_Case_Closure</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CSCA_Case_Closure</name>
        <label>CSCA Case Closure</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Case.CSCA_Case_Closure</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CSEmail_Case_Closure</name>
        <label>CSEmail Case  Closure</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <actionName>Case.CSEmail_CaseClosure</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CSNorth_Case_Closure</name>
        <label>CSNorth - Case Closure</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Case.CSNorth_Case_Closure</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CSWest_Case_Closure</name>
        <label>CSWest_Case_Closure</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.CSWest_Case_Closure</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>GDNZ Send Closure Email</description>
        <name>GDNZ_Send_Closure_Email</name>
        <label>GDNZ Send Closure Email</label>
        <locationX>2426</locationX>
        <locationY>455</locationY>
        <actionName>Case.Send_email_to_contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>MP - Case Closure</description>
        <name>MP_Case_Closure</name>
        <label>MP - Case Closure</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <actionName>Case.MP_Case_Closure</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Quick_Service_Case_Closure</name>
        <label>Quick Service Case Closure</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <actionName>Case.QuickServe_Case_Closure</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Subscriptions- Case Closure</description>
        <name>Subscriptions_Case_Closure</name>
        <label>Subscriptions- Case Closure</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>Case.Subscriptions_Case_Closure</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Telematics_Case_Closure</name>
        <label>Telematics Case Closure</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <actionName>Case.Telematics_Case_Closure</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Email_Origin</name>
        <label>Email Origin</label>
        <locationX>1370</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSWest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSWest Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ServiceRequest_CCM_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSWest_Case_Closure</targetReference>
            </connector>
            <label>CSWest</label>
        </rules>
        <rules>
            <name>CSCanada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCA Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ServiceRequest_CCM_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSCA_Case_Closure</targetReference>
            </connector>
            <label>CSCanada</label>
        </rules>
        <rules>
            <name>CSNorth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSNorth Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ServiceRequest_CCM_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSNorth_Case_Closure</targetReference>
            </connector>
            <label>CSNorth</label>
        </rules>
        <rules>
            <name>CSDlr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS Dlr Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ServiceRequest_CCM_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Dlr_Case_Closure</targetReference>
            </connector>
            <label>CSDlr</label>
        </rules>
        <rules>
            <name>Subscriptions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscriptions Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ServiceRequest_CCM_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subscriptions_Case_Closure</targetReference>
            </connector>
            <label>Subscriptions</label>
        </rules>
        <rules>
            <name>MP_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MP Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ServiceRequest_CCM_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MP_Case_Closure</targetReference>
            </connector>
            <label>MP Email</label>
        </rules>
        <rules>
            <name>CSEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSEmail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ServiceRequest_CCM_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CSEmail_Case_Closure</targetReference>
            </connector>
            <label>CSEmail</label>
        </rules>
        <rules>
            <name>Telematics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telematics</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ServiceRequest_CCM_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Telematics_Case_Closure</targetReference>
            </connector>
            <label>Telematics</label>
        </rules>
        <rules>
            <name>QuickServe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuickServe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ServiceRequest_CCM_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quick_Service_Case_Closure</targetReference>
            </connector>
            <label>QuickServe</label>
        </rules>
        <rules>
            <name>GdnzSupportEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.ServiceRequest_CCM_RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GDNZ_Send_Closure_Email</targetReference>
            </connector>
            <label>GdnzSupportEmail</label>
        </rules>
    </decisions>
    <description>CSM Case Closure Notification</description>
    <environments>Default</environments>
    <interviewLabel>CSM Case Closure Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSM Case Closure Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Origin</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received - Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed - No Response</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Send_Closure_Email_to_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
