flows/CSS_FSL_Fault_Code_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calling invocalble method SendEmailCommunication</description>
        <name>Call_SendEmailCommunication</name>
        <label>Call SendEmailCommunication</label>
        <locationX>801</locationX>
        <locationY>336</locationY>
        <actionName>FSL_ServiceOrderCommunicationUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_SendTextCommunication</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Wids</name>
            <value>
                <elementReference>Wids</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Call_SendTextCommunication</name>
        <label>Call SendTextCommunication</label>
        <locationX>801</locationX>
        <locationY>456</locationY>
        <actionName>FSL_SendServiceOrderTextCommunication</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SOIds</name>
            <value>
                <elementReference>$Record.Service_Order__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <description>Input Variable for Fault Code Update Flow</description>
        <name>Wids</name>
        <dataType>String</dataType>
        <expression>{!$Record.Service_Order__c}+&apos;;&apos;+&apos;Troubleshooting_Started&apos;</expression>
    </formulas>
    <interviewLabel>CSS FSL Fault Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSS FSL Fault Code Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Serice</name>
        <label>UpdateCommunicationType</label>
        <locationX>425</locationX>
        <locationY>416</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Communication_Type__c</field>
            <value>
                <stringValue>Automated Communication</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>483</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Update_Serice</targetReference>
        </connector>
        <filterFormula>AND(       
NOT(ISBLANK({!$Record.Id})),
NOT(ISBLANK({!$Record.Service_Order__c})),
{!$Record.Service_Order__r.Fault_Code_Communication_Trigger__c}=FALSE,
OR(
ISPICKVAL({!$Record.Service_Order__r.Repair_Location__c}, &apos;In Shop&apos;),
ISPICKVAL({!$Record.Service_Order__r.Repair_Location__c}, &apos;Mobile&apos;)
)
)</filterFormula>
        <object>CSS_Fault_Code__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SOIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
