flows/CSS_PB_EditComplaint.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intake Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>When Status is set to Intake Complete</label>
        </rules>
    </decisions>
    <description>TO Concatenate category and complaint type when DSID is Created</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISPICKVAL([CSS_Job_Order__c].Category__c , &apos;&apos;) , &apos;&apos; , &apos;Category = &apos;+TEXT([CSS_Job_Order__c].Category__c)+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL([CSS_Job_Order__c].Complaint_Type__c , &apos;&apos;) , &apos;&apos; , &apos;Complaint type = &apos;+TEXT([CSS_Job_Order__c].Complaint_Type__c)+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL([CSS_Job_Order__c].Category2__c , &apos;&apos;) , &apos;&apos; , &apos;Category = &apos;+TEXT([CSS_Job_Order__c].Category2__c)+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL([CSS_Job_Order__c].Complaint_Type2__c , &apos;&apos;) , &apos;&apos; , &apos;Complaint type = &apos;+TEXT([CSS_Job_Order__c].Complaint_Type2__c)+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL([CSS_Job_Order__c].Category3__c , &apos;&apos;) , &apos;&apos; , &apos;Category = &apos;+TEXT([CSS_Job_Order__c].Category3__c)+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL([CSS_Job_Order__c].Complaint_Type3__c , &apos;&apos;) , &apos;&apos; , &apos;Complaint type = &apos;+TEXT([CSS_Job_Order__c].Complaint_Type3__c)+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL([CSS_Job_Order__c].Category4__c , &apos;&apos;) , &apos;&apos; , &apos;Category = &apos;+TEXT([CSS_Job_Order__c].Category4__c)+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL([CSS_Job_Order__c].Complaint_Type4__c , &apos;&apos;) , &apos;&apos; , &apos;Complaint type = &apos;+TEXT([CSS_Job_Order__c].Complaint_Type4__c)+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL([CSS_Job_Order__c].Category5__c , &apos;&apos;) , &apos;&apos; , &apos;Category = &apos;+TEXT([CSS_Job_Order__c].Category5__c)+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL([CSS_Job_Order__c].Complaint_Type5__c , &apos;&apos;) , &apos;&apos; , &apos;Complaint type = &apos;+TEXT([CSS_Job_Order__c].Complaint_Type5__c)+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF([CSS_Job_Order__c].General_Symptoms__c == &apos;&apos;, &apos;&apos; , &apos;Customer Complaint = &apos;+[CSS_Job_Order__c].General_Symptoms__c+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_EditComplaint_c</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!myVariable_current.Category__c} , &apos;&apos;) , &apos;&apos; , &apos;Category = &apos;+TEXT({!myVariable_current.Category__c})+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL({!myVariable_current.Complaint_Type__c} , &apos;&apos;) , &apos;&apos; , &apos;Complaint type = &apos;+TEXT({!myVariable_current.Complaint_Type__c})+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL({!myVariable_current.Category2__c} , &apos;&apos;) , &apos;&apos; , &apos;Category = &apos;+TEXT({!myVariable_current.Category2__c})+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL({!myVariable_current.Complaint_Type2__c} , &apos;&apos;) , &apos;&apos; , &apos;Complaint type = &apos;+TEXT({!myVariable_current.Complaint_Type2__c})+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL({!myVariable_current.Category3__c} , &apos;&apos;) , &apos;&apos; , &apos;Category = &apos;+TEXT({!myVariable_current.Category3__c})+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL({!myVariable_current.Complaint_Type3__c} , &apos;&apos;) , &apos;&apos; , &apos;Complaint type = &apos;+TEXT({!myVariable_current.Complaint_Type3__c})+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL({!myVariable_current.Category4__c} , &apos;&apos;) , &apos;&apos; , &apos;Category = &apos;+TEXT({!myVariable_current.Category4__c})+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL({!myVariable_current.Complaint_Type4__c} , &apos;&apos;) , &apos;&apos; , &apos;Complaint type = &apos;+TEXT({!myVariable_current.Complaint_Type4__c})+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL({!myVariable_current.Category5__c} , &apos;&apos;) , &apos;&apos; , &apos;Category = &apos;+TEXT({!myVariable_current.Category5__c})+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF(ISPICKVAL({!myVariable_current.Complaint_Type5__c} , &apos;&apos;) , &apos;&apos; , &apos;Complaint type = &apos;+TEXT({!myVariable_current.Complaint_Type5__c})+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;)) + IF({!myVariable_current.General_Symptoms__c} == &apos;&apos;, &apos;&apos; , &apos;Customer Complaint = &apos;+{!myVariable_current.General_Symptoms__c}+ SUBSTITUTE($Label.CSS_PB_NewLineLabel,&quot;-&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>CSS_PB_EditComplaint-19_CSS_Job_Order__c</interviewLabel>
    <label>CSS_PB_EditComplaint</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>CSS_Job_Order__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[CSS_Job_Order__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Compliant</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EditComplaint</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>EditComplaint__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_EditComplaint_c</elementReference>
            </value>
        </inputAssignments>
        <object>CSS_Job_Order__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CSS_Job_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CSS_Job_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
