flows/CSS_SRT_Failure_Code_Callout.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>failureCodeToJobEventTemp</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>UpsertJobEventTemporary</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>CSS_ServiceJobTriggerHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>smn_engcode</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>smn_engcode</name>
            <value>
                <elementReference>formula_3_myRule_1_A1_1889440463</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>admin</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>To Insert Admin SRT&apos;s on creation of DSID</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>CSS_AutoAddAdminSRT</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Input</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>Input</name>
            <value>
                <elementReference>formula_2_myRule_1_A2_1358329143</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Is DSID Created</label>
        </rules>
    </decisions>
    <description>To make future callout to bring failure codes from SRT once DSID is created</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[CSS_Job_Order__c].Id  + &apos;;;&apos; + 

TEXT([CSS_Job_Order__c].Repair_Location__c) +&apos;;;&apos;+
[CSS_Job_Order__c].Application_Desc__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_1358329143</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Id}  + &apos;;;&apos; + 

TEXT({!myVariable_current.Repair_Location__c}) +&apos;;;&apos;+
{!myVariable_current.Application_Desc__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[CSS_Job_Order__c].Service_Model__c + &apos;;;&apos; +  [CSS_Job_Order__c].Qsol_Engine_Family_Code__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_1889440463</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Service_Model__c} + &apos;;;&apos; +  {!myVariable_current.Qsol_Engine_Family_Code__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([CSS_Job_Order__c].DSID__c ) &amp;&amp; PRIORVALUE([CSS_Job_Order__c].DSID__c ) == null &amp;&amp; [CSS_Job_Order__c].Service_Model__c != null &amp;&amp; [CSS_Job_Order__c].Qsol_Engine_Family_Code__c != null</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.DSID__c} ) &amp;&amp; PRIORVALUE({!myVariable_current.DSID__c} ) == null &amp;&amp; {!myVariable_current.Service_Model__c} != null &amp;&amp; {!myVariable_current.Qsol_Engine_Family_Code__c} != null</expression>
    </formulas>
    <interviewLabel>CSS_SRT_Failure_Code_Callout-12_InterviewLabel</interviewLabel>
    <label>CSS SRT Failure Code Callout</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>CSS_Job_Order__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CSS_Job_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CSS_Job_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
