flows/EVL_Guidanz_Generate_Email_Notification_Flow_Subscriber.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EVL_Guidanz_Application_Access_Notification_0</name>
        <label>EVL Guidanz Application Access Notification</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varRecipientEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varSenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varTextEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EVL_Guidanz_Application_Access_Notification_0_0</name>
        <label>EVL Guidanz Application Access Notification</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varDefaultRecipientEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varSenderEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varTextEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_the_recipient_Email_Address</name>
        <label>Add the recipient Email Address</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>varRecipientEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Contact_Email_id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecipientEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.User_Email_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Recipient_Email_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Recipient_Email_Address</name>
        <label>Check for Recipient Email Address</label>
        <locationX>182</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>EVL_Guidanz_Application_Access_Notification_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Email Not Available</defaultConnectorLabel>
        <rules>
            <name>If_email_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecipientEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EVL_Guidanz_Application_Access_Notification_0</targetReference>
            </connector>
            <label>If email Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EVL Guidanz Generate Email Notification - After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EVL Guidanz Generate Email Notification - Flow Subscriber</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_the_recipient_Email_Address</targetReference>
        </connector>
        <object>EVL_Guidanz_Generate_Email_Notification__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;html&gt;

&lt;head&gt;



&lt;style type=&quot;text/css&quot;&gt;

 .tg { border-collapse:collapse; border-spacing:0; margin:0px auto; }

 .tg td{ padding: 5px 10px; overflow: hidden;word-break: normal;}

 .tg .tg-0pky{vertical-align:top}

&lt;/style&gt;



&lt;/head&gt;

   

&lt;body style=&quot;margin: 0px auto; font-family: &quot;ProximaNova&quot;, &apos;TeXGyreHerosRegular&apos;, &quot;Arial&quot;, sansserif; font-weight:400&quot;&gt;



&lt;table class=&quot;tg&quot; style=&quot;width:600px; border : 1px solid #000;&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; align=&quot;center&quot;&gt;

   

&lt;tr&gt;

  &lt;td class=&quot;tg-0lax&quot; colspan=&quot;2&quot; style=&quot;padding-top: 18px; width: 52px; height: 48px&quot;&gt;

&lt;img src=&quot;https://connectedsolutions.cummins.com/Services/img/cumminslog.gif&quot; width=&quot;52&quot; height=&quot;48&quot; /&gt; &lt;/td&gt;

&lt;/tr&gt; 



&lt;tr&gt;

  &lt;td class=&quot;tg-0lax&quot; colspan=&quot;2&quot; style=&quot;padding-top: 3px; height: 20px&quot;&gt;

    &lt;table style=&quot;height: 20px; width: 100%; background-color: #da291c&quot;&gt;

       &lt;tr&gt;

         &lt;td&gt;&lt;/td&gt;

       &lt;/tr&gt;

    &lt;/table&gt;

  &lt;/td&gt;

&lt;/tr&gt;    

     

&lt;tr&gt;

  &lt;td class=&quot;tg-0lax&quot; colspan=&quot;2&quot; style=&quot;padding-top: 10px&quot;&gt;

   &lt;span style=&quot;font-weight: bold;&quot;&gt;Dear {!$Record.Contact_Name__c},&lt;/span&gt;

    &lt;/br&gt;

   &lt;/td&gt;

 &lt;/tr&gt;

   

&lt;tr&gt;

  &lt;td class=&quot;tg-0lax&quot; colspan=&quot;2&quot; &gt;Your username {!$Record.IAM_Username__c}, has now been granted access to Dealer Guidanz. If you have used Guidanz Web in the past, you will be receiving a second email requesting you to setup a new password for your existing User ID in order to access the application. Please do so immediately to ensure you can access the system on your Go-Live date. If you have not used Guidanz Web in the past, you can use your existing Cummins credentials to login to the new Dealer Guidanz.&lt;br/&gt;&lt;br/&gt;

Please bookmark and use the below URL to login to Dealer Guidanz: &lt;br/&gt;

https://dealerguidanz.cummins.com

&lt;td/&gt;

&lt;/tr&gt; 

 &lt;tr&gt;

  &lt;td class=&quot;tg-0lax&quot; colspan=&quot;2&quot; &gt;If you have any questions or concerns, please send an email to guidanz@cummins.com for assistance and mention you are a Guidanz Limited Release Location. &lt;/td&gt;

&lt;/tr&gt;

&lt;tr&gt;

  &lt;td class=&quot;tg-0lax&quot; colspan=&quot;2&quot;&gt;

    &lt;hr style=&quot;&quot;&gt;

   &lt;span style=&quot;font-size:12px;color:#999999 &quot;&gt;This auto-generated e-mail was sent from Cummins.&lt;/span&gt; &lt;/td&gt;

&lt;/tr&gt;

   

&lt;/table&gt;

   

&lt;/body&gt;

&lt;/html&gt;</text>
    </textTemplates>
    <variables>
        <name>varDefaultRecipientEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>srinivas.challa@cummins.com,vamsi.jandhyala@cummins.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRecipientEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSenderEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>noreply.identity@cummins.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTextEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Welcome to Cummins Guidanz</stringValue>
        </value>
    </variables>
</Flow>
