flows/Form_History_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Status_Assignment</name>
        <label>Status_Assignment</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status_FormsHistory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Modified_By_FormsHistory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastModifiedBy_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.disco_LastModifiedDate_FormsHitsory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_History_Update</targetReference>
        </connector>
    </assignments>
    <description>This flow will enable history tracking for Status, last modifiedby and Lastmodifieddate of Forms object.</description>
    <formulas>
        <name>LastModifiedBy_Formula</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastModifiedBy.FirstName} &amp; &apos; &apos; &amp; {!$Record.LastModifiedBy.LastName}</expression>
    </formulas>
    <formulas>
        <name>Status_Formula</name>
        <dataType>String</dataType>
        <expression>IF ({!$Record.disco__Archived__c}= true,&quot;ARCHIVED&quot;,
IF( {!$Record.disco__Locked__c}= true,&quot;LOCKED&quot;,
IF( {!$Record.disco__Save_Complete__c}= true,&quot;SUBMITTED&quot;,
IF ( {!$Record.disco__Form_Edited__c},&quot;IN PROGRESS&quot;,&quot;NEW&quot;
)
)
)
)</expression>
    </formulas>
    <interviewLabel>Form_History_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Form_History_Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Form_History_Update</name>
        <label>Form_History_Update</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Assignment</targetReference>
        </connector>
        <object>disco__Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
