flows/FSL_Clock_In_Mobile_and_Desktop.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Shop_Vehicle_numbers</name>
        <label>Get Shop Vehicle numbers</label>
        <locationX>6068</locationX>
        <locationY>1660</locationY>
        <actionName>FSL_CL_GetShopVehicles</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_User_def_Vehicle</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>recordWO.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ListOfShopvehicleNumbers</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_User_def_Vehicle</name>
        <label>Get User def Vehicle</label>
        <locationX>6068</locationX>
        <locationY>1849</locationY>
        <actionName>FSL_CL_GetUserDefinedVehicle</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_User_Def_record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>recordWO.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UserDefVehicle</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Time_sheet_Entry_Names</name>
        <label>Add Time sheet Entry Names</label>
        <locationX>4098</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Error_TimeSheetEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookTSE.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_TimeSheetEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_WorkOrderNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkorderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error_WorkOrderNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Time_Sheet_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ClockIn_User_Ids</name>
        <label>Assign ClockIn User Ids</label>
        <locationX>1317</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>recordWOExtension.Clock_In_User_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookTSE.Resource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordWOExtension.Clock_In_User_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordWOExtension.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordWO.Service_Order_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOpenTE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ClockIn_User_Ids_0</name>
        <label>Assign ClockIn User Ids</label>
        <locationX>8544</locationX>
        <locationY>5114</locationY>
        <assignmentItems>
            <assignToReference>recordWOExtension.Clock_In_User_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookTSE.Resource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordWOExtension.Clock_In_User_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordWOExtension.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordWO.Service_Order_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOpenTE_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning User Defined Vehicle to single record</description>
        <name>Assign_Single_SVN</name>
        <label>Assign Single SVN</label>
        <locationX>5958</locationX>
        <locationY>2221</locationY>
        <assignmentItems>
            <assignToReference>UserVehicleAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserDefVehicleRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Def_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNullTo_Clock_In_User_Ids</name>
        <label>AssignNullTo_Clock_In_User_Ids</label>
        <locationX>1425</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>recordWOExtension.Clock_In_User_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordWOExtension.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordWO.Service_Order_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAllOpenTimeEntryForJob</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNullTo_Clock_In_User_Ids_0</name>
        <label>AssignNullTo_Clock_In_User_Ids</label>
        <locationX>8652</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>recordWOExtension.Clock_In_User_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordWOExtension.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordWO.Service_Order_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAllOpenTimeEntryForJob_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_User_1</name>
        <label>Selected User 1</label>
        <locationX>5066</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>SelectedVehicle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userVehicleID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Vehicle</name>
        <label>Selected Vehicle 1</label>
        <locationX>5330</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>SelectedVehicle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VehicleLookupDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Vehicle_0</name>
        <label>Selected Vehicle 1</label>
        <locationX>5330</locationX>
        <locationY>3818</locationY>
        <assignmentItems>
            <assignToReference>SelectedVehicle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VehicleLookupDetails_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Vehicle_2</name>
        <label>Selected Vehicle 2</label>
        <locationX>4802</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>SelectedVehicle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_Lookup_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Vehicle_3</name>
        <label>Selected Vehicle 3</label>
        <locationX>4538</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>SelectedVehicle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VehicleLookup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value</name>
        <label>Value</label>
        <locationX>5913</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>AdditionalAccount_Subtype.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdditionalSubtype_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reason_Travel_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>value2</name>
        <label>value2</label>
        <locationX>7090</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>AdditionalAccount_Subtype.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdditionalSubtype_Account_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reason_Travel_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value4</name>
        <label>Value4</label>
        <locationX>9994</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>AdditionalAccount_Subtype.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Sub_type_Payer_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value_3</name>
        <label>Value3</label>
        <locationX>9730</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>AdditionalAccount_Subtype.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdditionalSubtype_Account_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>add</name>
        <choiceText>add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>add</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice</name>
        <choiceText>choice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choice</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>shop</name>
        <choiceText>shop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>shop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shop_Territory_Vehicle_Radio</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Shop Territory Vehicle&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shop Territory Vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <name>singleChoicRec</name>
        <choiceText>{!UserVehicleAssignment} - User defined vehicle</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>User_Defined_Vehicle_Radio</name>
        <choiceText>User Defined Vehicle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>User Defined  Vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Userdefinedvehicle1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!userDefinedVehicle} - User Defined Vehicle&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>userDefinedVehicle</elementReference>
        </value>
    </choices>
    <choices>
        <name>UserDefinedVehicleChoice</name>
        <choiceText>{!UserVehicleAssignment}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>UserVehicleAssignment</elementReference>
        </value>
    </choices>
    <constants>
        <name>BMSValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BMS</stringValue>
        </value>
    </constants>
    <constants>
        <name>Other</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check WorkOrder Number is Blank</description>
        <name>Check_ERP_WorkOrder_Number</name>
        <label>Check ERP WorkOrder Number</label>
        <locationX>7838</locationX>
        <locationY>926</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ERPWON_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.Shop_Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_ERP_WorkOrder_Error_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>ERPWON_N0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.Shop_Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_has_open_timesheets_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if ERP WorkOrder Number is blank for Mobile</description>
        <name>Check_ERP_WorkOrder_Number_Mobile</name>
        <label>Check ERP WorkOrder Number Mobile</label>
        <locationX>1326</locationX>
        <locationY>806</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ERPWON_YesM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.Shop_Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordWO.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>MovexRecordTypeName.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_ERP_WorkOrder_Error_Message_Mobile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>ERPWON_NoM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.Shop_Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_has_open_timesheets</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Timesheets_Exists</name>
        <label>Check Previous Timesheets Exists</label>
        <locationX>6331</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>Clock_In_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Time_sheet_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllTimesheetsForUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_All_Time_Sheet_Entries</targetReference>
            </connector>
            <label>Previous Time sheet Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choosen_Vehicle</name>
        <label>Choosen Vehicle</label>
        <locationX>5330</locationX>
        <locationY>3086</locationY>
        <defaultConnector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Defined_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VehicleLookupDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Userdefinedvehicle1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_User_1</targetReference>
            </connector>
            <label>User Defined selected?</label>
        </rules>
        <rules>
            <name>Service_Territory_Vehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VehicleLookupDetails</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Userdefinedvehicle1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VehicleLookupDetails</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Vehicle</targetReference>
            </connector>
            <label>Service Territory Vehicle?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choosen_Vehicle_0</name>
        <label>Choosen Vehicle</label>
        <locationX>5462</locationX>
        <locationY>3698</locationY>
        <defaultConnector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Territory_Vehicle_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VehicleLookupDetails_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Vehicle_0</targetReference>
            </connector>
            <label>Service Territory Vehicle?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CICOFLAG</name>
        <label>CICOFLAG</label>
        <locationX>2228</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CICOCHECKTRUEMOBILE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.isCICOVisible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenTimesheetForUser</targetReference>
            </connector>
            <label>CICOCHECKTRUEMOBILE</label>
        </rules>
        <rules>
            <name>CICOCHECKFALSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.isCICOVisible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CICOValidationMobile</targetReference>
            </connector>
            <label>CICOCHECKFALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>CICOVisibilityFlag</name>
        <label>CICOVisibilityFlag</label>
        <locationX>10720</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CICOCHECKTRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.isCICOVisible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenTimesheetEntriesForUser_0</targetReference>
            </connector>
            <label>CICOCHECKTRUE</label>
        </rules>
        <rules>
            <name>CICONotVisible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.isCICOVisible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CICOValidationMessage</targetReference>
            </connector>
            <label>CICONotVisible</label>
        </rules>
    </decisions>
    <decisions>
        <name>ERP_Spac</name>
        <label>ERP Spac</label>
        <locationX>7029</locationX>
        <locationY>2246</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Movex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>erp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Subtype_Account</targetReference>
            </connector>
            <label>Movex</label>
        </rules>
        <rules>
            <name>movex_uk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>erp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX-UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Subtype_Account_0</targetReference>
            </connector>
            <label>movex-uk</label>
        </rules>
        <rules>
            <name>Movex_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>erp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MoveX_Billing_Type</targetReference>
            </connector>
            <label>Movex Internal</label>
        </rules>
        <rules>
            <name>Movex_UK_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>erp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX-UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Movex_Uk_Billing_Type</targetReference>
            </connector>
            <label>Movex-UK Internal</label>
        </rules>
        <rules>
            <name>Reason_Working1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Working_Reason</targetReference>
            </connector>
            <label>Reason Working1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Id vs recordId to determine if flow is launched from desktop or mobile.</description>
        <name>Mobile_or_Desktop</name>
        <label>Mobile or Desktop?</label>
        <locationX>8179</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>varId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Work_Order</targetReference>
            </connector>
            <label>Mobile – Id Found</label>
        </rules>
        <rules>
            <name>varRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Work_Order_0</targetReference>
            </connector>
            <label>Desktop  – RecordId Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>MoveX_UK_Billing</name>
        <label>MoveX UK Billing</label>
        <locationX>10522</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MOVEX_UK_Billing_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX-UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Meal Period</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Type_MoveX_UK</targetReference>
            </connector>
            <label>MOVEX-UK Billing check</label>
        </rules>
        <rules>
            <name>BMS_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Meal Period</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BMS_Working_Billing_Type</targetReference>
            </connector>
            <label>BMS Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Time_Entry_Exists_2</name>
        <label>Open Time Entry Exists?</label>
        <locationX>1425</locationX>
        <locationY>2294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAll_UserIdsForOpenTimeEntriesInJob</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOpenTE</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAll_UserIdsForOpenTimeEntriesInJob</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_Clock_In</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Time_Entry_Exists_2_0</name>
        <label>Open Time Entry Exists?</label>
        <locationX>8652</locationX>
        <locationY>4874</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAll_UserIdsForOpenTimeEntriesInJob</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOpenTE_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAll_UserIdsForOpenTimeEntriesInJob</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_Clock_In_0</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_Travel</name>
        <label>Reason=Travel?</label>
        <locationX>1425</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Worker_and_Billing_check_1</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Worker_order_type_check</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_Travel_0</name>
        <label>Reason=Travel?</label>
        <locationX>8652</locationX>
        <locationY>1526</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>YES1_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Service_Territory</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>no_reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Reason_Selected</targetReference>
            </connector>
            <label>no reason</label>
        </rules>
        <rules>
            <name>noo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Working_Reason</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_Travel_0_0</name>
        <label>Reason=Travel?</label>
        <locationX>5913</locationX>
        <locationY>2606</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>YES1_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>worker_and_billing_check</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>no_reason_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>no reason</label>
        </rules>
        <rules>
            <name>Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Working_Reason</targetReference>
            </connector>
            <label>Working</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the user has any open timesheets.</description>
        <name>User_has_open_timesheets</name>
        <label>Open timesheets?</label>
        <locationX>1326</locationX>
        <locationY>926</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingTimesheetEntryRecId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenTimesheetsExist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingTimesheetEntryRecId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clock_In</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the user has any open timesheets.</description>
        <name>User_has_open_timesheets_0</name>
        <label>User has open timesheets?</label>
        <locationX>7838</locationX>
        <locationY>1046</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingTimesheetEntryRecId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenTimesheetsExist_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingTimesheetEntryRecId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllTimesheetEntriesForUser_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserERP</name>
        <label>User ERP?</label>
        <locationX>6342</locationX>
        <locationY>2126</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>BMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>erp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_Travel_0_0</targetReference>
            </connector>
            <label>BMS</label>
        </rules>
        <rules>
            <name>NonBMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>erp</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERP_Spac</targetReference>
            </connector>
            <label>NonBMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_and_Reason_check_MOVEX_UK</name>
        <label>WO and Reason check MOVEX UK</label>
        <locationX>1766</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WO_check_for_MoveX_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Meal Period</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX-UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clock_in_MoveXUK</targetReference>
            </connector>
            <label>WO check for MoveX-UK</label>
        </rules>
    </decisions>
    <decisions>
        <name>work_order_and_billing_verify</name>
        <label>work order and billing verify</label>
        <locationX>5462</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Vehicle_Details_for_Travel_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>work_order_and_billing_verify_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX-UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_Information_and_Billing_Type</targetReference>
            </connector>
            <label>work order and billing verify</label>
        </rules>
        <rules>
            <name>User_Defined_Vehicle_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserVehicleAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_Details_for_Travel_0</targetReference>
            </connector>
            <label>User Defined Vehicle Exist?</label>
        </rules>
        <rules>
            <name>BMSInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BMS_Billing_Type</targetReference>
            </connector>
            <label>BMSInternal</label>
        </rules>
    </decisions>
    <decisions>
        <name>worker_and_billing_check</name>
        <label>worker and billing check</label>
        <locationX>5000</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>work_order_and_billing_verify</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Billing_WO_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_Info_and_Billing_type</targetReference>
            </connector>
            <label>User Billing &amp; WO check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Worker_and_Billing_check_1</name>
        <label>Worker and Billing check</label>
        <locationX>776</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>worker_order_and_billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Worker_and_Billing_check_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clock_in_Movex</targetReference>
            </connector>
            <label>Worker and Billing check</label>
        </rules>
    </decisions>
    <decisions>
        <name>worker_order_and_billing</name>
        <label>worker order and billing</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Vehicle_Details_for_Travel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_ERP_and_Billing_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX-UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClockinTravel_MoveXUK</targetReference>
            </connector>
            <label>User ERP and Billing check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Worker_order_type_check</name>
        <label>Worker order type check</label>
        <locationX>1568</locationX>
        <locationY>1286</locationY>
        <defaultConnector>
            <targetReference>WO_and_Reason_check_MOVEX_UK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Training_reason_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Meal Period</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Working_Clock_in_MoveX</targetReference>
            </connector>
            <label>Training reason check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Working_Reason</name>
        <label>Working Reason</label>
        <locationX>9994</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>MoveX_UK_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reason_Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Meal Period</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Type_Details</targetReference>
            </connector>
            <label>Reason != Working</label>
        </rules>
        <rules>
            <name>MoveXUkExternalWithWorking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX-UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Subtype_Account_1</targetReference>
            </connector>
            <label>MoveXUkExternalWithWorking</label>
        </rules>
        <rules>
            <name>MoveXExternalWithWorking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUserRecord.ERP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOVEX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordWO.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Subtype_Account_2</targetReference>
            </connector>
            <label>MoveXExternalWithWorking</label>
        </rules>
    </decisions>
    <description>Version for Prototype of CICO BMS Reqt.: Clocks users in of FSL Timesheets custom object from FSL Mobile App and from Desktop browser.
Chatter Post (alert) PoC</description>
    <dynamicChoiceSets>
        <name>AdditionalPayerAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordWO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assignment_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>FSL_Additional_Sub_Type__c</object>
        <sortField>Assignment_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AdditionalSubtype</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordWO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ERP_Job_Line_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>FSL_Additional_Sub_Type__c</object>
        <sortField>ERP_Job_Line_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Type__c</picklistField>
        <picklistObject>FSL_Timesheet__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingType_1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Move_X_SPAC_Billing_Type_Value__c</picklistField>
        <picklistObject>Clock_in_Billing_Values__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingTypeDetails</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Type__c</picklistField>
        <picklistObject>FSL_Timesheet__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingTypeMobile1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Move_X_SPAC_Billing_Type_Value__c</picklistField>
        <picklistObject>Clock_in_Billing_Values__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Billingtypeworking</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Move_X_SPAC_Billing_Type_Value__c</picklistField>
        <picklistObject>Clock_in_Billing_Values__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BMSBillingTypeValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BMS_Billing_Type_Value__c</picklistField>
        <picklistObject>Clock_in_Billing_Values__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListofSVNChoiceset</name>
        <collectionReference>ListOfShopvehicleNumbers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Shop_Vehicle_Number__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Movexbillingtypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Move_X_SPAC_Billing_Type_Value__c</picklistField>
        <picklistObject>Clock_in_Billing_Values__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MOVEXUKBillingTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MoveX_UK_Billing_Type__c</picklistField>
        <picklistObject>Clock_in_Billing_Values__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MOVEXUKBillingValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MoveX_UK_Billing_Type__c</picklistField>
        <picklistObject>Clock_in_Billing_Values__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MoveXUKmobile</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MoveX_UK_Billing_Type__c</picklistField>
        <picklistObject>Clock_in_Billing_Values__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonSelect</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason__c</picklistField>
        <picklistObject>FSL_Timesheet__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonSelect2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason__c</picklistField>
        <picklistObject>FSL_Timesheet__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResourceERP</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resource_ERP__c</picklistField>
        <picklistObject>FSL_Timesheet__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResourceERPDetails</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resource_ERP__c</picklistField>
        <picklistObject>FSL_Timesheet__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>singleCollectionSet</name>
        <collectionReference>UserDefVehicle</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Shop_Vehicle_Number__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VehicleDetails</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentTerritoryRecord.Id</elementReference>
            </value>
        </filters>
        <object>Shop_Vehicle_Number__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkingclockinMoveX</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Move_X_SPAC_Billing_Type_Value__c</picklistField>
        <picklistObject>Clock_in_Billing_Values__mdt</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AdditionalsubtypeValue</name>
        <dataType>String</dataType>
        <expression>if({!AdditionalSubtype}!=null,{!AdditionalSubtype},
if({!AdditionalPayerAccount}!=null,{!AdditionalPayerAccount},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>Billingtypeformualmobile</name>
        <dataType>String</dataType>
        <expression>if({!Billing_Type}!=null,{!Billing_Type},
if({!Billing_Type_mobile}!=null,{!Billing_Type_mobile}, 
if({!Billing_Type_mobile_2}!=null,{!Billing_Type_mobile_2},
if({!Billing_Type_MoveX_UK_mobile}!=null,{!Billing_Type_MoveX_UK_mobile},&apos; &apos;))))</expression>
    </formulas>
    <formulas>
        <name>BillingTypeformulaDesktop</name>
        <dataType>String</dataType>
        <expression>if({!Billing_Type_2}!=null,{!Billing_Type_2},
if({!Billing_Type_4}!=null,{!Billing_Type_4}, 
if({!Billing_Type_3}!=null,{!Billing_Type_3},
if({!Billing_Type_6}!=null,{!Billing_Type_6},
if({!Billing_Type_5}!=null,{!Billing_Type_5},
if({!Billing_Type1}!=null,{!Billing_Type1},&apos; &apos;))))))</expression>
    </formulas>
    <formulas>
        <name>Entry_Overlap_Error_Message</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Flow.FaultMessage}, &quot;Cannot create overlapping time entries&quot;),SUBSTITUTE({!$Flow.FaultMessage},&quot;This error occurred when the flow tried to create records: FIELD_CUSTOM_VALIDATION_EXCEPTION:&quot;,&apos;&apos;),{!$Flow.FaultMessage})</expression>
    </formulas>
    <formulas>
        <name>Error_MultipleTimeSheets</name>
        <dataType>String</dataType>
        <expression>&apos;Cannot create overlapping time entries: Time overlaps with&apos;+&apos;  {&apos;+LEFT({!Error_TimeSheetEntries},LEN({!Error_TimeSheetEntries})-1)+&apos;}on Work Order {&apos;+LEFT({!Error_WorkOrderNumber},LEN({!Error_WorkOrderNumber})-1)+&apos;}&apos;</expression>
    </formulas>
    <formulas>
        <name>Fault_Error_Message</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Flow.FaultMessage}, &quot;Cannot create overlapping time entries&quot;),LEFT({!Entry_Overlap_Error_Message},(FIND(&quot;You can&quot;,{!Entry_Overlap_Error_Message}))-1),{!$Flow.FaultMessage})</expression>
    </formulas>
    <formulas>
        <name>FinalVehicle</name>
        <dataType>String</dataType>
        <expression>if({!VehicleLookup}!=null, {!VehicleLookup},
if({!Vehicle_Lookup_Details}!=null, {!Vehicle_Lookup_Details},
if({!VehicleLookupDetails}!=null, {!VehicleLookupDetails}, &apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <name>isUserVehiclePresent</name>
        <dataType>Boolean</dataType>
        <expression>{!userDefinedVehicle} !=null</expression>
    </formulas>
    <formulas>
        <name>Manual_SVN_Error1</name>
        <dataType>String</dataType>
        <expression>{!$Label.ClockIn_Manual_SVN_Error}</expression>
    </formulas>
    <formulas>
        <name>Manual_SVN_Error2</name>
        <dataType>String</dataType>
        <expression>{!$Label.ClockIn_Manual_SVN_Error2}</expression>
    </formulas>
    <formulas>
        <name>StartAddressformualmobile</name>
        <dataType>String</dataType>
        <expression>if({!Start_Address_mobile_1}!=null,{!Start_Address_mobile_1},
if({!Start_Address_mobile_2}!=null,{!Start_Address_mobile_2}, 
if({!Start_Address}!=null,{!Start_Address},&apos; &apos;)))</expression>
    </formulas>
    <formulas>
        <name>StartAddressWeb</name>
        <dataType>String</dataType>
        <expression>if({!Start_Address_1}!=null,{!Start_Address_1},
if({!Start_Address_Web_0}!=null,{!Start_Address_Web_0},
if({!Start_Address_2}!=null,{!Start_Address_2}, 
if({!Start_Address_Web}!=null,{!Start_Address_Web},&apos; &apos;))))</expression>
    </formulas>
    <formulas>
        <name>TimeSheetRecMissing</name>
        <dataType>String</dataType>
        <expression>{!$Label.TimeSheetRecMissing}</expression>
    </formulas>
    <formulas>
        <description>Formula that returns the current user&apos;s id</description>
        <name>UserId_ForDesktop</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>useridFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>Vehicleformulamobile</name>
        <dataType>String</dataType>
        <expression>{!Vehicle}</expression>
    </formulas>
    <formulas>
        <name>VehicleType_web</name>
        <dataType>String</dataType>
        <expression>if({!Vehicle_1}!=null,{!Vehicle_1},
if({!Vehicle_2}!=null,{!Vehicle_2}, 
if({!Vehicle_0_0}!=null, {!Vehicle_0_0},
if({!Vehicle_0}!=null &amp;&amp;{!VehicleLookupDetails}!={!Userdefinedvehicle1}, {!Vehicle_0},&apos; &apos;))))</expression>
    </formulas>
    <interviewLabel>FSL Clock-In Mobile and Desktop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Clock-In Mobile and Desktop</label>
    <loops>
        <description>To get user defined vehicle from list of Shop vehicle numbers</description>
        <name>Get_User_Def_record</name>
        <label>Get User Def record</label>
        <locationX>5875</locationX>
        <locationY>1949</locationY>
        <assignNextValueToReference>UserDefVehicleRecord</assignNextValueToReference>
        <collectionReference>UserDefVehicle</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_SVN</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FetchERP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_All_Time_Sheet_Entries</name>
        <label>Iterate All Time Sheet Entries</label>
        <locationX>4010</locationX>
        <locationY>1406</locationY>
        <assignNextValueToReference>LookTSE</assignNextValueToReference>
        <collectionReference>AllTimesheetsForUser</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetNewRecordsId_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Time_Existss</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterateOpenTE</name>
        <label>IterateOpenTE</label>
        <locationX>1229</locationX>
        <locationY>2414</locationY>
        <assignNextValueToReference>LookTSE</assignNextValueToReference>
        <collectionReference>GetAll_UserIdsForOpenTimeEntriesInJob</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ClockIn_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WO_Clock_In</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterateOpenTE_0</name>
        <label>IterateOpenTE</label>
        <locationX>8456</locationX>
        <locationY>4994</locationY>
        <assignNextValueToReference>LookTSE</assignNextValueToReference>
        <collectionReference>GetAll_UserIdsForOpenTimeEntriesInJob</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ClockIn_User_Ids_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WO_Clock_In_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>Creates new FSL Timesheet with key info</description>
        <name>Create_FSL_Timesheet_and_Entry_Info</name>
        <label>Create FSL Timesheet and Entry Info</label>
        <locationX>1425</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>AssignNullTo_Clock_In_User_Ids</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <elementReference>Billingtypeformualmobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes_Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource_ERP__c</field>
            <value>
                <elementReference>currentUserRecord.ERP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Order__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Address__c</field>
            <value>
                <elementReference>StartAddressformualmobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>recordWO.Process_Step__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>Vehicleformulamobile</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Timesheet__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates new FSL Timesheet with key info</description>
        <name>Create_FSL_Timesheet_and_Entry_Info_0</name>
        <label>Create FSL Timesheet and Entry Info</label>
        <locationX>8652</locationX>
        <locationY>4514</locationY>
        <connector>
            <targetReference>AssignNullTo_Clock_In_User_Ids_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_debugging</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Additional_Sub_Type__c</field>
            <value>
                <elementReference>AdditionalAccount_Subtype.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <elementReference>BillingTypeformulaDesktop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes_D</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Reason_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource_ERP__c</field>
            <value>
                <elementReference>currentUserRecord.ERP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>UserId_ForDesktop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Vehicle_Number__c</field>
            <value>
                <elementReference>SelectedVehicle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Address__c</field>
            <value>
                <elementReference>StartAddressWeb</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>recordWO.Process_Step__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>VehicleType_web</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Timesheet__c</object>
    </recordCreates>
    <recordLookups>
        <description>Fetch ERP from Current User</description>
        <name>Fetch_User_ERP</name>
        <label>Fetch User ERP</label>
        <locationX>7838</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Timesheets_Related_Work_Order_Number_Desktop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_debugging</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId_ForDesktop</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>currentUserRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ERP__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FetchERP</name>
        <label>FetchERP</label>
        <locationX>6342</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserERP</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_debugging</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>useridFormula</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>erp</assignToReference>
            <field>ERP__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets Current Work Order the Flow is Launched from (ID); Also gets Process_Step__c, Clock_In_User_Ids__c and WorkOrderNumber.  Stores these values in record variable: recordWO</description>
        <name>Get_Current_Work_Order</name>
        <label>Mobile - Get Current Work Order</label>
        <locationX>2228</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CICOFLAG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>recordWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Process_Step__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>Shop_Work_Order__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>isCICOVisible__c</queriedFields>
        <queriedFields>Service_Order_Extension__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets Current Work Order the Flow is Launched from (ID); Also gets Process_Step__c, Clock_In_User_Ids__c and WorkOrderNumber.  Stores these values in record variable: recordWO</description>
        <name>Get_Current_Work_Order_0</name>
        <label>Desktop - Get Current Work Order</label>
        <locationX>10720</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CICOVisibilityFlag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_debugging</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>recordWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Process_Step__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>Shop_Work_Order__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>isCICOVisible__c</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>Service_Order_Extension__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>if open timesheet is found, this queries the specific record using {!OpenClockJobId} and gets the WO&apos;s number to be used in the Screen that shows users if they already have another open timesheet.</description>
        <name>Get_Open_Timesheets_Related_Work_Order_Number_Desktop</name>
        <label>Get Related Work Order Number</label>
        <locationX>7838</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ERP_WorkOrder_Number</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_debugging</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpenClockJobId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>OpenTimesheetsRelatedWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Service_Territory</name>
        <label>Get Parent ST ID</label>
        <locationX>6342</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shop_Vehicle_numbers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordWO.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>parentTerritory</assignToReference>
            <field>ParentTerritoryId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>if open timesheet is found, this queries the specific record using {!OpenClockJobId} and gets the WO&apos;s number to be used in the Screen that shows users if they already have another open timesheet.</description>
        <name>Get_Work_Order_Number</name>
        <label>Get Open Work Order Number</label>
        <locationX>1326</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ERP_WorkOrder_Number_Mobile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpenClockJobId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>OpenTimesheetsRelatedWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetAllOpenTimeEntryForJob</name>
        <label>GetAllOpenTimeEntryForJob</label>
        <locationX>1425</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Time_Entry_Exists_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FSL_Timesheet__c</object>
        <outputReference>GetAll_UserIdsForOpenTimeEntriesInJob</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Resource__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAllOpenTimeEntryForJob_0</name>
        <label>GetAllOpenTimeEntryForJob</label>
        <locationX>8652</locationX>
        <locationY>4754</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Time_Entry_Exists_2_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_debugging</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FSL_Timesheet__c</object>
        <outputReference>GetAll_UserIdsForOpenTimeEntriesInJob</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Resource__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>gets open FSL_Timesheet__c for User across all jobs.  Open Timesheet means there is a start date/time but not an end date/time entry.</description>
        <name>GetAllTimesheetEntriesForUser_0_0</name>
        <label>GetAllTimesheetEntriesForUser</label>
        <locationX>6331</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Previous_Timesheets_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId_ForDesktop</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartTime__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndTime__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>FSL_Timesheet__c</object>
        <outputReference>AllTimesheetsForUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Service_Order__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetNewRecordsId_0</name>
        <label>GetNewRecordsId</label>
        <locationX>4098</locationX>
        <locationY>1526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Time_sheet_Entry_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LookTSE.Service_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WorkorderNumber</assignToReference>
            <field>WorkOrderNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>gets open FSL_Timesheet__c for User across all jobs.  Open Timesheet means there is a start date/time but not an end date/time entry.</description>
        <name>GetOpenTimesheetEntriesForUser_0</name>
        <label>GetOpenTimesheetEntriesForUser</label>
        <locationX>7838</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_User_ERP</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_debugging</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId_ForDesktop</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FSL_Timesheet__c</object>
        <outputAssignments>
            <assignToReference>ExistingTimesheetEntryRecId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenClockJobId</assignToReference>
            <field>Service_Order__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>gets open FSL_Timesheet__c for User across all jobs.  Open Timesheet means there is a start date/time but not an end date/time entry.</description>
        <name>GetOpenTimesheetForUser</name>
        <label>GetOpenTimesheetForUser</label>
        <locationX>1326</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FSL_Timesheet__c</object>
        <outputAssignments>
            <assignToReference>ExistingTimesheetEntryRecId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenClockJobId</assignToReference>
            <field>Service_Order__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO_Clock_In</name>
        <label>Update WO Clock In</label>
        <locationX>1425</locationX>
        <locationY>2846</locationY>
        <inputReference>recordWOExtension</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Clock_In_0</name>
        <label>Update WO Clock In</label>
        <locationX>8652</locationX>
        <locationY>5426</locationY>
        <faultConnector>
            <targetReference>error_debugging</targetReference>
        </faultConnector>
        <inputReference>recordWOExtension</inputReference>
    </recordUpdates>
    <screens>
        <name>Additional_Subtype_Account</name>
        <label>Additional Subtype/Account</label>
        <locationX>5913</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Value</targetReference>
        </connector>
        <fields>
            <name>AdditionalSubtype_Account</name>
            <choiceReferences>AdditionalSubtype</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Additional Sub type/Payer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Subtype_Account_0</name>
        <label>Additional Subtype/Account</label>
        <locationX>7090</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>value2</targetReference>
        </connector>
        <fields>
            <name>AdditionalSubtype_Account_0</name>
            <choiceReferences>AdditionalPayerAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Additional Sub type/Payer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Subtype_Account_1</name>
        <label>Additional Subtype/Account1</label>
        <locationX>9730</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Value_3</targetReference>
        </connector>
        <fields>
            <name>AdditionalSubtype_Account_1</name>
            <choiceReferences>AdditionalPayerAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Additional Sub type/Payer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Subtype_Account_2</name>
        <label>Additional Subtype/Account</label>
        <locationX>9994</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Value4</targetReference>
        </connector>
        <fields>
            <name>Additional_Sub_type_Payer_2</name>
            <choiceReferences>AdditionalSubtype</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Additional Sub type/Payer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Billing_Type_Details</name>
        <label>Billing Type Details</label>
        <locationX>9466</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </connector>
        <fields>
            <name>Billing_Type_3</name>
            <choiceReferences>Billingtypeworking</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Billing_Type_MoveX_UK</name>
        <label>Billing Type</label>
        <locationX>10258</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </connector>
        <fields>
            <name>Billing_Type_4</name>
            <choiceReferences>MOVEXUKBillingTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BMS_Billing_Type</name>
        <label>BMS Billing Type</label>
        <locationX>5858</locationX>
        <locationY>2966</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vehicle_Details_for_Travel_0_0</targetReference>
        </connector>
        <fields>
            <name>Billing_Type_5</name>
            <choiceReferences>BMSBillingTypeValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BMS_Working_Billing_Type</name>
        <label>BMS Working Billing Type</label>
        <locationX>10522</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info_0</targetReference>
        </connector>
        <fields>
            <name>Billing_Type_6</name>
            <choiceReferences>BMSBillingTypeValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CICOValidationMessage</name>
        <label>CICOValidationMessage</label>
        <locationX>13338</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;CICO not available for this Service Territory&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CICOValidationMobile</name>
        <label>CICOValidationMobile</label>
        <locationX>2866</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageMobile</name>
            <fieldText>&lt;p&gt;CICO is not available for this Service Territory &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clock_In</name>
        <label>Clock In</label>
        <locationX>1425</locationX>
        <locationY>1046</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reason_Travel</targetReference>
        </connector>
        <fields>
            <name>Reason</name>
            <choiceReferences>ReasonSelect</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Travel</stringValue>
            </defaultValue>
            <fieldText>Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes_Mobile</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clock_In_0</name>
        <label>Clock In</label>
        <locationX>8652</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reason_Travel_0</targetReference>
        </connector>
        <fields>
            <name>Reason_0</name>
            <choiceReferences>ReasonSelect2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes_D</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter 255 or less characters .&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Notes_D}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <helpText>&lt;p&gt;Please enter 255 or less characters&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clock_in_Movex</name>
        <label>Clock in -Movex</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info</targetReference>
        </connector>
        <fields>
            <name>Start_Address_mobile_1</name>
            <fieldText>Start Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Address cannot be more than 240 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Start_Address_mobile_1})&lt;241</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Vehicle_mobile_1</name>
            <dataType>String</dataType>
            <fieldText>Vehicle #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_Type</name>
            <choiceReferences>BillingTypeMobile1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clock_in_MoveXUK</name>
        <label>Clock in MoveXUK</label>
        <locationX>1634</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info</targetReference>
        </connector>
        <fields>
            <name>Billing_Type_MoveX_UK_mobile</name>
            <choiceReferences>MoveXUKmobile</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Type MoveX-UK</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClockinTravel_MoveXUK</name>
        <label>Clock in Travel-MoveX UK</label>
        <locationX>842</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info</targetReference>
        </connector>
        <fields>
            <name>Start_Address_mobile_2</name>
            <fieldText>Start Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vehicle_mobile_2</name>
            <dataType>String</dataType>
            <fieldText>Vehicle #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_Type_mobile</name>
            <choiceReferences>Movexbillingtypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Time_Existss</name>
        <label>Display Time Existss</label>
        <locationX>4010</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TimeSheetError</name>
            <fieldText>&lt;p&gt;{!Error_MultipleTimeSheets}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_debugging</name>
        <label>error debugging</label>
        <locationX>11226</locationX>
        <locationY>5546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;{!Fault_Error_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MoveX_Billing_Type</name>
        <label>MoveX Billing Type</label>
        <locationX>7354</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>worker_and_billing_check</targetReference>
        </connector>
        <fields>
            <name>Billing_Type1</name>
            <choiceReferences>Movexbillingtypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Movex_Uk_Billing_Type</name>
        <label>Movex-Uk Billing Type</label>
        <locationX>7618</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>work_order_and_billing_verify</targetReference>
        </connector>
        <fields>
            <name>Billing_Type_2</name>
            <choiceReferences>MOVEXUKBillingValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_ERP_WorkOrder_Error_Message</name>
        <label>No ERP WorkOrder Error Message</label>
        <locationX>3394</locationX>
        <locationY>1046</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_ERP_WorkOrder_Num</name>
            <fieldText>&lt;p&gt;Clock-In is available after ERP Work Order is generated.&amp;nbsp;&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_ERP_WorkOrder_Error_Message_Mobile</name>
        <label>No ERP WorkOrder Error Message Mobile</label>
        <locationX>50</locationX>
        <locationY>926</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_ERP_WorkOrder_Num_Mobile</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Clock-In is available after ERP Work Order is generated.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Reason_Selected</name>
        <label>No Reason Selected</label>
        <locationX>9202</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noreason</name>
            <fieldText>&lt;p&gt;Please select the reason before clock-in&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OpenTimesheetsExist</name>
        <label>OpenTimesheetsExist</label>
        <locationX>314</locationX>
        <locationY>1046</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SCREEN_OpenTimesheetsAlreadyExist</name>
            <fieldText>&lt;p&gt;You have another open timesheet on Service Order #:  {!OpenTimesheetsRelatedWorkOrder.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please clock out of Service Order &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!OpenTimesheetsRelatedWorkOrder.WorkOrderNumber}&lt;/span&gt; before trying to clock in again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OpenTimesheetsExist_0</name>
        <label>OpenTimesheetsExist</label>
        <locationX>3658</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SCREEN_OpenTimesheetsAlreadyExist_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please clock out of Service Order &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!OpenTimesheetsRelatedWorkOrder.WorkOrderNumber}&lt;/span&gt; before trying to clock in again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vehicle_Details_for_Travel</name>
        <label>Vehicle Details for Travel</label>
        <locationX>1106</locationX>
        <locationY>1526</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info</targetReference>
        </connector>
        <fields>
            <name>Start_Address</name>
            <fieldText>Start Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Address cannot exceed 240 characters.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Address cannot be more than 240 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Start_Address})&lt;241</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Vehicle</name>
            <dataType>String</dataType>
            <fieldText>Vehicle#</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vehicle_Details_for_Travel_0</name>
        <label>Vehicle Details for Travel 1</label>
        <locationX>5330</locationX>
        <locationY>2966</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choosen_Vehicle</targetReference>
        </connector>
        <fields>
            <name>Start_Address_Web</name>
            <fieldText>Start Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Address cannot exceed 240 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Start_Address_Web}) &lt; 241</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>header</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Pick Vehicle# associated to the User or Select from List of Vehicles at Territory or Pick None to enter manually in the Vehicle# Field below&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Test</name>
            <fieldText>&lt;p&gt;Note: You have a User defined Vehicle.&lt;/p&gt;&lt;p&gt;Please select &quot; {!UserVehicleAssignment}&quot; as Shop Vehicle Number to procced with user defined vehicle.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VehicleLookupDetails</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ListofSVNChoiceset</choiceReferences>
            <choiceReferences>singleChoicRec</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>singleChoicRec</defaultSelectedChoiceReference>
            <fieldText>Shop Vehicle Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vehicle_0</name>
            <dataType>String</dataType>
            <fieldText>Vehicle#</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 72, 31);&quot;&gt;{!Manual_SVN_Error1}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!VehicleLookupDetails}=={!None} || {!Vehicle_0} == Null</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vehicle_Details_for_Travel_0_0</name>
        <label>Vehicle Details for Travel 2</label>
        <locationX>5462</locationX>
        <locationY>3578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choosen_Vehicle_0</targetReference>
        </connector>
        <fields>
            <name>Start_Address_Web_0</name>
            <fieldText>Start Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Address cannot exceed 240 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Start_Address_Web_0}) &lt; 241</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>header_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select from List of Vehicles at Territory or Pick None to enter manually in the Vehicle# Field below﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VehicleLookupDetails_0</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ListofSVNChoiceset</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Other</elementReference>
            </defaultValue>
            <fieldText>Shop Vehicle Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vehicle_0_0</name>
            <dataType>String</dataType>
            <fieldText>Vehicle#</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 43, 31);&quot;&gt;{!Manual_SVN_Error2}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!VehicleLookupDetails_0}=={!None}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vehicle_Info_and_Billing_type</name>
        <label>Vehicle Info and Billing type</label>
        <locationX>4538</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Vehicle_3</targetReference>
        </connector>
        <fields>
            <name>Start_Address_2</name>
            <fieldText>Start Address :</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Address cannot be more than 240 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Start_Address_2})&lt;241</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>VehicleLookup</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ListofSVNChoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Shop Vehicle Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vehicle_2</name>
            <dataType>String</dataType>
            <fieldText>Vehicle #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 66, 43); background-color: rgb(255, 255, 255);&quot;&gt;{!Manual_SVN_Error2}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!VehicleLookup}=={!None}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vehicle_Information_and_Billing_Type</name>
        <label>Vehicle Information and Billing Type</label>
        <locationX>4802</locationX>
        <locationY>2966</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Vehicle_2</targetReference>
        </connector>
        <fields>
            <name>Start_Address_1</name>
            <fieldText>Start Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vehicle_Lookup_Details</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ListofSVNChoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Shop Vehicle Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vehicle_1</name>
            <dataType>String</dataType>
            <fieldText>Vehicle #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 70, 22); background-color: rgb(255, 255, 255);&quot;&gt;{!Manual_SVN_Error2}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Vehicle_Lookup_Details}=={!None}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Working_Clock_in_MoveX</name>
        <label>Working Clock in-MoveX</label>
        <locationX>1370</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_FSL_Timesheet_and_Entry_Info</targetReference>
        </connector>
        <fields>
            <name>Billing_Type_mobile_2</name>
            <choiceReferences>WorkingclockinMoveX</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>8053</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Mobile_or_Desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdditionalAccount_Subtype</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Additional_Sub_Type__c</objectType>
    </variables>
    <variables>
        <name>AllTimeSheetEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>AllTimeSheets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <name>AllTimesheetsForUser</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FSL_Timesheet__c</objectType>
    </variables>
    <variables>
        <name>CheckERPWorkOrderBlank</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>erp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Error_TimeSheetEntries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Error_WorkOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Error_WorkOrders</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingTimesheetEntryRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FSL_TimesheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetAll_UserIdsForOpenTimeEntriesInJob</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FSL_Timesheet__c</objectType>
    </variables>
    <variables>
        <description>GetAllUsersForOpenTimeEntriesInJob</description>
        <name>GetAllUsersForOpenTimeEntriesInJob</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InVar_ResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfShopvehicleNumbers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shop_Vehicle_Number__c</objectType>
    </variables>
    <variables>
        <name>local_userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LookTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FSL_Timesheet__c</objectType>
    </variables>
    <variables>
        <name>MobileUserId4ClockIn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>To Store Record Type Developer name</description>
        <name>MovexRecordTypeName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Job Id for Open Clock</description>
        <name>OpenClockJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used to query related work order&apos;s number for open timesheet</description>
        <name>OpenTimesheetsRelatedWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>parentTerritory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentTerritoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>recordWOExtension</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_Order_Extension__c</objectType>
    </variables>
    <variables>
        <name>recWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>SelectedVehicle</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>userDefinedVehicle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserDefVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shop_Vehicle_Number__c</objectType>
    </variables>
    <variables>
        <name>UserDefVehicleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Shop_Vehicle_Number__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>currentUserRecord.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>UserVehicleAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userVehicleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WO_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkorderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderNumberList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
