flows/FSL_Gantt_Chart_to_Show_Selected_Service_Appointments.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Delete_Gantt_Filter_Records_If_available</name>
        <label>Delete Gantt Filter Records If available</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Update_User_Setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Service_Territory_records_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Setting_Territory_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_User_Setting_Territory_records</targetReference>
            </connector>
            <label>User Service Territory records Available?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Gantt_presents</name>
        <label>If Gantt presents?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Delete_Gantt_Filter_Records_If_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gantt_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Gantt_Filter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_Gantt</targetReference>
            </connector>
            <label>Gantt available</label>
        </rules>
    </decisions>
    <formulas>
        <name>Gantt_Filter_ListView_UniqueNameByUser</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&apos;_&apos;+{!$User.LastName}+&apos;_&apos;+{!$User.FederationIdentifier}+&apos;_&apos;+{!Get_WorkOrder_Info.WorkOrderNumber}</expression>
    </formulas>
    <interviewLabel>FSL Gantt Chart to Show Selected Service Appointments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Gantt Chart to Show Selected Service Appointments</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Gantt_Filter</name>
        <label>New Gantt Filter</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Update_User_Settings_with_Gantt_Filter_List_View</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__Criterias__c</field>
            <value>
                <stringValue>{&quot;1&quot;:{&quot;property&quot;:&quot;Service_Order__c&quot;,&quot;operator&quot;:&quot;contains&quot;,&quot;value&quot;:&quot;{!Get_WorkOrder_Info.WorkOrderNumber}&quot;,&quot;isValid&quot;:true}}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Days_after_horizon__c</field>
            <value>
                <numberValue>31.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Days_before_horizon__c</field>
            <value>
                <numberValue>31.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Description__c</field>
            <value>
                <stringValue>Setting custom Gantt Filter from Lightning Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Displayed_Fields__c</field>
            <value>
                <stringValue>[&quot;AppointmentNumber&quot;,&quot;Status&quot;,&quot;SchedStartTime&quot;,&quot;Duration&quot;]</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Hidden__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Public__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Gantt_Filter_ListView_UniqueNameByUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSL__Gantt_Filter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_User_Settings_Territory_records</name>
        <label>New User Settings Territory records</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>New_Gantt_Filter</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL__Service_Territory__c</field>
            <value>
                <elementReference>Get_WorkOrder_Info.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__User_Setting__c</field>
            <value>
                <elementReference>Get_User_Setting_records.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FSL__User_Setting_Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>delete_Gantt</name>
        <label>delete Gantt</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Delete_Gantt_Filter_Records_If_available</targetReference>
        </connector>
        <inputReference>Get_User_Gantt_Filter</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_User_Setting_Territory_records</name>
        <label>Delete User Setting Territory records</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Update_User_Setting</targetReference>
        </connector>
        <inputReference>Get_User_Setting_Territory_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_User_Gantt_Filter</name>
        <label>Get User Gantt Filter</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Gantt_presents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSL__Public__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL__Gantt_Filter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Setting_records</name>
        <label>Get User Setting records</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Setting_Territory_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL__UserSetting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Setting_Territory_Records</name>
        <label>Get User Setting Territory Records</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Gantt_Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL__Service_Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceOrder_Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSL__User_Setting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Setting_records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL__User_Setting_Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder_Info</name>
        <label>Get WorkOrder Info</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Setting_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Lock the Gantt view to today so that filters can be applied</description>
        <name>Update_User_Setting</name>
        <label>Update User Setting</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>New_User_Settings_Territory_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__Left_Panel_Width_Percentage__c</field>
            <value>
                <numberValue>31.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Load_On_Today__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Match_Gantt_Dates__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>FSL__UserSetting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Settings_with_Gantt_Filter_List_View</name>
        <label>Update User Settings with Gantt Filter List View</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Gantt_View_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Setting_records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__Selected_List_View__c</field>
            <value>
                <elementReference>New_Gantt_Filter</elementReference>
            </value>
        </inputAssignments>
        <object>FSL__UserSetting__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Gantt_View_0</name>
        <label>Gantt View</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Navigating_to_Gantt_View_0</name>
            <fieldText>&lt;p&gt;Use the following link to navigate to &lt;a href=&quot;{!$Label.FSL_DistributorURL}/n/Scheduling&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Gantt View&lt;/a&gt; for this WorkOrder.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WorkOrder_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceOrder_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>UserSettingsTerritoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL__User_Setting_Territory__c</objectType>
    </variables>
</Flow>
