flows/FSL_CreateAndUpdateLangFlows.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Communication_Triggers_Update_0</name>
        <label>Communication Triggers Update</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.FSL_Comm_Triggers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Communication_Triggers__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NotificationFrequencytoNever</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_Frequency_value_Nightly_0</name>
        <label>Email Frequency value Nightly</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Notification_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailNotificationFrequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FSL_Comm_Triggers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Communication_Triggers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Text_SMS_Notification_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SMSNotificationFrequency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Frequency_from_None_to_Never</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>None_to_Never</name>
        <label>None to Never</label>
        <locationX>50</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Notification_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Never/Unsubscribed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Text_SMS_Notification_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Never/Unsubscribed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Language_Preferences__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Language_Preference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lang_Pref_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectLanguage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckAccountInContact_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateNotificationFrequency_0</name>
        <label>UpdateNotificationFrequency</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Notification_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Never/Unsubscribed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Text_SMS_Notification_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Never/Unsubscribed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Frequency_value_Nightly_Real_Time_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckAccountInContact_0</name>
        <label>CheckAccountInContact</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>NotificationFrequencytoNever</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckAccountInContact_00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountInContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Communication_Triggers_Update_0</targetReference>
            </connector>
            <label>CheckAccountInContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Frequency_value_Nightly_Real_Time_0</name>
        <label>Email Frequency value Nightly/Real-Time</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <defaultConnector>
            <targetReference>Set_Frequency_from_None_to_Never</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Frequency_value_Nightly_Real_Time_00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FrequencyvalueNightly_Real_Time</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Frequency_value_Nightly_0</targetReference>
            </connector>
            <label>Email Frequency value Nightly/Real-Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>NotificationFrequencytoNever</name>
        <label>NotificationFrequencytoNever</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Email_Frequency_value_Nightly_Real_Time_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotificationFrequencytoNever_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotificationFrequency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNotificationFrequency_0</targetReference>
            </connector>
            <label>NotificationFrequencytoNever</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Frequency_from_None_to_Never</name>
        <label>Set Frequency from None to Never</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Frequency_from_None_to_Never_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SetFrequencyfromNonetoNever</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>None_to_Never</targetReference>
            </connector>
            <label>Set Frequency from None to Never</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_language_preference</name>
        <label>Update language preference</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>CheckAccountInContact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_language_preferences</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Language_Preference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Language_Preferences__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Language_Preferences__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Update language preferences</label>
        </rules>
    </decisions>
    <description>Converting FSL_CreateAndUpdateLangFlow process builder to lightning flow</description>
    <formulas>
        <name>AccountInContact</name>
        <dataType>Boolean</dataType>
        <expression>(({!$Record.RecordType.DeveloperName}=&apos;Guidanz&apos;) &amp;&amp;
ISNEW() &amp;&amp;  NOT(ISBLANK({!$Record.AccountId}) ) &amp;&amp; (TEXT({!$Record.Email_Notification_Frequency__c})= &apos;Real-Time&apos; || TEXT({!$Record.Email_Notification_Frequency__c})= &apos;Nightly&apos;  || TEXT({!$Record.Text_SMS_Notification_Frequency__c})= &apos;Real-Time&apos;) &amp;&amp; ISBLANK({!$Record.FSL_Comm_Triggers__c}))</expression>
    </formulas>
    <formulas>
        <name>EmailNotificationFrequency</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Email_Notification_Frequency__c})  == &quot;Nightly&quot; , &quot;Nightly&quot; , 
TEXT({!$Record.Email_Notification_Frequency__c}) )</expression>
    </formulas>
    <formulas>
        <name>FrequencyvalueNightly_Real_Time</name>
        <dataType>Boolean</dataType>
        <expression>(
		ISCHANGED({!$Record.Email_Notification_Frequency__c}) ||
		ISCHANGED({!$Record.Text_SMS_Notification_Frequency__c})
	) &amp;&amp;
	(
		ISPICKVAL(({!$Record__Prior.Email_Notification_Frequency__c}), &quot;Never/Unsubscribed​&quot;) ||
		ISPICKVAL(({!$Record__Prior.Text_SMS_Notification_Frequency__c}), &quot;Never/Unsubscribed​&quot;) 
	) &amp;&amp;
	(
		(ISPICKVAL(({!$Record.Email_Notification_Frequency__c} ), &quot;Nightly&quot;) ||
		ISPICKVAL(({!$Record.Text_SMS_Notification_Frequency__c}), &quot;Real-time&quot;)) || 
((
		ISPICKVAL(({!$Record.Email_Notification_Frequency__c} ), &quot;Real-Time&quot;) ||
		ISPICKVAL(({!$Record.Text_SMS_Notification_Frequency__c}), &quot;Real-time&quot;)
		))
	) &amp;&amp; 
		(
			TEXT({!$Record.Email_Notification_Frequency__c})!=NULL &amp;&amp;
			TEXT({!$Record.Text_SMS_Notification_Frequency__c})!=NULL
		)&amp;&amp;
	(
                ISBLANK({!$Record.FSL_Comm_Triggers__c})
	)</expression>
    </formulas>
    <formulas>
        <name>NotificationFrequency</name>
        <dataType>Boolean</dataType>
        <expression>(
	!ISNEW() &amp;&amp; 
	(
		(
			ISBLANK({!$Record.FSL_Comm_Triggers__c})
		) &amp;&amp; 
		(
			IsChanged({!$Record.FSL_Comm_Triggers__c}) 
		) &amp;&amp;
		(
			Text({!$Record.Email_Notification_Frequency__c}) != Null  ||
			Text({!$Record.Text_SMS_Notification_Frequency__c})  != Null
		)
	)
)</expression>
    </formulas>
    <formulas>
        <name>selectLanguage</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Language_Preferences__c}),
&apos;English&apos;,&apos;EN&apos;,
&apos;French&apos;,&apos;FR&apos;,
&apos;Spanish&apos;,&apos;es&apos;,
&apos;German&apos;,&apos;de&apos;,
&apos;Turkish&apos;,&apos;tr&apos;,
NULL
)</expression>
    </formulas>
    <formulas>
        <name>SetFrequencyfromNonetoNever</name>
        <dataType>Boolean</dataType>
        <expression>(
	!ISNEW() &amp;&amp; 
	(
		(
			ISBLANK({!$Record.FSL_Comm_Triggers__c})
		) &amp;&amp; 
		(
			IsChanged({!$Record.FSL_Comm_Triggers__c}) || 
			IsChanged({!$Record.Email_Notification_Frequency__c}) ||
			IsChanged({!$Record.Text_SMS_Notification_Frequency__c})
		) &amp;&amp;
		(
			Text({!$Record.Email_Notification_Frequency__c}) == Null  ||
			Text({!$Record.Text_SMS_Notification_Frequency__c})  == Null
		)
	)
)</expression>
    </formulas>
    <formulas>
        <name>SMSNotificationFrequency</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Text_SMS_Notification_Frequency__c})  == &quot;Real-Time&quot; , &quot;Real-Time&quot; , 
TEXT(PRIORVALUE({!$Record.Text_SMS_Notification_Frequency__c})) )</expression>
    </formulas>
    <interviewLabel>FSL_CreateAndUpdateLangFlows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_CreateAndUpdateLangFlows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_language_preference</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
