flows/FSL_Clock_Out_Mobile_and_Desktop.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_ClockIn_User_Ids</name>
        <label>Assign ClockIn User Ids</label>
        <locationX>2169</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>recordWOExtension.Clock_In_User_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookTSE.Resource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordWOExtension.Clock_In_User_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordWOExtension.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordWO.Service_Order_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOpenTE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ClockIn_User_Ids_0</name>
        <label>Assign ClockIn User Ids</label>
        <locationX>7317</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>recordWOExtension.Clock_In_User_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LookTSE.Resource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordWOExtension.Clock_In_User_Ids__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordWOExtension.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordWO.Service_Order_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOpenTE_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNullTo_Clock_In_User_Ids</name>
        <label>AssignNullTo_Clock_In_User_Ids</label>
        <locationX>2277</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>recordWOExtension.Clock_In_User_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordWOExtension.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordWO.Service_Order_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Open_Timesheets_for_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNullTo_Clock_In_User_Ids_0</name>
        <label>AssignNullTo_Clock_In_User_Ids</label>
        <locationX>7428</locationX>
        <locationY>2953</locationY>
        <assignmentItems>
            <assignToReference>recordWOExtension.Clock_In_User_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordWOExtension.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordWO.Service_Order_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Open_Timesheets_for_Work_Order_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>BMS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BMS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_User_ERP</name>
        <label>Check User ERP</label>
        <locationX>6218</locationX>
        <locationY>1396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ERP_BMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserERPValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clock_out_screen_0</targetReference>
            </connector>
            <label>ERP BMS</label>
        </rules>
        <rules>
            <name>ERP_Non_BMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserERPValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>BMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_Travel_0_0</targetReference>
            </connector>
            <label>ERP Non BMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>CICOFLAG</name>
        <label>CICOFLAG</label>
        <locationX>3828</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CICOCHECKTRUEMOBILE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.isCICOVisible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Timesheets_for_Running_User_M</targetReference>
            </connector>
            <label>CICOCHECKTRUEMOBILE</label>
        </rules>
        <rules>
            <name>CICOCHECKFALSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.isCICOVisible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CICOValidationMobile</targetReference>
            </connector>
            <label>CICOCHECKFALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>CICOFLAG_0</name>
        <label>CICOFLAG</label>
        <locationX>9911</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CICOCHECKTRUEMOBILE_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.isCICOVisible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_ERP</targetReference>
            </connector>
            <label>CICOCHECKTRUEMOBILE</label>
        </rules>
        <rules>
            <name>CICOCHECKFALSE_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordWO.isCICOVisible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CICOValidationMobile_0</targetReference>
            </connector>
            <label>CICOCHECKFALSE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide if user&apos;s ERP SPAC or UK</description>
        <name>ERP_SPAC_UK_0_0</name>
        <label>ERP SPAC/UK</label>
        <locationX>6149</locationX>
        <locationY>1766</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SPAC_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserERPValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MOVEX</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkout_NonBMS</targetReference>
            </connector>
            <label>SPAC</label>
        </rules>
        <rules>
            <name>UK_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserERPValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MOVEX_UK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotesforNBMST_0_0</targetReference>
            </connector>
            <label>UK</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Id vs recordId to determine if flow is launched from desktop or mobile.</description>
        <name>Mobile_or_Desktop</name>
        <label>Mobile or Desktop?</label>
        <locationX>7518</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>varId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCurrentWorkOrder</targetReference>
            </connector>
            <label>Mobile – Id Found</label>
        </rules>
        <rules>
            <name>varRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCurrentWorkOrder_0</targetReference>
            </connector>
            <label>Desktop  – RecordId Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Time_Entry_Exists</name>
        <label>Open Time Entry Exists?</label>
        <locationX>2277</locationX>
        <locationY>2534</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAll_UserIdsForOpenTimeEntriesInJob</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOpenTE</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAll_UserIdsForOpenTimeEntriesInJob</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_Clock_In</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Time_Entry_Exists_0</name>
        <label>Open Time Entry Exists?</label>
        <locationX>7417</locationX>
        <locationY>3264</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAll_UserIdsForOpenTimeEntriesInJob</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOpenTE_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAll_UserIdsForOpenTimeEntriesInJob</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_Clock_In_0</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision that searches for open timesheet for running user</description>
        <name>Open_Timesheet_Exists</name>
        <label>Open Timesheet Exists?</label>
        <locationX>3135</locationX>
        <locationY>686</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntryRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_Travel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntryRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintNoOpenTimesheetExistsforUser</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision that searches for open timesheet for running user</description>
        <name>Open_Timesheet_Exists_0</name>
        <label>Open Timesheet Exists?</label>
        <locationX>8877</locationX>
        <locationY>806</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntryRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_Travel_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntryRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintNoOpenTimesheetExistsforUser_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_Travel</name>
        <label>Reason=Travel?</label>
        <locationX>2294</locationX>
        <locationY>999</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntryRecord.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_service_appointment_record_for_the_service_order</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntryRecord.Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clock_out_screen</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_Travel_0</name>
        <label>Reason=Travel?</label>
        <locationX>7137</locationX>
        <locationY>756</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntryRecord.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_recent_created_service_appointment</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntryRecord.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_ERP</targetReference>
            </connector>
            <label>NO</label>
        </rules>
        <rules>
            <name>Meal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntryRecord.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meal Period</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_ERP</targetReference>
            </connector>
            <label>Meal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_Travel_0_0</name>
        <label>Reason=Travel?</label>
        <locationX>6426</locationX>
        <locationY>1686</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES3_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntryRecord.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO3_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntryRecord.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERP_SPAC_UK_0_0</targetReference>
            </connector>
            <label>NO</label>
        </rules>
        <rules>
            <name>Meal_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimesheetEntryRecord.Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meal Period</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clock_out_screen_0</targetReference>
            </connector>
            <label>Meal</label>
        </rules>
    </decisions>
    <description>Version for Prototype CICO Global reqt.: Clocks users out of FSL Timesheets custom object from FSL Mobile App and from Desktop browser.
Added SRT Alert on clock out screen - 
//notes- added two get record elements to read assigned resource data to show on calculated mileage both for desktop and mobile devices</description>
    <dynamicChoiceSets>
        <name>AccountName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordWO.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Additional_Sub_Types_Picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordWO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ERP_Job_Line_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>FSL_Additional_Sub_Type__c</object>
        <sortField>ERP_Job_Line_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PayerAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordWO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assignment_Number__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>FSL_Additional_Sub_Type__c</object>
        <sortField>Assignment_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordWO.FSL_Sub_Type__c</elementReference>
            </value>
        </filters>
        <object>FSL_SubType__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ClockoutNotesWorking</name>
        <dataType>String</dataType>
        <expression>IF(OR({!Notes_D} == NULL, {!Notes_D} == &apos;&apos;), {!Notes_D},{!Notes_D})</expression>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>FSL_Calculated_Mileage</name>
        <dataType>String</dataType>
        <expression>{!$Label.FSL_Calculated_Mileage}</expression>
    </formulas>
    <formulas>
        <name>FSL_Clock_Out_Msg</name>
        <dataType>String</dataType>
        <expression>{!$Label.FSL_Clock_Out_Msg}</expression>
    </formulas>
    <formulas>
        <name>FSL_Clock_Out_Next</name>
        <dataType>String</dataType>
        <expression>{!$Label.FSL_Clock_Out_Next}</expression>
    </formulas>
    <formulas>
        <name>MileageMeasure</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!sertTerr.ERP__c},&apos;BMS&apos;),&apos;Miles&apos;, &apos;KM&apos; )</expression>
    </formulas>
    <formulas>
        <description>Formula that returns the current user&apos;s id for users launching flow from desktop browser</description>
        <name>UserId_ForDesktop</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>this works from fsl mobile app</description>
        <name>UserId_ForMobile</name>
        <dataType>String</dataType>
        <expression>{!UserId}</expression>
    </formulas>
    <formulas>
        <name>VehicleNumber</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!TimesheetEntryRecord.Vehicle__c}), &apos;&apos;,  &apos;Vehicle# &apos; + {!TimesheetEntryRecord.Vehicle__c})</expression>
    </formulas>
    <interviewLabel>FSL Clock-Out Mobile and Desktop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Clock-Out Mobile and Desktop</label>
    <loops>
        <name>IterateOpenTE</name>
        <label>IterateOpenTE</label>
        <locationX>2081</locationX>
        <locationY>2654</locationY>
        <assignNextValueToReference>LookTSE</assignNextValueToReference>
        <collectionReference>GetAll_UserIdsForOpenTimeEntriesInJob</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ClockIn_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WO_Clock_In</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IterateOpenTE_0</name>
        <label>IterateOpenTE</label>
        <locationX>7229</locationX>
        <locationY>3314</locationY>
        <assignNextValueToReference>LookTSE</assignNextValueToReference>
        <collectionReference>GetAll_UserIdsForOpenTimeEntriesInJob</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ClockIn_User_Ids_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WO_Clock_In_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <description>gets open timesheets for the given work order</description>
        <name>Get_All_Open_Timesheets_for_Work_Order</name>
        <label>Get All Open Timesheets for Work Order</label>
        <locationX>2277</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Time_Entry_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordWO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FSL_Timesheet__c</object>
        <outputReference>GetAll_UserIdsForOpenTimeEntriesInJob</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Resource__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>gets open timesheets for the given work order</description>
        <name>Get_All_Open_Timesheets_for_Work_Order_0</name>
        <label>Get All Open Timesheets for Work Order</label>
        <locationX>7425</locationX>
        <locationY>3074</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Time_Entry_Exists_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordWO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FSL_Timesheet__c</object>
        <outputReference>GetAll_UserIdsForOpenTimeEntriesInJob</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Resource__c</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_AssignedResource_of_the_recent_service_appointment</name>
        <label>Get AssignedResource of the recent service appointment</label>
        <locationX>4785</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_service_territory_ERP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceappnt.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>assignedRsrc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSL__EstimatedTravelDistanceTo__c</queriedFields>
        <sortField>CreatedById</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>gets open timesheets for running user</description>
        <name>Get_Open_Timesheets_for_Running_User_D</name>
        <label>Get Open Timesheets for Running User D</label>
        <locationX>8877</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Timesheet_Exists_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId_ForDesktop</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FSL_Timesheet__c</object>
        <outputReference>TimesheetEntryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Order__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Resource__c</queriedFields>
        <queriedFields>Reason__c</queriedFields>
        <queriedFields>Vehicle__c</queriedFields>
        <sortField>EndTime__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>gets open timesheets for running user</description>
        <name>Get_Open_Timesheets_for_Running_User_M</name>
        <label>Get Open Timesheets for Running User M</label>
        <locationX>3135</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Timesheet_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId_ForMobile</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FSL_Timesheet__c</object>
        <outputReference>TimesheetEntryRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Order__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Reason__c</queriedFields>
        <queriedFields>Vehicle__c</queriedFields>
        <queriedFields>Resource__c</queriedFields>
        <sortField>EndTime__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_recent_created_service_appointment</name>
        <label>Get recent created service appointment</label>
        <locationX>4785</locationX>
        <locationY>1046</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AssignedResource_of_the_recent_service_appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimesheetEntryRecord.Service_Order__c</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>serviceappnt</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_service_appointment_record_for_the_service_order</name>
        <label>Get service appointment record for the service order</label>
        <locationX>1088</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_traveled_to_distance_from_assigned_resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimesheetEntryRecord.Service_Order__c</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>serviceappnt</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_service_territory_ERP</name>
        <label>Get service territory ERP</label>
        <locationX>4785</locationX>
        <locationY>1286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clock_out_screen_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordWO.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputReference>sertTerr</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ERP__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_service_territory_ERP_Mobile</name>
        <label>Get service territory ERP_Mobile</label>
        <locationX>1089</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clock_out_screen_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordWO.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputReference>sertTerr</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ERP__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_traveled_to_distance_from_assigned_resource</name>
        <label>Get traveled to distance from assigned resource</label>
        <locationX>1089</locationX>
        <locationY>1046</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_service_territory_ERP_Mobile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceappnt.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>assignedRsrc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSL__EstimatedTravelDistanceTo__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_ERP</name>
        <label>Get User ERP</label>
        <locationX>8877</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Timesheets_for_Running_User_D</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserERPValue</assignToReference>
            <field>ERP__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>gets current work order the flow is launched from</description>
        <name>GetCurrentWorkOrder</name>
        <label>Mobile - GetCurrentWorkOrder</label>
        <locationX>3828</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CICOFLAG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>recordWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>isCICOVisible__c</queriedFields>
        <queriedFields>Service_Order_Extension__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>gets current work order the flow is launched from</description>
        <name>GetCurrentWorkOrder_0</name>
        <label>Desktop - GetCurrentWorkOrder</label>
        <locationX>9911</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CICOFLAG_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>recordWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FSL_Sub_Type__c</queriedFields>
        <queriedFields>isCICOVisible__c</queriedFields>
        <queriedFields>Service_Order_Extension__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Open_Timesheet</name>
        <label>Update Open Timesheet</label>
        <locationX>2239</locationX>
        <locationY>1924</locationY>
        <connector>
            <targetReference>AssignNullTo_Clock_In_User_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimesheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Clocked_Out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage__c</field>
            <value>
                <elementReference>Mileage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes_M</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Timesheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Open_Timesheet_0</name>
        <label>Update Open Timesheet</label>
        <locationX>7425</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>AssignNullTo_Clock_In_User_Ids_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erro</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimesheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Calculated_Mileage__c</field>
            <value>
                <elementReference>assignedRsrc.FSL__EstimatedTravelDistanceTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Clocked_Out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage__c</field>
            <value>
                <elementReference>Mileage_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>ClockoutNotesWorking</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Timesheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Open_Timesheet_0_0_0</name>
        <label>Update Open Timesheet</label>
        <locationX>297</locationX>
        <locationY>1526</locationY>
        <faultConnector>
            <targetReference>erro_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimesheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Calculated_Mileage__c</field>
            <value>
                <elementReference>assignedRsrc.FSL__EstimatedTravelDistanceTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Address__c</field>
            <value>
                <elementReference>End_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Clocked_Out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage__c</field>
            <value>
                <elementReference>Mileage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes_M_0</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Timesheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Open_Timesheet_0_0_0_0_0_0</name>
        <label>Update Open Timesheet</label>
        <locationX>6084</locationX>
        <locationY>2453</locationY>
        <connector>
            <targetReference>AssignNullTo_Clock_In_User_Ids_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erro</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimesheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Calculated_Mileage__c</field>
            <value>
                <elementReference>assignedRsrc.FSL__EstimatedTravelDistanceTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Address__c</field>
            <value>
                <elementReference>End_Address_Web</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Clocked_Out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage__c</field>
            <value>
                <elementReference>Mileage_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>NotesTravel_0_0</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Timesheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Open_Timesheet_0_0_0_0_0_0_0</name>
        <label>Update Open Timesheet</label>
        <locationX>4783</locationX>
        <locationY>1537</locationY>
        <connector>
            <targetReference>AssignNullTo_Clock_In_User_Ids_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>erro</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimesheetEntryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Calculated_Mileage__c</field>
            <value>
                <elementReference>assignedRsrc.FSL__EstimatedTravelDistanceTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Address__c</field>
            <value>
                <elementReference>End_Address_Web</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Clocked_Out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage__c</field>
            <value>
                <elementReference>Mileage_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes_D0</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Timesheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Clock_In</name>
        <label>Update WO Clock In</label>
        <locationX>2275</locationX>
        <locationY>3086</locationY>
        <inputReference>recordWOExtension</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Clock_In_0</name>
        <label>Update WO Clock In</label>
        <locationX>7425</locationX>
        <locationY>3746</locationY>
        <faultConnector>
            <targetReference>erro</targetReference>
        </faultConnector>
        <inputReference>recordWOExtension</inputReference>
    </recordUpdates>
    <screens>
        <name>Checkout_NonBMS</name>
        <label>Checkout_NonBMS</label>
        <locationX>5753</locationX>
        <locationY>1886</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Open_Timesheet_0</targetReference>
        </connector>
        <fields>
            <name>Notes_NonBMS</name>
            <defaultValue>
                <stringValue>{!TimesheetEntryRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CICOValidationMobile</name>
        <label>CICOValidationMobile</label>
        <locationX>4257</locationX>
        <locationY>563</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageMobile</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CICO is not available for this Service Territory&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CICOValidationMobile_0</name>
        <label>CICOValidationMobile</label>
        <locationX>10681</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageMobile_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CICO is not available for this Service Territory&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clock_out_screen</name>
        <label>Clock out screen</label>
        <locationX>2850</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Open_Timesheet</targetReference>
        </connector>
        <fields>
            <name>Notes_M</name>
            <defaultValue>
                <stringValue>{!TimesheetEntryRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ClockOutMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!FSL_Clock_Out_Next}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clock_out_screen_0</name>
        <label>Clock out screen</label>
        <locationX>6281</locationX>
        <locationY>2498</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Open_Timesheet_0</targetReference>
        </connector>
        <fields>
            <name>Notes_D</name>
            <defaultValue>
                <stringValue>{!TimesheetEntryRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter 255 or less characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Notes_D}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ClockOutMessage_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!FSL_Clock_Out_Next}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clock_out_screen_0_0</name>
        <label>Clock out screen</label>
        <locationX>50</locationX>
        <locationY>1423</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Open_Timesheet_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Notes_M_0</name>
            <defaultValue>
                <stringValue>{!TimesheetEntryRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Address</name>
            <fieldText>End Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Address cannot exceed 240 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!End_Address}) &lt; 241</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Mileage</name>
            <dataType>Number</dataType>
            <fieldText>Mileage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Mileage cannot exceed 4 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Mileage} &lt; 10000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ClockOutMessage_0_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!FSL_Clock_Out_Next}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clock_out_screen_0_0_0</name>
        <label>Clock out screen</label>
        <locationX>4785</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Open_Timesheet_0_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Notes_D0</name>
            <defaultValue>
                <stringValue>{!TimesheetEntryRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter 255 or less characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Notes_D0}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>End_Address_Web</name>
            <fieldText>End Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Address cannot exceed 240 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!End_Address_Web}) &lt; 241</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Mileage_0</name>
            <dataType>Number</dataType>
            <fieldText>Mileage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Mileage cannot exceed 4 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Mileage_0} &lt; 10000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ClockOutMessage_D</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!FSL_Clock_Out_Next}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>erro</name>
        <label>erro</label>
        <locationX>8831</locationX>
        <locationY>3868</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>erro_0</name>
        <label>erro</label>
        <locationX>561</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignNullTo_Clock_In_User_Ids</targetReference>
        </connector>
        <fields>
            <name>error_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotesforNBMST_0_0</name>
        <label>Notes</label>
        <locationX>6017</locationX>
        <locationY>1886</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Open_Timesheet_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>NotesTravel_0_0</name>
            <defaultValue>
                <stringValue>{!TimesheetEntryRecord.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PrintNoOpenTimesheetExistsforUser</name>
        <label>PrintNoOpenTimesheetExistsforUser</label>
        <locationX>3729</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoClockOnExists</name>
            <fieldText>&lt;p&gt;{!FSL_Clock_Out_Msg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PrintNoOpenTimesheetExistsforUser_0</name>
        <label>PrintNoOpenTimesheetExistsforUser</label>
        <locationX>10153</locationX>
        <locationY>926</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoClockOnExists_0</name>
            <fieldText>&lt;p&gt;{!FSL_Clock_Out_Msg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>7392</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Mobile_or_Desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdditionalSubType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Additional_Sub_Type__c</objectType>
    </variables>
    <variables>
        <description>AdditionalSubTypeList</description>
        <name>AdditionalSubTypeList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_Additional_Sub_Type__c</objectType>
    </variables>
    <variables>
        <name>assetDataDesktop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetDataMobile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assignedRsrc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>FASrts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_SRT__c</objectType>
    </variables>
    <variables>
        <name>GetAll_UserIdsForOpenTimeEntriesInJob</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FSL_Timesheet__c</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isNotesRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LookTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FSL_Timesheet__c</objectType>
    </variables>
    <variables>
        <description>User ERP Value - MOVEX</description>
        <name>MOVEX</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>MOVEX</stringValue>
        </value>
    </variables>
    <variables>
        <description>ERP Value - MOVEX-UK</description>
        <name>MOVEX_UK</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>MOVEX-UK</stringValue>
        </value>
    </variables>
    <variables>
        <name>nonSRTs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_SRT__c</objectType>
    </variables>
    <variables>
        <description>Job Id for Open Clock</description>
        <name>OpenClockJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>payerAccount1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>payerAccountNameList from Additional Sub Types</description>
        <name>payerAccountNameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>recordWOExtension</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_Order_Extension__c</objectType>
    </variables>
    <variables>
        <name>repairSRTs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSL_SRT__c</objectType>
    </variables>
    <variables>
        <description>service territory data</description>
        <name>sertTerr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>serviceappnt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppntment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>TimesheetEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FSL_Timesheet__c</objectType>
    </variables>
    <variables>
        <name>UserERPValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
