flows/FSL_PartsGSQ.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HandleException</name>
        <label>HandleException</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <actionName>FSL_FlowCustomError</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ScreenErrorMessage</assignToReference>
            <name>customErrorMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>RefreshServiceOrder</name>
        <label>RefreshServiceOrder</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>c:FSL_ReloadTabCmp</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_GSQ_Parts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>WereRecordsFound</name>
        <label>WereRecordsFound?</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>NoRecordsFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GSQ_Parts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GSQ_Parts</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>WereRecsUpdated</name>
        <label>WereRecsUpdated?</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_GSQ_Parts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdatesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateGSQParts.numberOfRowsEdited</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_GSQ_Part_Records</targetReference>
            </connector>
            <label>UpdatesFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOAssignedDecision</name>
        <label>WOAssignedDecision</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>WO_Not_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WORecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GSQ_Parts</targetReference>
            </connector>
            <label>WOAssigned</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MyWORecords</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <limit>30</limit>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WORecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>This is Datatable Header based on FTR/Non FTR Service Order</description>
        <name>DatatableHeader</name>
        <dataType>String</dataType>
        <expression>IF({!WoRec.Service_Order_Extension__r.FSL_ABRFlag__c} = true ,{!FTRDatatableLabel},{!DatatableLabel})</expression>
    </formulas>
    <interviewLabel>FSL_PartsGSQ {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>FSL_PartsGSQ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_GSQ_Parts</name>
        <label>Get GSQ Parts</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WereRecordsFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GSQ_Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL_Parts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_GSQ_Part_Records</name>
        <label>Update GSQ Part Records</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>RefreshServiceOrder</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleException</targetReference>
        </faultConnector>
        <inputReference>UpdateGSQParts.outputEditedRows</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;{!ScreenErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoRecordsFound</name>
        <label>NoRecordsFound</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WereRecsUpdated</targetReference>
        </connector>
        <fields>
            <name>NoDataHeader</name>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;strong&gt;{!DatatableHeader}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoData</name>
            <fieldText>&lt;p&gt;{!NoDataMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save Update(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_GSQ_Parts</name>
        <label>Update GSQ Parts</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WereRecsUpdated</targetReference>
        </connector>
        <fields>
            <name>UpdateGSQParts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FSL_Parts__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>FSL_Parts__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_GSQ_Parts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Select__c:true, Replacement_Repair_Reason__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Select__c,Solution_Title__c,Part_Name__c,Part_Description__c,Return_to_Factory__c,Return_Message__c,Part_Details__c,Replacement_Repair_Reason__c,Notes__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:120, Select__c:90, Solution_Title__c:124, Part_Name__c:124, Part_Description__c:142, Return_to_Factory__c:150, Return_Message__c:166, Part_Details__c:133, Replacement_Repair_Reason__c:219, Notes__c:103</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom56</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <elementReference>DatatableHeader</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save Update(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WO_Not_Assigned</name>
        <label>WO Not Assigned</label>
        <locationX>402</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_GSQ_Parts</targetReference>
        </connector>
        <fields>
            <name>WONumPick</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please pick one of the existing WO records to proceed further.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_Number</name>
            <choiceReferences>MyWORecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Order Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WOAssignedDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DatatableLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSL_GSQ_Flow_Label</elementReference>
        </value>
    </variables>
    <variables>
        <description>This is for Datatable Header for FTR Service Order</description>
        <name>FTRDatatableLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSL_FTRGSQ_Flow_Label</elementReference>
        </value>
    </variables>
    <variables>
        <name>NoDataMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSL_NoDataDisplay</elementReference>
        </value>
    </variables>
    <variables>
        <name>ScreenErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceOrderExtension</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Order_Extension__c</objectType>
    </variables>
    <variables>
        <name>WoRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WORecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
