flows/FSL_Other_Claimables.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <actionName>FSL_FlowCustomError</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ScreenError</assignToReference>
            <name>customErrorMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Refresh Component after Create</description>
        <name>RefreshAfterCreate</name>
        <label>RefreshAfterCreate</label>
        <locationX>842</locationX>
        <locationY>1094</locationY>
        <actionName>c:FSL_ReloadTabCmp</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Other_Claimables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <description>Refresh Component after Delete</description>
        <name>RefreshAfterDelete</name>
        <label>RefreshAfterDelete</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <actionName>c:FSL_ReloadTabCmp</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Other_Claimables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <description>To Refresh the component after Save</description>
        <name>RefreshServiceOrder</name>
        <label>RefreshAfterUpdate</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>c:FSL_ReloadTabCmp</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Other_Claimables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>AIRCONDITIONINGORINGS</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;AIR CONDITIONING ORINGS&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AIR CONDITIONING ORINGS</stringValue>
        </value>
    </choices>
    <choices>
        <name>AIRDRYER</name>
        <choiceText>AIR DRYER</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AIR DRYER	</stringValue>
        </value>
    </choices>
    <choices>
        <name>AIRFILTER</name>
        <choiceText>AIR FILTER</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AIR FILTER	</stringValue>
        </value>
    </choices>
    <choices>
        <name>ANTIFREEZECOOLANT</name>
        <choiceText>ANTIFREEZE/COOLANT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ANTIFREEZE/COOLANT	</stringValue>
        </value>
    </choices>
    <choices>
        <name>ASSEMBLYLUBE</name>
        <choiceText>ASSEMBLY LUBE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASSEMBLY LUBE	</stringValue>
        </value>
    </choices>
    <choices>
        <name>BELT</name>
        <choiceText>BELT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BELT</stringValue>
        </value>
    </choices>
    <choices>
        <name>CAMPAIGNSUPPLIES</name>
        <choiceText>CAMPAIGNSUPPLIES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CAMPAIGN SUPPLIES	</stringValue>
        </value>
    </choices>
    <choices>
        <name>CLAMP</name>
        <choiceText>CLAMP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CLAMP</stringValue>
        </value>
    </choices>
    <choices>
        <name>COMMERCIALTRAVEL</name>
        <choiceText>COMMERCIAL TRAVEL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COMMERCIAL TRAVEL	</stringValue>
        </value>
    </choices>
    <choices>
        <name>CONTRACTEDSERVICES</name>
        <choiceText>CONTRACTED SERVICES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CONTRACTED SERVICES	</stringValue>
        </value>
    </choices>
    <choices>
        <name>COOLANTFILTER</name>
        <choiceText>COOLANT FILTER</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COOLANT FILTER	</stringValue>
        </value>
    </choices>
    <choices>
        <name>CRANKCASEBRTHRELEMENT</name>
        <choiceText>CRANKCASE BRTHR ELEMENT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CRANKCASE BRTHR ELEMENT	</stringValue>
        </value>
    </choices>
    <choices>
        <name>DCA</name>
        <choiceText>DCA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DCA</stringValue>
        </value>
    </choices>
    <choices>
        <name>DEF</name>
        <choiceText>DEF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DEF</stringValue>
        </value>
    </choices>
    <choices>
        <name>DEFFILTER</name>
        <choiceText>DEF FILTER</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DEF FILTER	</stringValue>
        </value>
    </choices>
    <choices>
        <name>DRIVELINESTRAPKIT</name>
        <choiceText>DRIVELINE STRAP KIT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DRIVELINE STRAP KIT	</stringValue>
        </value>
    </choices>
    <choices>
        <name>EXHAUSTMOUNTINGSTRAP</name>
        <choiceText>EXHAUST MOUNTING STRAP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EXHAUST MOUNTING STRAP	</stringValue>
        </value>
    </choices>
    <choices>
        <name>FUELFILTER</name>
        <choiceText>FUEL FILTER</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FUEL FILTER	</stringValue>
        </value>
    </choices>
    <choices>
        <name>HANDLINGALLOWANCE</name>
        <choiceText>HANDLING ALLOWANCE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HANDLING ALLOWANCE	</stringValue>
        </value>
    </choices>
    <choices>
        <name>HARDWAREFASTENERS</name>
        <choiceText>HARDWARE/FASTENERS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HARDWARE/FASTENERS	</stringValue>
        </value>
    </choices>
    <choices>
        <name>HOSE</name>
        <choiceText>HOSE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HOSE	</stringValue>
        </value>
    </choices>
    <choices>
        <name>IMPORTCHARGES</name>
        <choiceText>IMPORT CHARGES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IMPORT CHARGES	</stringValue>
        </value>
    </choices>
    <choices>
        <name>OEMGASKET</name>
        <choiceText>OEM GASKET</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OEM GASKET	</stringValue>
        </value>
    </choices>
    <choices>
        <name>OIL</name>
        <choiceText>OIL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OIL</stringValue>
        </value>
    </choices>
    <choices>
        <name>OILFILTER</name>
        <choiceText>OIL FILTER</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OIL FILTER	</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAINT</name>
        <choiceText>PAINT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PAINT</stringValue>
        </value>
    </choices>
    <choices>
        <name>RADIATORFLUSH</name>
        <choiceText>RADIATOR FLUSH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RADIATOR FLUSH	</stringValue>
        </value>
    </choices>
    <choices>
        <name>REPLACEMENTENGINE</name>
        <choiceText>REPLACEMENT ENGINE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REPLACEMENT ENGINE	</stringValue>
        </value>
    </choices>
    <choices>
        <name>SEALANTADHESIVE</name>
        <choiceText>SEALANT/ADHESIVE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SEALANT/ADHESIVE	</stringValue>
        </value>
    </choices>
    <choices>
        <name>TIES</name>
        <choiceText>TIES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TIES	</stringValue>
        </value>
    </choices>
    <choices>
        <name>TOWING</name>
        <choiceText>TOWING</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TOWING	</stringValue>
        </value>
    </choices>
    <choices>
        <name>TRANSMISSIONFLUIDLUBE</name>
        <choiceText>TRANSMISSIONFLUID/LUBE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TRANSMISSION FLUID/LUBE	</stringValue>
        </value>
    </choices>
    <choices>
        <name>UNLISTED</name>
        <choiceText>UNLISTED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UNLISTED	</stringValue>
        </value>
    </choices>
    <choices>
        <name>WATERFILTER</name>
        <choiceText>WATER FILTER</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WATER FILTER	</stringValue>
        </value>
    </choices>
    <choices>
        <name>WIRINGSUPPLIES</name>
        <choiceText>WIRING SUPPLIES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WIRING SUPPLIES	</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_record_edits</name>
        <label>Check record edits</label>
        <locationX>578</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_of_Edits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otherclaimable.numberOfRowsEdited</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Other_Claimables</targetReference>
            </connector>
            <label>Count of Edits</label>
        </rules>
        <rules>
            <name>DeleteRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete.buttonClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otherclaimable.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteScreen</targetReference>
            </connector>
            <label>DeleteRecord</label>
        </rules>
        <rules>
            <name>CreateRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Claimable</targetReference>
            </connector>
            <label>CreateRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoRecords</name>
        <label>NoRecords?</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>NoDataScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Claimables</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>saveupdates</targetReference>
            </connector>
            <label>RecordsFound</label>
        </rules>
    </decisions>
    <interviewLabel>FSL Other Claimables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Other Claimables</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>RefreshAfterCreate</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <elementReference>Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Order__c</field>
            <value>
                <elementReference>ServiceOrder.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>Unit_Price</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Other_Claimable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRecords</name>
        <label>DeleteRecords</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>RefreshAfterDelete</targetReference>
        </connector>
        <inputReference>otherclaimable.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Other_Claimables</name>
        <label>Get Other Claimables</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL_Other_Claimable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_single_record</name>
        <label>Get single record</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Other_Claimables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WORec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Other_Claimables</name>
        <label>Update Other Claimables</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>RefreshServiceOrder</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>otherclaimable.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>DeleteScreen</name>
        <label>DeleteScreen</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>DeleteRecords</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;{!$Label.FSL_Delete_OtherClaimable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 0, 30);&quot;&gt;{!ScreenError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoDataScreen</name>
        <label>NoDataScreen</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_record_edits</targetReference>
        </connector>
        <fields>
            <name>CreateNew</name>
            <extensionName>c:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-float--right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>$Label.CSS_New</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlign</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CreateNewRecord</assignToReference>
                <name>buttonClicked</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WORec.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Canceled</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>WORec.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Closed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoDataHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!DatatableLabel}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoDataMessage</name>
            <fieldText>&lt;p&gt;{!NoDataDisplayMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_Claimable</name>
        <label>Other Claimable</label>
        <locationX>842</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
        <fields>
            <name>Other_Claimable_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Claimable_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Header</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!DatatableLabel}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ServiceOrder</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Service_Order__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Order</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>FSL_Other_Claimable__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>WORecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Unit_Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Unit Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Other_Claimable_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Item</name>
                    <choiceReferences>AIRCONDITIONINGORINGS</choiceReferences>
                    <choiceReferences>AIRDRYER</choiceReferences>
                    <choiceReferences>AIRFILTER</choiceReferences>
                    <choiceReferences>ANTIFREEZECOOLANT</choiceReferences>
                    <choiceReferences>ASSEMBLYLUBE</choiceReferences>
                    <choiceReferences>BELT</choiceReferences>
                    <choiceReferences>CAMPAIGNSUPPLIES</choiceReferences>
                    <choiceReferences>CLAMP</choiceReferences>
                    <choiceReferences>COMMERCIALTRAVEL</choiceReferences>
                    <choiceReferences>CONTRACTEDSERVICES</choiceReferences>
                    <choiceReferences>COOLANTFILTER</choiceReferences>
                    <choiceReferences>CRANKCASEBRTHRELEMENT</choiceReferences>
                    <choiceReferences>DCA</choiceReferences>
                    <choiceReferences>DEF</choiceReferences>
                    <choiceReferences>DEFFILTER</choiceReferences>
                    <choiceReferences>DRIVELINESTRAPKIT</choiceReferences>
                    <choiceReferences>EXHAUSTMOUNTINGSTRAP</choiceReferences>
                    <choiceReferences>FUELFILTER</choiceReferences>
                    <choiceReferences>HANDLINGALLOWANCE</choiceReferences>
                    <choiceReferences>HARDWAREFASTENERS</choiceReferences>
                    <choiceReferences>HOSE</choiceReferences>
                    <choiceReferences>IMPORTCHARGES</choiceReferences>
                    <choiceReferences>OEMGASKET</choiceReferences>
                    <choiceReferences>OIL</choiceReferences>
                    <choiceReferences>OILFILTER</choiceReferences>
                    <choiceReferences>PAINT</choiceReferences>
                    <choiceReferences>RADIATORFLUSH</choiceReferences>
                    <choiceReferences>REPLACEMENTENGINE</choiceReferences>
                    <choiceReferences>SEALANTADHESIVE</choiceReferences>
                    <choiceReferences>TIES</choiceReferences>
                    <choiceReferences>TOWING</choiceReferences>
                    <choiceReferences>TRANSMISSIONFLUIDLUBE</choiceReferences>
                    <choiceReferences>WATERFILTER</choiceReferences>
                    <choiceReferences>WIRINGSUPPLIES</choiceReferences>
                    <choiceReferences>UNLISTED</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Item</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>saveupdates</name>
        <label>save update(s)</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_record_edits</targetReference>
        </connector>
        <fields>
            <name>New</name>
            <extensionName>c:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonFlowAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>$Label.CSS_New</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-float--right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlign</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CreateNewRecord</assignToReference>
                <name>buttonClicked</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WORec.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Closed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>WORec.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Canceled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>otherclaimable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FSL_Other_Claimable__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>FSL_Other_Claimable__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Other_Claimables</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Item__c,Description__c,Quantity__c,Unit_Price__c,Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:128, Item__c:225, Description__c:157, Quantity__c:147, Unit_Price__c:148, Amount__c:164</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom34</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Item__c:standard:product_required, Quantity__c:standard:product_required, Unit_Price__c:standard:product_required</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <elementReference>DatatableLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Delete</name>
            <extensionName>c:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-float--left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>$Label.FSL_Delete_Selected</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save Update(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_single_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateNewRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DatatableLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSL_OtherClaimables_Flow_Label</elementReference>
        </value>
    </variables>
    <variables>
        <name>Deleteselected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSL_Delete_Selected</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewButton</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.CSS_New</elementReference>
        </value>
    </variables>
    <variables>
        <name>NoDataDisplayMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSL_NoDataDisplay</elementReference>
        </value>
    </variables>
    <variables>
        <name>ScreenError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WORec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WORecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
