flows/FSL_Creation_of_Recommendation_On_Service_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Status_In_Progress_Choice</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Ready_For_Quote</name>
        <choiceText>Ready For Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ready For Quote</stringValue>
        </value>
    </choices>
    <description>To introduce the logic to create new related Recommendation record for the WorkOrder from which the flow is launched.</description>
    <dynamicChoiceSets>
        <description>Urgency Picklist field from FSL_Recommendation Object is being used.</description>
        <name>Urgency_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Urgency__c</picklistField>
        <picklistObject>FSL_Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>FSL Creation of Recommendation On Service Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Creation of Recommendation On Service Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Recommendation_Record</name>
        <label>Create Recommendation Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Detailed_Repair_Information__c</field>
            <value>
                <elementReference>Detailed_Repair_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_site_Labor_Time_for_Repair__c</field>
            <value>
                <elementReference>On_Site_Labor_Time_for_Repair</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parts_Information__c</field>
            <value>
                <elementReference>Parts_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Order__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Repair__c</field>
            <value>
                <elementReference>Type_of_Repair</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgency__c</field>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Recommendation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Service_Order_Number</name>
        <label>Service Order Number</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recommendation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>ServiceOrderNumber</assignToReference>
            <field>WorkOrderNumber</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Recommendation_Screen</name>
        <label>Recommendation Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Recommendation_Record</targetReference>
        </connector>
        <fields>
            <name>ServiceOrderName</name>
            <fieldText>&lt;p&gt;Service Order&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceOrderNumberDisplay</name>
            <fieldText>&lt;p&gt;{!ServiceOrderNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_of_Repair</name>
            <dataType>String</dataType>
            <fieldText>Type of Repair</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Detailed_Repair_Information</name>
            <fieldText>Detailed Repair Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>On_Site_Labor_Time_for_Repair</name>
            <dataType>String</dataType>
            <fieldText>On-Site Labor Time for Repair</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Urgency</name>
            <choiceReferences>Urgency_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Urgency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status_Picklist</name>
            <choiceReferences>Status_In_Progress_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Status_In_Progress_Choice</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Parts_Information</name>
            <fieldText>Parts Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Order_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
