flows/FSL_CreateAndUpdateLangFlowUserUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>UpdateContactToBMS</name>
        <label>UpdateContactToBMS</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <actionName>FSL_ContactUpdateToBMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>GuidanzContact</name>
        <label>GuidanzContact</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GuidanzContacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CSS Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guidanz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSL_Contact_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContactToBMS</targetReference>
            </connector>
            <label>GuidanzContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_related_user</name>
        <label>Update related user</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>GuidanzContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_related_user_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Updaterelateduser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Users</targetReference>
            </connector>
            <label>Update related user</label>
        </rules>
    </decisions>
    <description>FSL_CreateAndUpdateLangFlow Conversion</description>
    <formulas>
        <name>Updaterelateduser</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Record.RecordType.DeveloperName}= &apos;Guidanz&apos;, {!$Profile.Name} &lt;&gt; &apos;FSL_Guidanz_Customer_Community_User&apos; ,OR(
ISCHANGED({!$Record.Title}), ISCHANGED({!$Record.FirstName}), ISCHANGED({!$Record.LastName}), ISCHANGED({!$Record.MobilePhone})))</expression>
    </formulas>
    <interviewLabel>FSL_CreateAndUpdateLangFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_CreateAndUpdateLangFlowUserUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Users</name>
        <label>Update Users</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>GuidanzContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IAM_Contact_Owner__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_related_user</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
