flows/FSL_DiagnosticSRTS_Datatable.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HandleException</name>
        <label>HandleException</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <actionName>FSL_FlowCustomError</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ScreenErrorMessage</assignToReference>
            <name>customErrorMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>HandleException_0</name>
        <label>HandleException</label>
        <locationX>1106</locationX>
        <locationY>1610</locationY>
        <actionName>FSL_FlowCustomError</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Screen_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ScreenErrorMessage</assignToReference>
            <name>customErrorMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>RefreshServiceOrder</name>
        <label>RefreshServiceOrder</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <actionName>c:FSL_ReloadTabCmp</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_DAA_SRTS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>RefreshServiceOrder_0</name>
        <label>RefreshServiceOrder</label>
        <locationX>842</locationX>
        <locationY>1610</locationY>
        <actionName>c:FSL_ReloadTabCmp</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_DAA_SRTS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>Diagnostic</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Diagnostic</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_FTR_Request</name>
        <label>Is FTR Request</label>
        <locationX>380</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Get_DAA_SRTS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_FTR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SO_Extensio.FSL_ABRFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FTR_Screen</targetReference>
            </connector>
            <label>is FTR</label>
        </rules>
    </decisions>
    <decisions>
        <name>TechUserUpdates</name>
        <label>TechUserUpdates</label>
        <locationX>1106</locationX>
        <locationY>1370</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_DAA_SRTS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TechUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateDAASRTs_Tech.numberOfRowsEdited</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DAA_Records_0</targetReference>
            </connector>
            <label>TechUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserProfile</name>
        <label>UserProfile</label>
        <locationX>710</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Update_DAA_SRTs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoData</name>
            <conditionLogic>1 OR (2 And (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>Get_DAA_SRTS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_DAA_SRTS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EVL_Dealer_Technician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSS_Service_Technician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoDataDisplay</targetReference>
            </connector>
            <label>NoData</label>
        </rules>
        <rules>
            <name>IsATechUser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EVL_Dealer_Technician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSS_Service_Technician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DAA_SRTs_Tech</targetReference>
            </connector>
            <label>IsATechUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>WereRecsUpdated</name>
        <label>WereRecsUpdated?</label>
        <locationX>710</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>TechUserUpdates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdatesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateDAASRTs.numberOfRowsEdited</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DAA_Records</targetReference>
            </connector>
            <label>NonTechUpdatesFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOAssignedDecision</name>
        <label>WOAssignedDecision</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>WO_Not_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WORecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SO_Extensio</targetReference>
            </connector>
            <label>WOAssigned</label>
        </rules>
    </decisions>
    <description>Updated for FTR changes</description>
    <dynamicChoiceSets>
        <name>MyWORecords</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <limit>30</limit>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WORecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <expression>{!$Label.EVL_Close_Lock}</expression>
    </formulas>
    <interviewLabel>FSL_DiagnosticSRTS_Datatable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_DiagnosticSRTS_Datatable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_DAA_SRTS</name>
        <label>Get DAA SRTS</label>
        <locationX>710</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserProfile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Diagnostic_SRTs__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL_SRT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SO_Extensio</name>
        <label>Get SO Extensio</label>
        <locationX>380</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_FTR_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Order_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Order_Extension__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSL_ABRFlag__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_DAA_Records</name>
        <label>Update DAA Records</label>
        <locationX>314</locationX>
        <locationY>1370</locationY>
        <connector>
            <targetReference>RefreshServiceOrder</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleException</targetReference>
        </faultConnector>
        <inputReference>UpdateDAASRTs.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DAA_Records_0</name>
        <label>Update DAA Records</label>
        <locationX>842</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>RefreshServiceOrder_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleException_0</targetReference>
        </faultConnector>
        <inputReference>UpdateDAASRTs_Tech.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>1610</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;{!ScreenErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>1106</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>HeaderInfo_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Diagnostic, Access, &amp;amp; Admin&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;{!ScreenErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FTR_Screen</name>
        <label>FTR Screen</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoDataDisplay</name>
        <label>NoDataDisplay</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_DAA_SRTS</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!DatatableLabel}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoDataMessageDisplay</name>
            <fieldText>&lt;p&gt;{!NoDataMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save Update(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_DAA_SRTs</name>
        <label>Update DAA SRTs</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WereRecsUpdated</targetReference>
        </connector>
        <fields>
            <name>Update_DAA_SRTs_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_DAA_SRTs_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdateDAASRTs</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>FSL_SRT__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cb_displayAll</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>FSL_SRT__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>SRT_Select__c:true, SRT_Quantity__c:true, SRT_Notes__c:true, Use_R_Time__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,SRT_Select__c,SRT_Quantity__c,Solution_Number__c,Solution_Title__c,CSS_Fault_Code__c,Failure__c,SRT_Details__c,SRT_Title__c,SRT_Notes__c,Assignment__c,Step_Description__c,Use_R_Time__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Name:SRT Code, SRT_Quantity__c:Quantity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:102, SRT_Select__c:79, SRT_Quantity__c:96, Solution_Number__c:148, Solution_Title__c:140, CSS_Fault_Code__c:168, Failure__c:102, SRT_Details__c:123, SRT_Title__c:140, SRT_Notes__c:109, Assignment__c:136, Step_Description__c:144, Use_R_Time__c:110</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <elementReference>DatatableLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>custom:custom25</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>openLinkinSameTab</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_openLinkinSameTab</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_DAA_SRTS</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRecordCount</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRecordCount</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save Update(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_DAA_SRTs_Tech</name>
        <label>Update DAA SRTs Tech</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WereRecsUpdated</targetReference>
        </connector>
        <fields>
            <name>Update_DAA_SRTs_Tech_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_DAA_SRTs_Tech_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpdateDAASRTs_Tech</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>FSL_SRT__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cb_displayAll</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>FSL_SRT__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>SRT_Select__c:true, SRT_Quantity__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,SRT_Select__c,SRT_Quantity__c,Solution_Number__c,Solution_Title__c,CSS_Fault_Code__c,Failure__c,SRT_Details__c,SRT_Title__c,SRT_Notes__c,Assignment__c,Step_Description__c,Use_R_Time__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Name:SRT Code, SRT_Quantity__c:Quantity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:102, SRT_Select__c:79, SRT_Quantity__c:96, Solution_Number__c:148, Solution_Title__c:140, CSS_Fault_Code__c:168, Failure__c:102, SRT_Details__c:123, SRT_Title__c:140, SRT_Notes__c:109, Assignment__c:136, Step_Description__c:144, Use_R_Time__c:110</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>custom:custom25</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>openLinkinSameTab</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_openLinkinSameTab</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_DAA_SRTS</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRecordCount</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRecordCount</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <elementReference>DatatableLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save Update(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WO_Not_Assigned</name>
        <label>WO_Not_Assigned</label>
        <locationX>468</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_SO_Extensio</targetReference>
        </connector>
        <fields>
            <name>WOPick</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please pick one of the existing WO records to proceed further.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_Number</name>
            <choiceReferences>MyWORecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Order Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WOAssignedDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DatatableLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSL_DiagnosticSRTs_Flow_Label</elementReference>
        </value>
    </variables>
    <variables>
        <name>NoDataMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSL_NoDataDisplay</elementReference>
        </value>
    </variables>
    <variables>
        <name>ScreenErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Test</stringValue>
        </value>
    </variables>
    <variables>
        <name>WORecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
