flows/FSL_Non_Commercial_Travel_Meals_and_Lodging.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <actionName>FSL_FlowCustomError</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ScreenError</assignToReference>
            <name>customErrorMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Refresh Component After Create</description>
        <name>RefreshAfterCreate</name>
        <label>RefreshAfterCreate</label>
        <locationX>578</locationX>
        <locationY>1550</locationY>
        <actionName>c:FSL_ReloadTabCmp</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Non_Com_Parts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <description>Refresh Component after Delete</description>
        <name>RefreshAfterDelete</name>
        <label>RefreshAfterDelete</label>
        <locationX>1106</locationX>
        <locationY>1670</locationY>
        <actionName>c:FSL_ReloadTabCmp</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Non_Com_Parts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <description>Refresh component after update</description>
        <name>RefreshAfterUpdate</name>
        <label>RefreshAfterUpdate</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <actionName>c:FSL_ReloadTabCmp</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Non_Com_Parts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>Lodging</name>
        <choiceText>Lodging</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lodging</stringValue>
        </value>
    </choices>
    <choices>
        <name>Meals</name>
        <choiceText>Meals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meals</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Commercial_Travel</name>
        <choiceText>Non Commercial-Travel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Commercial-Travel</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </choices>
    <constants>
        <name>FAPartRecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0121b0000000U7J</stringValue>
        </value>
    </constants>
    <constants>
        <name>ServiceOrderText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Order</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DeleteButtonClicked</name>
        <label>DeleteButtonClicked?</label>
        <locationX>1370</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Non_Com_Parts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DeleteRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete.buttonClicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdateNCP.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeletePopUp</targetReference>
            </connector>
            <label>DeleteRecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewButtonClicked</name>
        <label>NewButtonClicked?</label>
        <locationX>974</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>DeleteButtonClicked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateNewRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewRecordCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_NCP_Page</targetReference>
            </connector>
            <label>Create New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoRecords</name>
        <label>NoRecords?</label>
        <locationX>512</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>NoDataScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Non_Com_Parts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Non_Com_Parts</targetReference>
            </connector>
            <label>RecordsFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Recs_Updated</name>
        <label>Were Recs Updated</label>
        <locationX>512</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>NewButtonClicked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdatesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateNCP.numberOfRowsEdited</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NCP_Records</targetReference>
            </connector>
            <label>UpdatesFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOAssignedDecision</name>
        <label>WOAssignedDecision</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>WO_Not_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WORecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetWONum</targetReference>
            </connector>
            <label>WOAssigned</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AllWONumbers</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>SelectedNewWONum</assignToReference>
            <field>WorkOrderNumber</field>
        </outputAssignments>
        <valueField>WorkOrderNumber</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AllWOs</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>SelectedNewWONum</assignToReference>
            <field>WorkOrderNumber</field>
        </outputAssignments>
        <valueField>WorkOrderNumber</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EveryWO</name>
        <collectionReference>Get_Non_Com_Parts</collectionReference>
        <dataType>String</dataType>
        <displayField>Service_Order__c</displayField>
        <object>FSL_NCTML__c</object>
        <valueField>Service_Order__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MyWORecords</name>
        <dataType>String</dataType>
        <displayField>WorkOrderNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <limit>30</limit>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WORecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>FSL Non Commercial Travel, Meals, and Lodging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Non Commercial Travel, Meals, and Lodging</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreatNCPRecords</name>
        <label>CreatNCPRecords</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>RefreshAfterCreate</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Order__c</field>
            <value>
                <elementReference>GetCurrentServiceOrder.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technician__c</field>
            <value>
                <elementReference>Technician</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>Unit_Price</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_NCTML__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteSelectedRecords</name>
        <label>DeleteSelectedRecords</label>
        <locationX>1106</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>RefreshAfterDelete</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>UpdateNCP.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Non_Com_Parts</name>
        <label>Get Non Com Parts</label>
        <locationX>512</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSL_NCTML__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWONum</name>
        <label>GetWONum</label>
        <locationX>512</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_Com_Parts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WORec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_NCP_Records</name>
        <label>Update NCP Records</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>RefreshAfterUpdate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>UpdateNCP.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>DeletePopUp</name>
        <label>DeletePopUp</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>DeleteSelectedRecords</targetReference>
        </connector>
        <fields>
            <name>DeleteLabel</name>
            <fieldText>&lt;p&gt;{!$Label.FSL_Flow_NCP_Delete}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30);&quot;&gt;{!ScreenError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_NCP_Page</name>
        <label>New NCP Page</label>
        <locationX>578</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreatNCPRecords</targetReference>
        </connector>
        <fields>
            <name>New_NCP_Page_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_NCP_Page_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TableName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!DatatableLabel}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>GetCurrentServiceOrder</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Service_Order__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Order</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>FSL_NCTML__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>WORecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Technician</name>
                    <dataType>String</dataType>
                    <fieldText>Technician</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type</name>
                    <choiceReferences>Non_Commercial_Travel</choiceReferences>
                    <choiceReferences>Meals</choiceReferences>
                    <choiceReferences>Lodging</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>None</elementReference>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_NCP_Page_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Notes</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Unit_Price</name>
                    <dataType>Number</dataType>
                    <fieldText>Unit Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoDataScreen</name>
        <label>NoDataScreen</label>
        <locationX>644</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_Recs_Updated</targetReference>
        </connector>
        <fields>
            <name>CreateNew</name>
            <extensionName>c:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-float--right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>$Label.CSS_New</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlign</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewRecordCreate</assignToReference>
                <name>buttonClicked</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WORec.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Closed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>WORec.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Canceled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoDataHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!DatatableLabel}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoDataMessage</name>
            <fieldText>&lt;p&gt;{!NoDataDisplayMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Non_Com_Parts</name>
        <label>Update Non Com Parts</label>
        <locationX>380</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Were_Recs_Updated</targetReference>
        </connector>
        <fields>
            <name>NewRecord</name>
            <extensionName>c:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>$Label.CSS_New</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-float--right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlign</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewRecordCreate</assignToReference>
                <name>buttonClicked</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WORec.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Closed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>WORec.Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Canceled</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UpdateNCP</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FSL_NCTML__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>FSL_NCTML__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Technician__c,Type__c,Quantity__c,Unit_Price__c,Expense_Total__c,Notes__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:128, Technician__c:190, Type__c:187, Quantity__c:118, Unit_Price__c:127, Expense_Total__c:137, Notes__c:201</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Technician__c:true, Type__c:true, Quantity__c:true, Unit_Price__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Non_Com_Parts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Technician__c:standard:product_required, Type__c:standard:product_required, Quantity__c:standard:product_required, Unit_Price__c:standard:product_required</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:custom</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <elementReference>DatatableLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>WORecordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Delete</name>
            <extensionName>c:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClass</name>
                <value>
                    <stringValue>slds-float--left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <elementReference>$Label.FSL_Delete_Selected</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save Update(s)</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WO_Not_Assigned</name>
        <label>WO Not Assigned</label>
        <locationX>600</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetWONum</targetReference>
        </connector>
        <fields>
            <name>WOPick</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please pick one of the existing WO records to proceed further.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Order_Number</name>
            <choiceReferences>MyWORecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Work Order Number</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WOAssignedDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DatatableLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSL_NCMLP_Flow_Label</elementReference>
        </value>
    </variables>
    <variables>
        <name>DeleteSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSL_Delete_Selected</elementReference>
        </value>
    </variables>
    <variables>
        <name>New_Button</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.CSS_New</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewRecordCreate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoDataDisplayMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.FSL_NoDataDisplay</elementReference>
        </value>
    </variables>
    <variables>
        <name>ScreenError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedNewWONum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>WORec.WorkOrderNumber</elementReference>
        </value>
    </variables>
    <variables>
        <name>WORec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WORecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
