flows/FSL_SRT_Notes_After_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_SRT_Notes_Updated</name>
        <label>Check if SRT Notes Updated?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SRT_Notes_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SRT_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SRT_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Noted_Update_is_True</targetReference>
            </connector>
            <label>SRT Notes Updated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_SRT_Time_Updated</name>
        <label>Check if SRT Time Updated?</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SRT_Time_Updated1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SRT_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FSL_SRT_Notes_Tracking_History_Record_0_0</targetReference>
            </connector>
            <label>SRT Time Updated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Noted_Update_is_True</name>
        <label>Noted Update is True</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Check_if_SRT_Time_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SRT_Notes_Updated_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SRT_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FSL_SRT_Notes_Tracking_History_Record_0</targetReference>
            </connector>
            <label>SRT Notes Updated is True</label>
        </rules>
    </decisions>
    <formulas>
        <name>SRTNotesUpdated</name>
        <dataType>String</dataType>
        <expression>&quot;SRT Notes value changed From &quot; &amp;{!$Record__Prior.SRT_Notes__c} &amp; &quot; To &quot; &amp;{!$Record.SRT_Notes__c}</expression>
    </formulas>
    <interviewLabel>FSL SRT Notes After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL SRT Notes After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_FSL_SRT_Notes_Tracking_History_Record_0</name>
        <label>Create FSL SRT Notes Tracking History Record</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Check_if_SRT_Time_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>FSL_SRT__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>SRT Notes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.SRT_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Value__c</field>
            <value>
                <elementReference>$Record__Prior.SRT_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_SRT_History_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FSL_SRT_Notes_Tracking_History_Record_0_0</name>
        <label>Create FSL SRT Notes Tracking History Record</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>FSL_SRT__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Name__c</field>
            <value>
                <stringValue>SRT Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>$Record.SRT_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Value__c</field>
            <value>
                <elementReference>$Record__Prior.SRT_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_SRT_History_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_SRT_Notes_Updated</targetReference>
        </connector>
        <object>FSL_SRT__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
