flows/Generate_Service_Order_PDFs.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Second_SoCollVar</name>
        <label>Add to Second SoCollVar</label>
        <locationX>1537</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>FormsToUpdate2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Forms_Again</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Forms_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_SObjectCollectionVariable</name>
        <label>Assign to SObjectCollectionVariable</label>
        <locationX>1134</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>FormsToUpdate1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Record_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Record_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Disable_Generate_PDF</name>
        <label>Disable Generate PDF</label>
        <locationX>1336</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Forms_Again.Generate_PDF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Second_SoCollVar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Form_Record</name>
        <label>Update Form Record</label>
        <locationX>1256</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Record_Ids.Generate_PDF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_SObjectCollectionVariable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_records_are_false</name>
        <label>Check if records are false</label>
        <locationX>426</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>Generate_PDFs_from_Service_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Form_Records_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_PDF_True</targetReference>
            </connector>
            <label>False Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_ID_Present_in_Selection</name>
        <label>Current ID Present in Selection?</label>
        <locationX>936</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Record_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Your_Forms</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Record_Ids.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Form_Record</targetReference>
            </connector>
            <label>Present?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FormRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Template_Name_and_Form_Number__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>disco__Form__c</object>
        <sortField>disco__Form_Template_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Generate Service Order PDFs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Service Order PDFs</label>
    <loops>
        <name>Loop_Through_Forms_Again</name>
        <label>Loop Through Forms Again</label>
        <locationX>1456</locationX>
        <locationY>653</locationY>
        <collectionReference>FormsToUpdate1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Disable_Generate_PDF</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Form_Records_Again</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Record_Ids</name>
        <label>Loop Through Record Ids</label>
        <locationX>940</locationX>
        <locationY>454</locationY>
        <collectionReference>Lookup_Form_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_ID_Present_in_Selection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Form_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_S_Doc_Job</name>
        <label>Create S-Doc Job</label>
        <locationX>1126</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>PDF_Generation_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>SDOC__Doclist__c</field>
            <value>
                <stringValue>Work Order PDF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__ObjApiName__c</field>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__Oid__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__SendEmail__c</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDOC__Start__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SDOC__SDJob__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Form_Records</name>
        <label>Lookup Form Records</label>
        <locationX>689</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Record_Ids</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>disco__Form__c</object>
        <sortField>disco__Form_Template_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Form_Records_0</name>
        <label>Lookup Form Records</label>
        <locationX>344</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_records_are_false</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Generate_PDF__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>disco__Form__c</object>
        <sortField>disco__Form_Template_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Form_Records</name>
        <label>Update Form Records</label>
        <locationX>962</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_S_Doc_Job</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>FormsToUpdate1</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_Records_Again</name>
        <label>Update Form Records Again</label>
        <locationX>1659</locationX>
        <locationY>651</locationY>
        <inputReference>FormsToUpdate2</inputReference>
    </recordUpdates>
    <screens>
        <description>Please select the form</description>
        <name>Error</name>
        <label>Error</label>
        <locationX>517</locationX>
        <locationY>1047</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_PDF_True</name>
        <label>Generate PDF True</label>
        <locationX>50</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;Please wait one minute before trying again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_PDFs_from_Service_Orders</name>
        <label>Generate PDFs from Service Orders</label>
        <locationX>672</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Form_Records</targetReference>
        </connector>
        <fields>
            <name>Select_Your_Forms</name>
            <choiceReferences>FormRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Your Forms</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PDF_Generation_Complete</name>
        <label>PDF Generation Complete</label>
        <locationX>1282</locationX>
        <locationY>653</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Instructions1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;A full report of the service appointment has been generated. &lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Review the PDFs list here on the Service Order record to view the PDFs and take further action.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>564</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Form_Records_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FormsToUpdate1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>disco__Form__c</objectType>
    </variables>
    <variables>
        <name>FormsToUpdate2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>disco__Form__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
