flows/OSM_OrderFlowForAfterInsertandUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Order_Confirmation_Email_for_Orders</name>
        <label>Send Order Confirmation Email</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>OSM_SendOrderConfirmationNotification</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_if_Record_is_Insert_Or_Update</name>
        <label>Check if Record is Insert Or Update</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert_Operation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Insert Operation</label>
        </rules>
        <rules>
            <name>Update_Operation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Action_To_Perfomr</targetReference>
            </connector>
            <label>Update Operation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Conditions_for_Sending_Emails</name>
        <label>Checking Conditions for Sending Emails</label>
        <locationX>798</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_email_is_sent_or_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ccrz__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OSM_2_mins_completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderConfirmationMailSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OSM_SW_Is_InterCompany_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_OSM_2_Mints_Checkbox_0_0</targetReference>
            </connector>
            <label>Check if email is sent or not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Action_To_Perfomr</name>
        <label>Required Action To Perfomr</label>
        <locationX>182</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Order_Confirmation_Email</name>
            <conditionLogic>1 AND 2 AND (3 OR (4 AND 5 AND 6) ) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ccrz__OrderStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OSM_2_mins_completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderConfirmationMailSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_BMS_PDF_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OSM_PDF_sent_in_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderConfirmationMailSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ccrz__Storefront__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SoftwareStore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Order_Confirmation_Email_for_Orders</targetReference>
            </connector>
            <label>Send Order Confirmation Email</label>
        </rules>
    </decisions>
    <interviewLabel>OSM_OrderFlowForAfterInsertand Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OSM_OrderFlowForAfterInsertandUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_OSM_2_Mints_Checkbox_0_0</name>
        <label>Update the OSM 2 Mints Checkbox</label>
        <locationX>666</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ccrz__Storefront__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SoftwareStore</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OSM_2_mins_completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Record_is_Insert_Or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ccrz__Storefront__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SoftwareStore</stringValue>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Path_To_Run_after_3_Minutes_Of_Record_Creation</name>
            <connector>
                <targetReference>Checking_Conditions_for_Sending_Emails</targetReference>
            </connector>
            <label>Schedule Path To Run after 3 Minutes Of Record Creation</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
