flows/OSM_Product_Activation_Key_Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_OMS_Order_Activation_Key_to_Customer</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send Activation Key Details to Customer</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_OMS_Order_Activation_Key_to_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OMS_Order_Activation_Key_to_Customer_SSOEM</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Send Email to SSOEM On Behalf Customers</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OMS_Order_Activation_Key_to_Customer_SSOEM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_OMS_Order_Activation_Key_to_Customer2</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>send Email to DIST</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_OMS_Order_Activation_Key_to_Customer2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Success Scenario after real time failure</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>SSOEM Success Scenario after real time failure</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Distributor Success Scenario after real time failure</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(([ccrz__E_Order__c].Purchased_By_User_Type__c != $Label.OSM_SSOEM_Admin_UserType),OR(ISCHANGED([ccrz__E_Order__c].ActivationKeyAvailable__c),ISCHANGED([ccrz__E_Order__c].IsActivationKeyJobRun__c)), ([ccrz__E_Order__c].ActivationKeyAvailable__c &gt; 0) ,
[ccrz__E_Order__c].ByPassFlow__c=false,[ccrz__E_Order__c].OrderConfirmationMailSent__c,
[ccrz__E_Order__c].IsActivationKeyJobRun__c,
([ccrz__E_Order__c].ccrz__Account__c.BillingCountry =&apos;United States&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND
(({!myVariable_current.Purchased_By_User_Type__c} != {!$Label.OSM_SSOEM_Admin_UserType}),OR(ISCHANGED({!myVariable_current.ActivationKeyAvailable__c}),ISCHANGED({!myVariable_current.IsActivationKeyJobRun__c})), ({!myVariable_current.ActivationKeyAvailable__c} &gt; 0) ,
{!myVariable_current.ByPassFlow__c}=false,{!myVariable_current.OrderConfirmationMailSent__c},
{!myVariable_current.IsActivationKeyJobRun__c},
({!myVariable_current.ccrz__Account__r.BillingCountry} =&apos;United States&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(([ccrz__E_Order__c].Purchased_By_User_Type__c = $Label.OSM_SSOEM_Admin_UserType),
([ccrz__E_Order__c].isOnBehalf__c =True),
ISCHANGED([ccrz__E_Order__c].ActivationKeyAvailable__c), 
([ccrz__E_Order__c].ActivationKeyAvailable__c &gt; 0) ,
[ccrz__E_Order__c].ByPassFlow__c=false,
[ccrz__E_Order__c].IsActivationKeyJobRun__c,
([ccrz__E_Order__c].OrderConfirmationMailSent__c),
[ccrz__E_Order__c].Send_SSOEM_Customer_Email__c = true)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(({!myVariable_current.Purchased_By_User_Type__c} = {!$Label.OSM_SSOEM_Admin_UserType}),
({!myVariable_current.isOnBehalf__c} =True),
ISCHANGED({!myVariable_current.ActivationKeyAvailable__c}), 
({!myVariable_current.ActivationKeyAvailable__c} &gt; 0) ,
{!myVariable_current.ByPassFlow__c}=false,
{!myVariable_current.IsActivationKeyJobRun__c},
({!myVariable_current.OrderConfirmationMailSent__c}),
{!myVariable_current.Send_SSOEM_Customer_Email__c} = true)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR(ISCHANGED([ccrz__E_Order__c].ActivationKeyAvailable__c),ISCHANGED([ccrz__E_Order__c].IsActivationKeyJobRun__c)), 
([ccrz__E_Order__c].ActivationKeyAvailable__c &gt; 0) ,
[ccrz__E_Order__c].ByPassFlow__c=false,
[ccrz__E_Order__c].OrderConfirmationMailSent__c,
OR([ccrz__E_Order__c].CreatedById  &lt;&gt; [ccrz__E_Order__c].ccrz__User__c, [ccrz__E_Order__c].Purchased_By_User_Type__c = $Label.OSM_SSOEM_Admin_UserType ),
[ccrz__E_Order__c].IsActivationKeyJobRun__c,
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)),
NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)),
([ccrz__E_Order__c].ccrz__Account__c.BillingCountry =&apos;United States&apos; || [ccrz__E_Order__c].ccrz__Account__c.BillingCountry !=&apos;United States&apos;),
([ccrz__E_Order__c].Send_SSOEM_Customer_Email__c = true || [ccrz__E_Order__c].Send_SSOEM_Customer_Email__c = false))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR(ISCHANGED({!myVariable_current.ActivationKeyAvailable__c}),ISCHANGED({!myVariable_current.IsActivationKeyJobRun__c})), 
({!myVariable_current.ActivationKeyAvailable__c} &gt; 0) ,
{!myVariable_current.ByPassFlow__c}=false,
{!myVariable_current.OrderConfirmationMailSent__c},
OR({!myVariable_current.CreatedById}  &lt;&gt; {!myVariable_current.ccrz__User__c}, {!myVariable_current.Purchased_By_User_Type__c} = {!$Label.OSM_SSOEM_Admin_UserType} ),
{!myVariable_current.IsActivationKeyJobRun__c},
NOT(ISBLANK({!myVariable_current.ccrz__Contact__c})),
NOT(ISBLANK({!myVariable_current.ccrz__User__c})),
({!myVariable_current.ccrz__Account__r.BillingCountry} =&apos;United States&apos; || {!myVariable_current.ccrz__Account__r.BillingCountry} !=&apos;United States&apos;),
({!myVariable_current.Send_SSOEM_Customer_Email__c} = true || {!myVariable_current.Send_SSOEM_Customer_Email__c} = false))</expression>
    </formulas>
    <interviewLabel>OSM_Product_Activation_Key_Notifications-14_InterviewLabel</interviewLabel>
    <label>OSM Product Activation Key Notifications</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ccrz__E_Order__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ccrz__E_Order__c].ccrz__E_OrderItems__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Activation Key Mail Sent Status</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Activation Key Generated</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Activation_Key_Generated__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OMS Activation Key Mail</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>OMS_Activation_Key_Mail__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_OrderItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ccrz__E_Order__c].ccrz__E_OrderItems__r</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Update Activation Key Mail Sent Status</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>ccrz__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Activation Key Generated</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Activation_Key_Generated__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>OMS Activation Key Mail</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>OMS_Activation_Key_Mail__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_OrderItem__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
</Flow>
