flows/OSM_Order_Confirmation_Email_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Order_Confirmation_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>OSM_Order_Confirmation_Email_Alert</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_Order_Confirmation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Order_Confirmation_Email_Alert2</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Alert CSR Flow</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_Order_Confirmation_Email_Alert2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Order_Cancel_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Alert to Owner</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_Order_Cancel_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Order_Cancel_Email_Alert2</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Email Alert to CSR User</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_Order_Cancel_Email_Alert2</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Order CreatedBy StoreFront User</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Order Created by CSR</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Order Cancel By StoreFront User</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>Order Cancel By CSR</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision2</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision4</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision6</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;  NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp; 
[ccrz__E_Order__c].SendOrderDetailMail__c  &amp;&amp;
[ccrz__E_Order__c].OSM_SW_Should_mail_Send__c &amp;&amp;
ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Order Submitted&apos;) &amp;&amp; [ccrz__E_Order__c].CreatedById =  [ccrz__E_Order__c].ccrz__User__c &amp;&amp; (ISCHANGED([ccrz__E_Order__c].ActivationKeyAvailable__c ) || [ccrz__E_Order__c].IsGetOrderSuccess__c&lt;&gt; true )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.ccrz__Contact__c})) &amp;&amp;  NOT(ISBLANK({!myVariable_current.ccrz__User__c})) &amp;&amp; 
{!myVariable_current.SendOrderDetailMail__c}  &amp;&amp;
{!myVariable_current.OSM_SW_Should_mail_Send__c} &amp;&amp;
ISPICKVAL({!myVariable_current.ccrz__OrderStatus__c} , &apos;Order Submitted&apos;) &amp;&amp; {!myVariable_current.CreatedById} =  {!myVariable_current.ccrz__User__c} &amp;&amp; (ISCHANGED({!myVariable_current.ActivationKeyAvailable__c} ) || {!myVariable_current.IsGetOrderSuccess__c}&lt;&gt; true )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;  NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp; 
[ccrz__E_Order__c].SendOrderDetailMail__c  &amp;&amp;
[ccrz__E_Order__c].OSM_SW_Should_mail_Send__c &amp;&amp;
ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Order Submitted&apos;) &amp;&amp; [ccrz__E_Order__c].CreatedById =  [ccrz__E_Order__c].ccrz__User__c &amp;&amp; (ISCHANGED([ccrz__E_Order__c].ActivationKeyAvailable__c ) || [ccrz__E_Order__c].IsGetOrderSuccess__c&lt;&gt; true )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_old.ccrz__Contact__c})) &amp;&amp;  NOT(ISBLANK({!myVariable_old.ccrz__User__c})) &amp;&amp; 
{!myVariable_old.SendOrderDetailMail__c}  &amp;&amp;
{!myVariable_old.OSM_SW_Should_mail_Send__c} &amp;&amp;
ISPICKVAL({!myVariable_old.ccrz__OrderStatus__c} , &apos;Order Submitted&apos;) &amp;&amp; {!myVariable_old.CreatedById} =  {!myVariable_old.ccrz__User__c} &amp;&amp; (ISCHANGED({!myVariable_old.ActivationKeyAvailable__c} ) || {!myVariable_old.IsGetOrderSuccess__c}&lt;&gt; true )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;  NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp; 
[ccrz__E_Order__c].SendOrderDetailMail__c &amp;&amp; 
[ccrz__E_Order__c].OSM_SW_Should_mail_Send__c &amp;&amp;
ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Order Submitted&apos;) &amp;&amp; [ccrz__E_Order__c].CreatedById &lt;&gt; [ccrz__E_Order__c].ccrz__User__c &amp;&amp;
(ISCHANGED([ccrz__E_Order__c].ActivationKeyAvailable__c ) || [ccrz__E_Order__c].IsGetOrderSuccess__c&lt;&gt; true )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.ccrz__Contact__c})) &amp;&amp;  NOT(ISBLANK({!myVariable_current.ccrz__User__c})) &amp;&amp; 
{!myVariable_current.SendOrderDetailMail__c} &amp;&amp; 
{!myVariable_current.OSM_SW_Should_mail_Send__c} &amp;&amp;
ISPICKVAL({!myVariable_current.ccrz__OrderStatus__c} , &apos;Order Submitted&apos;) &amp;&amp; {!myVariable_current.CreatedById} &lt;&gt; {!myVariable_current.ccrz__User__c} &amp;&amp;
(ISCHANGED({!myVariable_current.ActivationKeyAvailable__c} ) || {!myVariable_current.IsGetOrderSuccess__c}&lt;&gt; true )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;  NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp; 
[ccrz__E_Order__c].SendOrderDetailMail__c &amp;&amp; 
[ccrz__E_Order__c].OSM_SW_Should_mail_Send__c &amp;&amp;
ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Order Submitted&apos;) &amp;&amp; [ccrz__E_Order__c].CreatedById &lt;&gt; [ccrz__E_Order__c].ccrz__User__c &amp;&amp;
(ISCHANGED([ccrz__E_Order__c].ActivationKeyAvailable__c ) || [ccrz__E_Order__c].IsGetOrderSuccess__c&lt;&gt; true )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_old.ccrz__Contact__c})) &amp;&amp;  NOT(ISBLANK({!myVariable_old.ccrz__User__c})) &amp;&amp; 
{!myVariable_old.SendOrderDetailMail__c} &amp;&amp; 
{!myVariable_old.OSM_SW_Should_mail_Send__c} &amp;&amp;
ISPICKVAL({!myVariable_old.ccrz__OrderStatus__c} , &apos;Order Submitted&apos;) &amp;&amp; {!myVariable_old.CreatedById} &lt;&gt; {!myVariable_old.ccrz__User__c} &amp;&amp;
(ISCHANGED({!myVariable_old.ActivationKeyAvailable__c} ) || {!myVariable_old.IsGetOrderSuccess__c}&lt;&gt; true )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))
&amp;&amp; ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;) &amp;&amp; [ccrz__E_Order__c].ccrz__User__c =[ccrz__E_Order__c].Order_Cancelled_By_CSR__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_current.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_current.OrderProcessedforFSD__c}) ||( {!myVariable_current.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_current.OSM_SW_Is_FSD_refund_Call_Done__c} ))
&amp;&amp; ISPICKVAL({!myVariable_current.ccrz__OrderStatus__c} , &apos;Cancelled&apos;) &amp;&amp; {!myVariable_current.ccrz__User__c} ={!myVariable_current.Order_Cancelled_By_CSR__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))
&amp;&amp; ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;) &amp;&amp; [ccrz__E_Order__c].ccrz__User__c =[ccrz__E_Order__c].Order_Cancelled_By_CSR__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_old.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_old.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_old.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_old.OrderProcessedforFSD__c}) ||( {!myVariable_old.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_old.OSM_SW_Is_FSD_refund_Call_Done__c} ))
&amp;&amp; ISPICKVAL({!myVariable_old.ccrz__OrderStatus__c} , &apos;Cancelled&apos;) &amp;&amp; {!myVariable_old.ccrz__User__c} ={!myVariable_old.Order_Cancelled_By_CSR__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))
&amp;&amp; ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;) &amp;&amp; [ccrz__E_Order__c].ccrz__User__c &lt;&gt; [ccrz__E_Order__c].Order_Cancelled_By_CSR__c  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_current.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_current.OrderProcessedforFSD__c}) ||( {!myVariable_current.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_current.OSM_SW_Is_FSD_refund_Call_Done__c} ))
&amp;&amp; ISPICKVAL({!myVariable_current.ccrz__OrderStatus__c} , &apos;Cancelled&apos;) &amp;&amp; {!myVariable_current.ccrz__User__c} &lt;&gt; {!myVariable_current.Order_Cancelled_By_CSR__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))
&amp;&amp; ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;) &amp;&amp; [ccrz__E_Order__c].ccrz__User__c &lt;&gt; [ccrz__E_Order__c].Order_Cancelled_By_CSR__c  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_old.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_old.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_old.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_old.OrderProcessedforFSD__c}) ||( {!myVariable_old.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_old.OSM_SW_Is_FSD_refund_Call_Done__c} ))
&amp;&amp; ISPICKVAL({!myVariable_old.ccrz__OrderStatus__c} , &apos;Cancelled&apos;) &amp;&amp; {!myVariable_old.ccrz__User__c} &lt;&gt; {!myVariable_old.Order_Cancelled_By_CSR__c}</expression>
    </formulas>
    <interviewLabel>OSM_Order_Confirmation_Email_Alert-56_InterviewLabel</interviewLabel>
    <label>OSM_Order_Confirmation_Email_Alert</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ccrz__E_Order__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ccrz__E_Order__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Update Order should send email</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Should mail Send</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>OSM_SW_Should_mail_Send__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ccrz__E_Order__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Update Order should send email</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Should mail Send</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>OSM_SW_Should_mail_Send__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_Order__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
</Flow>
