flows/OSM_RFQ_EmailAlert2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Email_Alert_RFQ</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Alert to Owner</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_RequestForQuote__c.OSM_Email_Alert_RFQ</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Email_Alert_RFQ_CSR</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Alert to CSR</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>ccrz__E_RequestForQuote__c.OSM_Email_Alert_RFQ_CSR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Email_Alert_RFQ</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Alert to StoreFront User</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_RequestForQuote__c.OSM_Email_Alert_RFQ</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Email_Alert_RFQ_CSR</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Alert to CSR</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <actionName>ccrz__E_RequestForQuote__c.OSM_Email_Alert_RFQ_CSR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Email_Alert_RFQ</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>CSR_STATUS_SENT</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_RequestForQuote__c.OSM_Email_Alert_RFQ</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Email_Alert_RFQ_Rejected</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>CSR_STATUS_REJECTED</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_RequestForQuote__c.OSM_Email_Alert_RFQ_Rejected</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Email_Alert_RFQ_Rejected</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>CSR_INACTIVE_STATUS</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_RequestForQuote__c.OSM_Email_Alert_RFQ_Rejected</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>REQUESTOR_MAIL_ON_REQUEST_STATUS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>CSR_MAIL_ON_REQUEST_STATUS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>CSR_ON_SENT_STATUS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>CSR_ON_REJECTED_STATUS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>CSR_ON_INACTIVE_STATUS</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp; NOT(ISBLANK([ccrz__E_RequestForQuote__c].OSM_CommunityUser__c)) &amp;&amp; ISPICKVAL([ccrz__E_RequestForQuote__c].Status__c, &apos;Requested&apos;) &amp;&amp; [ccrz__E_RequestForQuote__c].OSM_CommunityUser__c  = [ccrz__E_RequestForQuote__c].LastModifiedById </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; NOT(ISBLANK({!myVariable_current.OSM_CommunityUser__c})) &amp;&amp; ISPICKVAL({!myVariable_current.Status__c}, &apos;Requested&apos;) &amp;&amp; {!myVariable_current.OSM_CommunityUser__c}  = {!myVariable_current.LastModifiedById}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp; NOT(ISBLANK([ccrz__E_RequestForQuote__c].OSM_CommunityUser__c )) 
&amp;&amp; ISPICKVAL([ccrz__E_RequestForQuote__c].Status__c, &apos;Requested&apos;) &amp;&amp;
[ccrz__E_RequestForQuote__c].OSM_CommunityUser__c &lt;&gt; [ccrz__E_RequestForQuote__c].LastModifiedById  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; NOT(ISBLANK({!myVariable_current.OSM_CommunityUser__c} )) 
&amp;&amp; ISPICKVAL({!myVariable_current.Status__c}, &apos;Requested&apos;) &amp;&amp;
{!myVariable_current.OSM_CommunityUser__c} &lt;&gt; {!myVariable_current.LastModifiedById}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([ccrz__E_RequestForQuote__c].OSM_CommunityUser__c)) &amp;&amp; 
ISCHANGED([ccrz__E_RequestForQuote__c].Status__c)  &amp;&amp;
ISPICKVAL([ccrz__E_RequestForQuote__c].Status__c, &apos;Sent&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.OSM_CommunityUser__c})) &amp;&amp; 
ISCHANGED({!myVariable_current.Status__c})  &amp;&amp;
ISPICKVAL({!myVariable_current.Status__c}, &apos;Sent&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([ccrz__E_RequestForQuote__c].OSM_CommunityUser__c ))&amp;&amp; ISPICKVAL([ccrz__E_RequestForQuote__c].Status__c, &apos;Rejected&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.OSM_CommunityUser__c} ))&amp;&amp; ISPICKVAL({!myVariable_current.Status__c}, &apos;Rejected&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([ccrz__E_RequestForQuote__c].OSM_CommunityUser__c ))&amp;&amp; ISPICKVAL([ccrz__E_RequestForQuote__c].Status__c, &apos;Inactive&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.OSM_CommunityUser__c} ))&amp;&amp; ISPICKVAL({!myVariable_current.Status__c}, &apos;Inactive&apos;)</expression>
    </formulas>
    <interviewLabel>OSM_RFQ_EmailAlert2-45_InterviewLabel</interviewLabel>
    <label>OSM_RFQ_EmailAlert2</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ccrz__E_RequestForQuote__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_RequestForQuote__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_RequestForQuote__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
