flows/OSM_Order_Confirmation_Email_Alerts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Order_Cancel_Email_Alert3</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Order Cancellation SSOEM Admin</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_Order_Cancel_Email_Alert3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision12</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Order_Cancel_Email_Alert4</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Order Cancellation sent to User</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_Order_Cancel_Email_Alert4</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Order_Cancel_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Alert to Owner</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_Order_Cancel_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Order_Cancel_Email_Alert2</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Email Alert to CSR User</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_Order_Cancel_Email_Alert2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Order_Cancel_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Email Alert to CSR Customers</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_Order_Cancel_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Order_Cancel_Email_Alert2</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Email Alert OrderCancellation Distributor</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_Order_Cancel_Email_Alert2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>OSM_Order_Cancel_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Email Alert OrderCancellation email to Customer</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>ccrz__E_Order__c.OSM_Order_Cancel_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision10</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Order Cancel By StoreFront User</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Order Cancelled by SSOEM Admin</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Order Cancel SSOEM OnBehalf User</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Order Cancel By CSR</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Order Cancel By CSR email send to Customers</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Order Cancelled by OSM Distributor</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Order Cancelled by OSM Distributor</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision2</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision4</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ccrz__E_Order__c].Purchased_By_User_Type__c != $Label.OSM_Distributor_Admin_UserType  &amp;&amp; [ccrz__E_Order__c].Purchased_By_User_Type__c != $Label.OSM_SSOEM_Admin_UserType) &amp;&amp; 
NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))&amp;&amp; 
ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;) &amp;&amp; 
[ccrz__E_Order__c].ccrz__User__c =[ccrz__E_Order__c].Order_Cancelled_By_CSR__c &amp;&amp; 
([ccrz__E_Order__c].ccrz__Account__c.BillingCountry =&apos;United States&apos;)&amp;&amp;
([ccrz__E_Order__c].FW_Product_Count__c = 0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.Purchased_By_User_Type__c} != {!$Label.OSM_Distributor_Admin_UserType}  &amp;&amp; {!myVariable_current.Purchased_By_User_Type__c} != {!$Label.OSM_SSOEM_Admin_UserType}) &amp;&amp; 
NOT(ISBLANK({!myVariable_current.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_current.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_current.OrderProcessedforFSD__c}) ||( {!myVariable_current.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_current.OSM_SW_Is_FSD_refund_Call_Done__c} ))&amp;&amp; 
ISPICKVAL({!myVariable_current.ccrz__OrderStatus__c} , &apos;Cancelled&apos;) &amp;&amp; 
{!myVariable_current.ccrz__User__c} ={!myVariable_current.Order_Cancelled_By_CSR__c} &amp;&amp; 
({!myVariable_current.ccrz__Account__r.BillingCountry} =&apos;United States&apos;)&amp;&amp;
({!myVariable_current.FW_Product_Count__c} = 0)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ccrz__E_Order__c].Purchased_By_User_Type__c = $Label.OSM_SSOEM_Admin_UserType)  &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))&amp;&amp;
(ISCHANGED([ccrz__E_Order__c].ccrz__OrderStatus__c) &amp;&amp; ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;) )&amp;&amp; 
([ccrz__E_Order__c].Send_SSOEM_Customer_Email__c = true || [ccrz__E_Order__c].Send_SSOEM_Customer_Email__c = false)&amp;&amp;
([ccrz__E_Order__c].FW_Product_Count__c = 0) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.Purchased_By_User_Type__c} = {!$Label.OSM_SSOEM_Admin_UserType})  &amp;&amp;
NOT(ISBLANK({!myVariable_current.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_current.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_current.OrderProcessedforFSD__c}) ||( {!myVariable_current.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_current.OSM_SW_Is_FSD_refund_Call_Done__c} ))&amp;&amp;
(ISCHANGED({!myVariable_current.ccrz__OrderStatus__c}) &amp;&amp; ISPICKVAL({!myVariable_current.ccrz__OrderStatus__c} , &apos;Cancelled&apos;) )&amp;&amp; 
({!myVariable_current.Send_SSOEM_Customer_Email__c} = true || {!myVariable_current.Send_SSOEM_Customer_Email__c} = false)&amp;&amp;
({!myVariable_current.FW_Product_Count__c} = 0)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ccrz__E_Order__c].Purchased_By_User_Type__c = $Label.OSM_SSOEM_Admin_UserType &amp;&amp; [ccrz__E_Order__c].isOnBehalf__c =True)
&amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))
&amp;&amp;(ISCHANGED([ccrz__E_Order__c].ccrz__OrderStatus__c) &amp;&amp; ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;) ) &amp;&amp;
([ccrz__E_Order__c].Send_SSOEM_Customer_Email__c = true)&amp;&amp;
([ccrz__E_Order__c].FW_Product_Count__c = 0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.Purchased_By_User_Type__c} = {!$Label.OSM_SSOEM_Admin_UserType} &amp;&amp; {!myVariable_current.isOnBehalf__c} =True)
&amp;&amp;
NOT(ISBLANK({!myVariable_current.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_current.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_current.OrderProcessedforFSD__c}) ||( {!myVariable_current.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_current.OSM_SW_Is_FSD_refund_Call_Done__c} ))
&amp;&amp;(ISCHANGED({!myVariable_current.ccrz__OrderStatus__c}) &amp;&amp; ISPICKVAL({!myVariable_current.ccrz__OrderStatus__c} , &apos;Cancelled&apos;) ) &amp;&amp;
({!myVariable_current.Send_SSOEM_Customer_Email__c} = true)&amp;&amp;
({!myVariable_current.FW_Product_Count__c} = 0)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ccrz__E_Order__c].Purchased_By_User_Type__c != $Label.OSM_Distributor_Admin_UserType  &amp;&amp; [ccrz__E_Order__c].Purchased_By_User_Type__c != $Label.OSM_SSOEM_Admin_UserType) &amp;&amp; 
NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))&amp;&amp; 
ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;) &amp;&amp; 
[ccrz__E_Order__c].ccrz__User__c =[ccrz__E_Order__c].Order_Cancelled_By_CSR__c &amp;&amp; 
([ccrz__E_Order__c].ccrz__Account__c.BillingCountry =&apos;United States&apos;)&amp;&amp;
([ccrz__E_Order__c].FW_Product_Count__c = 0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.Purchased_By_User_Type__c} != {!$Label.OSM_Distributor_Admin_UserType}  &amp;&amp; {!myVariable_old.Purchased_By_User_Type__c} != {!$Label.OSM_SSOEM_Admin_UserType}) &amp;&amp; 
NOT(ISBLANK({!myVariable_old.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_old.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_old.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_old.OrderProcessedforFSD__c}) ||( {!myVariable_old.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_old.OSM_SW_Is_FSD_refund_Call_Done__c} ))&amp;&amp; 
ISPICKVAL({!myVariable_old.ccrz__OrderStatus__c} , &apos;Cancelled&apos;) &amp;&amp; 
{!myVariable_old.ccrz__User__c} ={!myVariable_old.Order_Cancelled_By_CSR__c} &amp;&amp; 
({!myVariable_old.ccrz__Account__r.BillingCountry} =&apos;United States&apos;)&amp;&amp;
({!myVariable_old.FW_Product_Count__c} = 0)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ccrz__E_Order__c].Purchased_By_User_Type__c != $Label.OSM_Distributor_Admin_UserType  &amp;&amp; [ccrz__E_Order__c].Purchased_By_User_Type__c != $Label.OSM_SSOEM_Admin_UserType) &amp;&amp; 
NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))&amp;&amp; 
ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;) &amp;&amp; 
[ccrz__E_Order__c].ccrz__User__c &lt;&gt; [ccrz__E_Order__c].Order_Cancelled_By_CSR__c &amp;&amp; 
([ccrz__E_Order__c].ccrz__Account__c.BillingCountry =&apos;United States&apos; || [ccrz__E_Order__c].ccrz__Account__c.BillingCountry !=&apos;United States&apos;)&amp;&amp; 
([ccrz__E_Order__c].FW_Product_Count__c = 0) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.Purchased_By_User_Type__c} != {!$Label.OSM_Distributor_Admin_UserType}  &amp;&amp; {!myVariable_current.Purchased_By_User_Type__c} != {!$Label.OSM_SSOEM_Admin_UserType}) &amp;&amp; 
NOT(ISBLANK({!myVariable_current.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_current.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_current.OrderProcessedforFSD__c}) ||( {!myVariable_current.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_current.OSM_SW_Is_FSD_refund_Call_Done__c} ))&amp;&amp; 
ISPICKVAL({!myVariable_current.ccrz__OrderStatus__c} , &apos;Cancelled&apos;) &amp;&amp; 
{!myVariable_current.ccrz__User__c} &lt;&gt; {!myVariable_current.Order_Cancelled_By_CSR__c} &amp;&amp; 
({!myVariable_current.ccrz__Account__r.BillingCountry} =&apos;United States&apos; || {!myVariable_current.ccrz__Account__r.BillingCountry} !=&apos;United States&apos;)&amp;&amp; 
({!myVariable_current.FW_Product_Count__c} = 0)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ccrz__E_Order__c].Purchased_By_User_Type__c != $Label.OSM_Distributor_Admin_UserType  &amp;&amp; [ccrz__E_Order__c].Purchased_By_User_Type__c != $Label.OSM_SSOEM_Admin_UserType) &amp;&amp; 
NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))&amp;&amp; 
ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;) &amp;&amp; 
[ccrz__E_Order__c].ccrz__User__c &lt;&gt; [ccrz__E_Order__c].Order_Cancelled_By_CSR__c &amp;&amp; 
([ccrz__E_Order__c].ccrz__Account__c.BillingCountry =&apos;United States&apos; || [ccrz__E_Order__c].ccrz__Account__c.BillingCountry !=&apos;United States&apos;)&amp;&amp; 
([ccrz__E_Order__c].FW_Product_Count__c = 0) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.Purchased_By_User_Type__c} != {!$Label.OSM_Distributor_Admin_UserType}  &amp;&amp; {!myVariable_old.Purchased_By_User_Type__c} != {!$Label.OSM_SSOEM_Admin_UserType}) &amp;&amp; 
NOT(ISBLANK({!myVariable_old.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_old.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_old.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_old.OrderProcessedforFSD__c}) ||( {!myVariable_old.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_old.OSM_SW_Is_FSD_refund_Call_Done__c} ))&amp;&amp; 
ISPICKVAL({!myVariable_old.ccrz__OrderStatus__c} , &apos;Cancelled&apos;) &amp;&amp; 
{!myVariable_old.ccrz__User__c} &lt;&gt; {!myVariable_old.Order_Cancelled_By_CSR__c} &amp;&amp; 
({!myVariable_old.ccrz__Account__r.BillingCountry} =&apos;United States&apos; || {!myVariable_old.ccrz__Account__r.BillingCountry} !=&apos;United States&apos;)&amp;&amp; 
({!myVariable_old.FW_Product_Count__c} = 0)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([ccrz__E_Order__c].Purchased_By_User_Type__c != $Label.OSM_Distributor_Admin_UserType  &amp;&amp;[ccrz__E_Order__c].Purchased_By_User_Type__c != $Label.OSM_SSOEM_Admin_UserType) &amp;&amp; 
NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))&amp;&amp; 
ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;) &amp;&amp; 
[ccrz__E_Order__c].ccrz__User__c &lt;&gt; [ccrz__E_Order__c].Order_Cancelled_By_CSR__c  &amp;&amp; 
([ccrz__E_Order__c].ccrz__Account__c.BillingCountry =&apos;United States&apos;)&amp;&amp;
([ccrz__E_Order__c].FW_Product_Count__c = 0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.Purchased_By_User_Type__c} != {!$Label.OSM_Distributor_Admin_UserType}  &amp;&amp;{!myVariable_current.Purchased_By_User_Type__c} != {!$Label.OSM_SSOEM_Admin_UserType}) &amp;&amp; 
NOT(ISBLANK({!myVariable_current.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_current.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_current.OrderProcessedforFSD__c}) ||( {!myVariable_current.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_current.OSM_SW_Is_FSD_refund_Call_Done__c} ))&amp;&amp; 
ISPICKVAL({!myVariable_current.ccrz__OrderStatus__c} , &apos;Cancelled&apos;) &amp;&amp; 
{!myVariable_current.ccrz__User__c} &lt;&gt; {!myVariable_current.Order_Cancelled_By_CSR__c}  &amp;&amp; 
({!myVariable_current.ccrz__Account__r.BillingCountry} =&apos;United States&apos;)&amp;&amp;
({!myVariable_current.FW_Product_Count__c} = 0)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ccrz__E_Order__c].Purchased_By_User_Type__c = $Label.OSM_Distributor_Admin_UserType  &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))&amp;&amp;
(ISCHANGED([ccrz__E_Order__c].ccrz__OrderStatus__c) &amp;&amp; ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;))  &amp;&amp;
([ccrz__E_Order__c].ccrz__Account__c.BillingCountry =&apos;United States&apos; || [ccrz__E_Order__c].ccrz__Account__c.BillingCountry !=&apos;United States&apos;)&amp;&amp;
([ccrz__E_Order__c].FW_Product_Count__c = 0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Purchased_By_User_Type__c} = {!$Label.OSM_Distributor_Admin_UserType}  &amp;&amp;
NOT(ISBLANK({!myVariable_current.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_current.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_current.OrderProcessedforFSD__c}) ||( {!myVariable_current.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_current.OSM_SW_Is_FSD_refund_Call_Done__c} ))&amp;&amp;
(ISCHANGED({!myVariable_current.ccrz__OrderStatus__c}) &amp;&amp; ISPICKVAL({!myVariable_current.ccrz__OrderStatus__c} , &apos;Cancelled&apos;))  &amp;&amp;
({!myVariable_current.ccrz__Account__r.BillingCountry} =&apos;United States&apos; || {!myVariable_current.ccrz__Account__r.BillingCountry} !=&apos;United States&apos;)&amp;&amp;
({!myVariable_current.FW_Product_Count__c} = 0)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ccrz__E_Order__c].Purchased_By_User_Type__c = $Label.OSM_Distributor_Admin_UserType  
&amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].Order_Cancelled_By_CSR__c))&amp;&amp; NOT(ISBLANK([ccrz__E_Order__c].ccrz__User__c)) &amp;&amp;
NOT(ISBLANK([ccrz__E_Order__c].ccrz__Contact__c)) &amp;&amp;
(NOT([ccrz__E_Order__c].OrderProcessedforFSD__c) ||( [ccrz__E_Order__c].OrderProcessedforFSD__c &amp;&amp;[ccrz__E_Order__c].OSM_SW_Is_FSD_refund_Call_Done__c ))
&amp;&amp;(ISCHANGED([ccrz__E_Order__c].ccrz__OrderStatus__c) &amp;&amp; ISPICKVAL([ccrz__E_Order__c].ccrz__OrderStatus__c , &apos;Cancelled&apos;) ) &amp;&amp; ([ccrz__E_Order__c].ccrz__Account__c.BillingCountry =&apos;United States&apos;)&amp;&amp; 
([ccrz__E_Order__c].FW_Product_Count__c = 0)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.Purchased_By_User_Type__c} = {!$Label.OSM_Distributor_Admin_UserType}  
&amp;&amp;
NOT(ISBLANK({!myVariable_current.Order_Cancelled_By_CSR__c}))&amp;&amp; NOT(ISBLANK({!myVariable_current.ccrz__User__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.ccrz__Contact__c})) &amp;&amp;
(NOT({!myVariable_current.OrderProcessedforFSD__c}) ||( {!myVariable_current.OrderProcessedforFSD__c} &amp;&amp;{!myVariable_current.OSM_SW_Is_FSD_refund_Call_Done__c} ))
&amp;&amp;(ISCHANGED({!myVariable_current.ccrz__OrderStatus__c}) &amp;&amp; ISPICKVAL({!myVariable_current.ccrz__OrderStatus__c} , &apos;Cancelled&apos;) ) &amp;&amp; ({!myVariable_current.ccrz__Account__r.BillingCountry} =&apos;United States&apos;)&amp;&amp; 
({!myVariable_current.FW_Product_Count__c} = 0)</expression>
    </formulas>
    <interviewLabel>OSM_Order_Confirmation_Email_Alerts-45_InterviewLabel</interviewLabel>
    <label>OSM_Order_Confirmation_Email_Alerts8</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ccrz__E_Order__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
</Flow>
