flows/Remove_Tech_Bay_Service_Appointment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_SA_List</name>
        <label>Check SA List</label>
        <locationX>219</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_IsTech_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SA_Dependency</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_IsTech_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dependency_Exists</name>
        <label>Dependency Exists?</label>
        <locationX>539</locationX>
        <locationY>214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_DependencyRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Dependency</targetReference>
            </connector>
            <label>YES1</label>
        </rules>
        <rules>
            <name>NO1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA_DependencyRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SA_Status_None</targetReference>
            </connector>
            <label>NO1</label>
        </rules>
    </decisions>
    <description>To manage cases when SA to be created as multi-Day.</description>
    <interviewLabel>Remove Tech Bay Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Tech Bay Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Dependency</name>
        <label>Delete Dependency</label>
        <locationX>782</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Delete_SA_Status_None</targetReference>
        </connector>
        <inputReference>SA_DependencyRec</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_SA_Status_None</name>
        <label>Delete SA Status=None</label>
        <locationX>773</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_AppointMent_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_SA_Dependency</name>
        <label>Get SA Dependency</label>
        <locationX>396</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dependency_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL__Dependency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSL__Root_Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA_IsTech_Id</elementReference>
            </value>
        </filters>
        <object>FSL__Time_Dependency__c</object>
        <outputReference>SA_DependencyRec</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Tech_SA</name>
        <label>Get Tech SA</label>
        <locationX>227</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_SA_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_a_Tech_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>SA_IsTech_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Tech_SA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SA_Dependency_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FSL__Time_Dependency__c</objectType>
    </variables>
    <variables>
        <name>SA_DependencyRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FSL__Time_Dependency__c</objectType>
    </variables>
    <variables>
        <name>SA_IsTech_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Variable for holding The Id of the Work Order where the Custom Button that launches this is.</description>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
