flows/updateCSMIncNumberInServiceReq.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignIncidentNumber</name>
        <label>assignIncidentNumber</label>
        <locationX>725</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>csmTicketIncidentNum</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!INCticketno_Var},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignTicketTypeForInc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateCase.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getAssignedCaseId</name>
        <label>getAssignedCaseId</label>
        <locationX>454</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>assignedcaseIdVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Service_Request__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>gettingEqualentCaseToUpdate</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>INCticketno_Var</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!iterateCase.Type},&quot;Service Now Incident&quot;),&apos;SNOW-&apos;+{!iterateCase.CSM_Ticket_Incident_Number__c},
IF(ISPICKVAL({!iterateCase.Type},&quot;JIRA Incident&quot;),&apos;JIRA-&apos;+{!iterateCase.CSM_Ticket_Incident_Number__c},
IF(ISPICKVAL({!iterateCase.Type},&quot;QSOL Helpdesk WO&quot;),&apos;QSOL-&apos;+{!iterateCase.CSM_Ticket_Incident_Number__c},&quot; &quot;)))</expression>
    </formulas>
    <interviewLabel>updateCSMIncNumberInServiceReq {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSM_UpdateIncidentTypeNo</label>
    <loops>
        <name>iterateCase</name>
        <label>iterateCase</label>
        <locationX>725</locationX>
        <locationY>376</locationY>
        <collectionReference>getAllIncidentBelongToCurrentCase</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignIncidentNumber</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCSMIncNumberInCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllIncidentBelongToCurrentCase</name>
        <label>getAllIncidentBelongToCurrentCase</label>
        <locationX>590</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignedcaseIdVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Incident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>gettingEqualentCaseToUpdate</name>
        <label>gettingEqualentCaseToUpdate</label>
        <locationX>587</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllIncidentBelongToCurrentCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignedcaseIdVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCSMIncNumberInCase</name>
        <label>updateCSMIncNumberInCase</label>
        <locationX>953</locationX>
        <locationY>357</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignedcaseIdVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Incident__c</field>
            <value>
                <elementReference>iterateCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiting_on_Response__c</field>
            <value>
                <elementReference>csmTicketIncidentNum</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>192</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>getAssignedCaseId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Request__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Incident</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>assignAllIncidentVal</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignedcaseIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignTicketType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignTicketTypeForInc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>csmTicketIncidentNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
