flows/WorkOrderFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FileAttachment</name>
        <label>FileAttachment</label>
        <locationX>871</locationX>
        <locationY>418</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Service_Team_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectTemplate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>DecisionCheck</name>
        <label>DecisionCheck</label>
        <locationX>587</locationX>
        <locationY>115</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FileLink</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cssp_File_Name_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FileAttachment</targetReference>
            </connector>
            <label>FileLink</label>
        </rules>
    </decisions>
    <interviewLabel>WorkOrderFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrderFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>52</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>DecisionCheck</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear STC,&lt;br&gt;&lt;br&gt;
A new attachment has been uploaded by the customer on the Service Order {!$Record.WorkOrderNumber}. Please click on the below link to review the attachment on the Service Order.&lt;br&gt;&lt;br&gt;
{!$Record.Cssp_File_Name_Link__c}&lt;br&gt;&lt;br&gt;
Thank you</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New attachment available for Service Order {!$Record.WorkOrderNumber}</text>
    </textTemplates>
</Flow>
